Repository gradido/gradido, pull requests merged in 2021-09, with the labels that each got.

#777 feat: JSON Web Token for Authentification
  backend/src/auth/auth.ts
  backend/src/graphql/inputs/GdtInputs.ts
  backend/src/graphql/inputs/LoginUserInput.ts
  backend/src/graphql/inputs/TransactionInput.ts
  backend/src/graphql/models/LoginResponse.ts
  backend/src/graphql/resolvers/BalanceResolver.ts
  backend/src/graphql/resolvers/GdtResolver.ts
  backend/src/graphql/resolvers/TransactionResolver.ts
  backend/src/graphql/resolvers/UserResolver.ts
  backend/src/index.ts
  backend/src/jwt/decode.ts
  backend/src/jwt/encode.ts
  frontend/package.json
  frontend/src/components/LanguageSwitch.spec.js
  frontend/src/components/LanguageSwitch.vue
  frontend/src/graphql/queries.js
  frontend/src/main.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddSend.spec.js
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserMail.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserMail.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue
  frontend/src/views/Pages/UserProfileTransactionList.spec.js
  frontend/yarn.lock
Labels: feature, service: frontend, service: backend

#788 Fix Bug in displaying GDT in Old frontend
  community_server/src/Template/StateBalances/overview_gdt.ctp
Labels: service: community server

#779 Analyse Iota Colored Coins
  docu/Concepts/Snippets/1-Blockchain/Roles.md
  docu/Concepts/Snippets/Iota/ColoredCoins.md
  docu/Concepts/Snippets/images/classes.drawio
  docu/Concepts/Snippets/images/classes.png
  docu/Concepts/Snippets/images/example_blockchain.drawio
  docu/Concepts/Snippets/images/example_blockchain.png
  docu/Concepts/Snippets/images/iota.drawio
  docu/Concepts/Snippets/images/iota.png
Labels: docu

#792 fix: Flaky Test for Logout
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
Labels: bug, service: frontend

#795 fix old frontend wrong display of event gdt
  community_server/src/Template/StateBalances/overview_gdt.ctp
Labels: bug, service: community server

#796 different path for checkEmail and resetPassword
  configs/login_server/grd_login.properties
  login_server/src/cpp/JSONInterface/JsonSendEmail.cpp
  login_server/src/cpp/ServerConfig.cpp
  login_server/src/cpp/ServerConfig.h
Labels: feature, service: login server

#799 fix euro after comma gdt view
  community_server/src/Template/StateBalances/overview_gdt.ctp
Labels: bug, service: community server

#797 feat: New JWT in Every Authenticated Response
  backend/package.json
  backend/src/auth/auth.ts
  backend/src/graphql/resolvers/UserResolver.ts
  backend/src/index.ts
  backend/src/jwt/decode.ts
  backend/src/jwt/encode.ts
  frontend/package.json
  frontend/src/graphql/queries.js
  frontend/src/main.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: feature, service: frontend, service: backend

#793 gdt transaction with arrays and without slots
  frontend/src/components/Transaction.spec.js
  frontend/src/components/Transaction.vue
  frontend/src/components/TransactionCollapse.spec.js
  frontend/src/components/TransactionCollapse.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
Labels: service: frontend, refactor

#798 add new components selectLanguage and Usercard_Language
  frontend/src/components/LanguageSwitchSelect.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
  frontend/src/views/Pages/UserProfileOverview.spec.js
  frontend/src/views/Pages/UserProfileOverview.vue
Labels: feature, service: frontend, refactor

#806 refactor: Pagination Buttons
  .github/workflows/test.yml
  frontend/src/components/PaginationButtons.spec.js
  frontend/src/components/PaginationButtons.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
Labels: service: frontend, refactor

#808 Remove discord link
  README.md
Labels: docu

#800 My thoughts to jwt
  docu/Concepts/Snippets/Authorization/concept.md
  docu/Concepts/Snippets/Authorization/jwt.md
  docu/Concepts/Snippets/Authorization/session_id.md
Labels: feature

#812 feat: Increase Coverage Test Frontend
  .github/workflows/test.yml
  frontend/src/components/Collapse/Collapse.vue
  frontend/src/components/Collapse/CollapseItem.vue
  frontend/src/components/index.js
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview/GddAddWork2.vue
  frontend/src/views/Pages/AccountOverview/GddWorkTable.vue
  frontend/src/views/Pages/UserProfileTransactionList.spec.js
Labels: feature, service: frontend

#809 feat: Locale Management
  .github/workflows/test.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/scripts/missing-keys.sh
  frontend/scripts/sort.sh
  frontend/scripts/sort_filter.jq
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/yarn.lock
Labels: feature, service: frontend

#753 Integration of the KlicktippAPI to the User management
  .github/workflows/test.yml
  backend/.env.dist
  backend/package-lock.json
  backend/src/apis/HttpRequest.ts
  backend/src/apis/KlicktippController.ts
  backend/src/apis/klicktippConnector.ts
  backend/src/auth/auth.ts
  backend/src/config/index.ts
  backend/src/graphql/inputs/KlickTippInputs.ts
  backend/src/graphql/inputs/LoginUserInput.ts
  backend/src/graphql/models/CheckEmailResponse.ts
  backend/src/graphql/models/KlickTipp.ts
  backend/src/graphql/models/User.ts
  backend/src/graphql/resolvers/BalanceResolver.ts
  backend/src/graphql/resolvers/GdtResolver.ts
  backend/src/graphql/resolvers/KlicktippResolver.ts
  backend/src/graphql/resolvers/TransactionResolver.ts
  backend/src/graphql/resolvers/UserResolver.ts
  backend/src/index.ts
  backend/src/middleware/klicktippMiddleware.ts
  backend/src/middleware/userResolverMiddleware.ts
  backend/tsconfig.json
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/routes/routes.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Pages/CheckEmail.spec.js
  frontend/src/views/Pages/CheckEmail.vue
  frontend/src/views/Pages/UserProfile/UserCard.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.vue
  frontend/src/views/Pages/UserProfileOverview.vue
  frontend/src/views/Pages/thx.vue
  login_server/src/cpp/JSONInterface/JsonCreateUser.cpp
Labels: feature, service: backend

#807 newsletter subscribe status change in user profile
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/graphql/mutations.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Pages/UserProfile/UserCard.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.vue
  frontend/src/views/Pages/UserProfileOverview.vue
Labels: feature, service: frontend

#811 webpack update
  frontend/package.json
  frontend/src/assets/scss/custom/_components.scss
  frontend/yarn.lock
Labels: service: frontend, devops

#245 added publisher_id field to user
  backend/src/graphql/inputs/LoginUserInput.ts
  backend/src/graphql/models/User.ts
  backend/src/graphql/resolvers/UserResolver.ts
  docu/login_server.api.md
  login_server/skeema/gradido_login/users.sql
  login_server/src/cpp/JSONInterface/JsonCreateUser.cpp
  login_server/src/cpp/JSONInterface/JsonGetUserInfos.cpp
  login_server/src/cpp/JSONInterface/JsonUpdateUserInfos.cpp
  login_server/src/cpp/model/table/User.cpp
  login_server/src/cpp/model/table/User.h
Labels: docu, feature, service: login server

#830 update docker files
  nginx/Dockerfile
  skeema/Dockerfile
Labels: bug, docker

#845 Remove discord link for issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/devops_ticket.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/refactor_ticket.md
  .github/ISSUE_TEMPLATE/release.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: refactor, devops

#844 mock_choose_community
  docu/mock_choose_community.epgz
  docu/mock_choose_community.png
Labels: docu

#794 add commit hash with link to github into frontend
  .env.local.dist
  .env.shell
  .gitignore
  deployment/bare_metal/build_frontend.sh
  docker-compose.override.yml
  docker-compose.yml
  frontend/.env.dist
  frontend/src/config/index.js
  frontend/src/views/Layout/ContentFooter.spec.js
  frontend/src/views/Layout/ContentFooter.vue
  frontend/vue.config.js
Labels: feature, service: frontend

#865 disable auto-resend of not finished transactions on login-server restart
  login_server/src/cpp/ServerConfig.cpp
  login_server/src/cpp/ServerConfig.h
  login_server/src/cpp/model/gradido/Transaction.cpp
Labels: feature, service: login server

#864 docker skeema: mount sql files folder dynamic
  docker-compose.override.yml
  docker-compose.yml
  skeema/Dockerfile
Labels: docker, refactor

#871 fix database not reading config
  database/build/.env.dist
Labels: bug, service: database

#881 Community-Server Test with new db migration
  .github/workflows/test.yml
  database/src/prepare.ts
Labels: bug, service: community server, devops

#863 refactor: Queries to Mutations
  backend/src/graphql/resolvers/TransactionResolver.ts
  backend/src/graphql/resolvers/UserResolver.ts
  frontend/src/components/LanguageSwitch.spec.js
  frontend/src/components/LanguageSwitch.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserMail.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserMail.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
Labels: bug, service: frontend, refactor, service: backend

#889 feat: Redirect to Login when JWT has expired
  backend/src/jwt/decode.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
Labels: feature, service: frontend, service: backend

#831 Implement getBalance in Apollo
  .github/workflows/test.yml
  backend/package-lock.json
  backend/package.json
  backend/src/graphql/models/User.ts
  backend/src/graphql/resolvers/BalanceResolver.ts
  backend/src/index.ts
  backend/src/typeorm/connection.ts
  backend/src/typeorm/entity/Balance.ts
  backend/src/typeorm/entity/Group.ts
  backend/src/typeorm/entity/User.ts
  backend/src/util/decay.ts
  backend/src/util/round.ts
  backend/yarn.lock
Labels: feature, service: backend

#887 round corners removed from profile settings page
  frontend/src/views/Pages/UserProfile/UserCard.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.vue
  frontend/src/views/Pages/UserProfileOverview.vue
Labels: bug, service: frontend

#815 decay calculation is calculated
  frontend/src/components/DecayInformation.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
Labels: feature, service: frontend

#886 826 different design of gdd and gdt lists
  frontend/src/components/DecayInformation.vue
  frontend/src/components/Transaction.vue
  frontend/src/components/TransactionCollapse.vue
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
Labels: question, service: frontend

#891 Apollo list gdt transactions
  backend/src/graphql/resolvers/BalanceResolver.ts
  backend/src/graphql/resolvers/GdtResolver.ts
Labels: refactor, service: backend

#896 bug fix givenType 2,3,5,6 change to givenType 1
  frontend/src/components/Transaction.vue
  frontend/src/components/TransactionCollapse.vue
Labels: bug, service: frontend

#894 Db check with typeorm
  backend/src/database/connection.ts
  backend/src/graphql/resolvers/index.ts
  backend/src/graphql/schema.ts
  backend/src/index.ts
  backend/src/server/context.ts
  backend/src/server/cors.ts
  backend/src/server/plugins.ts
  backend/src/typeorm/connection.ts
  backend/src/typeorm/entity/Migration.ts
  backend/src/typeorm/getDBVersion.ts
Labels: refactor, service: backend

#897 fix error with apollo, typeorm and build
  backend/src/typeorm/connection.ts
Labels: bug, service: backend

#868 docu release plan
  docu/graphics/AnachBüberweisen.drawio
  docu/graphics/AnachBüberweisen.png
Labels: docu

#903 fix: Warnings in Gdd Transaction List Spec
  frontend/src/views/Pages/AccountOverview/GddTransactionList.spec.js
  frontend/test/testSetup.js
Labels: bug, service: frontend

#912 Remove api endpoints from frontend config
  frontend/.env.dist
  frontend/src/config/index.js
Labels: service: frontend, refactor

#893 Apollo list transactions
  backend/package-lock.json
  backend/src/graphql/inputs/TransactionInput.ts
  backend/src/graphql/models/Decay.ts
  backend/src/graphql/models/Transaction.ts
  backend/src/graphql/resolvers/BalanceResolver.ts
  backend/src/graphql/resolvers/TransactionResolver.ts
  backend/src/graphql/resolvers/listTransactions.ts
  backend/src/typeorm/entity/Balance.ts
  backend/src/typeorm/entity/Transaction.ts
  backend/src/typeorm/entity/TransactionCreation.ts
  backend/src/typeorm/entity/TransactionSendCoin.ts
  backend/src/typeorm/entity/User.ts
  backend/src/typeorm/entity/UserTransaction.ts
  backend/src/util/decay.ts
Labels: refactor, service: backend
