Repository gradido/gradido, pull requests merged in 2021-03, with the labels that each got.

#51 v0.9.2
  CHANGELOG.md
  frontend/package.json
  package.json
Labels: devops

#54 sprache angepasst, for login, pwd, sigin
  frontend/package.json
  frontend/src/App.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/routes/routes.js
  frontend/src/store/store.js
  frontend/src/views/KontoOverview/GddSent.vue
  frontend/src/views/KontoOverview/GddStatus.vue
  frontend/src/views/Layout/AuthLayout.vue
  frontend/src/views/Layout/AuthLayout_gdd.vue
  frontend/src/views/Layout/ContentFooter.vue
  frontend/src/views/Layout/DashboardLayout.vue
  frontend/src/views/Pages/Explorer.vue
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Password.vue
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/UserProfileActivity.vue
  frontend/src/views/Starter/SampleFooter.vue
  frontend/src/views/Starter/SampleLayout.vue
  frontend/src/views/Starter/SampleNavbar.vue
  frontend/src/views/Starter/SamplePage.vue
  frontend/yarn.lock
Labels: refactor, service: frontend

#56 Add Feature in user search old frontend because Support has requested the feature long ago
  community_server/src/Controller/Component/JsonRequestClientComponent.php
  community_server/src/Controller/StateUsersController.php
  community_server/src/Form/UserSearchForm.php
  community_server/src/Template/StateUsers/search.ctp
  community_server/webroot/js/userSearch.js
  community_server/webroot/js/userSearch.min.js
  login_server/src/cpp/JSONInterface/JsonGetLogin.cpp
  login_server/src/cpp/JSONInterface/JsonGetUsers.cpp
  login_server/src/cpp/SingletonManager/EmailManager.cpp
  login_server/src/cpp/controller/EmailVerificationCode.cpp
  login_server/src/cpp/controller/User.cpp
  login_server/src/cpp/controller/User.h
  login_server/src/cpp/model/table/EmailOptIn.cpp
  login_server/src/cpp/model/table/EmailOptIn.h
  login_server/src/cpp/model/table/ModelBase.h
  login_server/src/cpp/tasks/Thread.cpp
Labels: feature, service: frontend

#55 Setup unit tests for frontend
  .github/workflows/test.yml
  frontend/.babelrc
  frontend/.gitignore
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/CloseButton.spec.js
  frontend/yarn.lock
Labels: feature, service: frontend

#69 Correctly use transactions API in frontend
  frontend/src/config/index.js
  frontend/src/store/store.js
  frontend/src/views/KontoOverview/GddTable.vue
Labels: bug

#74 feat: Localize links to gradito.net
  frontend/src/views/Layout/ContentFooter.vue
Labels: bug

#67 feat: Lokalize Validation Messages
  frontend/package.json
  frontend/src/App.vue
  frontend/src/i18n.js
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/vee-validate.js
  frontend/src/views/Layout/AuthLayout_gdd.vue
  frontend/src/views/Layout/ContentFooter.vue
  frontend/yarn.lock
Labels: feature, service: frontend

#78 fix bug with access rights
  login_server/src/cpp/JSONInterface/JsonGetUserInfos.cpp
Labels: bug

#80 use_correct_send_api
  frontend/src/apis/communityAPI.js
  frontend/src/config/index.js
  frontend/src/store/store.js
Labels: bug

#88 qrcode scanner fixed, datum in activitäten fixed, sprache not null fixed
  frontend/src/App.vue
  frontend/src/views/KontoOverview/GddAddWork.vue
  frontend/src/views/KontoOverview/GddAddWork2.vue
  frontend/src/views/KontoOverview/GddSend.vue
  frontend/src/views/KontoOverview/GddStatus.vue
  frontend/src/views/Pages/UserProfile/EditProfileForm.vue
  frontend/src/views/Pages/UserProfile/UserCard.vue
  frontend/src/views/Pages/UserProfileActivity.vue
Labels: bug, feature, service: frontend

#86 activity page stap 2
  frontend/src/store/store.js
  frontend/src/views/KontoOverview/GddAddWork2.vue
  frontend/src/views/Pages/UserProfileActivity.vue
Labels: feature, service: frontend

#96 add check session state json function and doc
  docu/login_server.api.md
  login_server/src/cpp/JSONInterface/JsonCheckSessionState.cpp
  login_server/src/cpp/JSONInterface/JsonCheckSessionState.h
  login_server/src/cpp/JSONInterface/JsonRequestHandlerFactory.cpp
Labels: docu, feature, service: login server

#110 new version 0.9.3
  CHANGELOG.md
  frontend/package.json
  package.json
Labels: devops

#103 Build on run
  docker-compose.override.yml
  login_server/Dockerfile
  login_server/Dockerfile.debug
  login_server/Dockerfiles/Dockerfile.dependencies
  login_server/Dockerfiles/Dockerfile.protoc
  login_server/Dockerfiles/build_and_run.sh
Labels: docker, service: login server
