Repository gradido/gradido, pull requests merged in 2021-08, with the labels that each got.

#686 Apollo gdt
  backend/.env.dist
  backend/src/config/index.ts
  backend/src/graphql/inputs/GdtInputs.ts
  backend/src/graphql/models/GdtEntry.ts
  backend/src/graphql/models/GdtEntryList.ts
  backend/src/graphql/resolvers/GdtResolver.ts
  backend/src/index.ts
Labels: feature, service: backend

#646 Css color input error
  frontend/src/components/Inputs/InputEmail.vue
  frontend/src/components/Inputs/InputPassword.vue
  frontend/src/components/Inputs/InputPasswordConfirmation.vue
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
Labels: bug

#683 mobile friendly, add text, change text
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/UserProfile/UserCard.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfileOverview.vue
Labels: bug, service: frontend

#700 increase coverage to 34%
  .github/workflows/test.yml
Labels: service: login server

#699 Apollo sendCoins via Login-Server
  backend/src/graphql/resolvers/TransactionResolver.ts
Labels: feature, service: backend

#714 Login-Server bug fix, allow names with 2 characters also
  login_server/src/cpp/SingletonManager/SessionManager.cpp
Labels: service: login server

#687 650-display of the gdt transactions
  community_server/src/Controller/AppRequestsController.php
  community_server/src/Controller/StateBalancesController.php
  configs/community_server/app.php
  docker-compose.override.yml
  docu/community-server.api.md
  frontend/README.md
  frontend/public/img/icons/cards/bitcoin.png
  frontend/public/img/icons/cards/mastercard.png
  frontend/public/img/icons/cards/paypal.png
  frontend/public/img/icons/cards/visa.png
  frontend/public/img/icons/common/github.svg
  frontend/public/img/icons/common/google.svg
  frontend/public/img/icons/flags/DE.png
  frontend/public/img/icons/flags/GB.png
  frontend/public/img/icons/flags/US.png
  frontend/public/img/icons/icons-translation.png
  frontend/public/img/theme/angular.jpg
  frontend/public/img/theme/bootstrap.jpg
  frontend/public/img/theme/img-1-1000x600.jpg
  frontend/public/img/theme/img-1-1000x900.jpg
  frontend/public/img/theme/landing-1.png
  frontend/public/img/theme/landing-2.png
  frontend/public/img/theme/landing-3.png
  frontend/public/img/theme/profile-cover.jpg
  frontend/public/img/theme/react.jpg
  frontend/public/img/theme/sketch.jpg
  frontend/public/img/theme/team-1.jpg
  frontend/public/img/theme/team-2.jpg
  frontend/public/img/theme/team-3.jpg
  frontend/public/img/theme/team-4.jpg
  frontend/public/img/theme/team-5.jpg
  frontend/public/img/theme/vue.jpg
  frontend/src/apis/communityAPI.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
  frontend/src/views/Pages/UserProfileTransactionList.spec.js
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: feature, service: frontend

#712 fix bug, change statment from transaction infbox
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
Labels: bug, service: frontend

#716 feat: Add Pagination Buttons to GDT Transaction List
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
Labels: bug, feature, service: frontend

#724 bugfix: change to new frontend passwort reset
  login_server/src/cpp/HTTPInterface/PageRequestMessagedHandler.cpp
  login_server/src/cpp/HTTPInterface/PageRequestMessagedHandler.h
  login_server/src/cpsp/Login.cpsp
Labels: bug, service: login server

#725 update code for correct transactions listening
  community_server/src/Controller/AppRequestsController.php
Labels: bug, service: community server

#726 Community update for gdt list GDT transaction format
  community_server/src/Controller/StateBalancesController.php
  community_server/src/Template/StateBalances/overview_gdt.ctp
Labels: service: community server

#688 612 docu structure
  .gitignore
  docu/Concepts/BusinessRequirements/BenutzerVerwaltung.md
  docu/Concepts/BusinessRequirements/CommunityVerwaltung.md
  docu/Concepts/BusinessRequirements/GraDiDoTransaktionen.md
  docu/Concepts/BusinessRequirements/KontenVerwaltung.md
  docu/Concepts/BusinessRequirements/RegelnDerGeldschoepfung.md
  docu/Concepts/BusinessRequirements/graphics/CommunityModell.drawio
  docu/Concepts/BusinessRequirements/graphics/Elopage-GDT-Transaktionen.drawio
  docu/Concepts/BusinessRequirements/graphics/GradidoÜbersichtMaske.bmpr
  docu/Concepts/BusinessRequirements/graphics/GradidoÜbersichtMaske.pdf
  docu/Concepts/BusinessRequirements/graphics/HierarischesCommunityModell.drawio
  docu/Concepts/BusinessRequirements/graphics/Kontoarten.drawio
  docu/Concepts/BusinessRequirements/image/CommunityModell.png
  docu/Concepts/BusinessRequirements/image/Elopage-GDT-Transaktionen.png
  docu/Concepts/BusinessRequirements/image/HierarchischesCommunityModell.png
  docu/Concepts/BusinessRequirements/image/Kontoarten.png
  docu/Concepts/BusinessRequirements/image/my_gradido.png
  docu/Concepts/TechnicalRequirements/Architecture/TechnicalOverview.md
  docu/Concepts/TechnicalRequirements/Transactions/Transaktionen.md
  docu/Concepts/TechnicalRequirements/graphics/CommunityDBSkeema.drawio
  docu/Concepts/TechnicalRequirements/graphics/CommunityServerApi.drawio
  docu/Concepts/TechnicalRequirements/graphics/GradidoBusinessDBSkeema.drawio
  docu/Concepts/TechnicalRequirements/graphics/GradidoBusinessObjekte.drawio
  docu/Concepts/TechnicalRequirements/graphics/ModulsOverview.drawio
  docu/Concepts/TechnicalRequirements/graphics/TechnicalOverview.drawio
  docu/Concepts/TechnicalRequirements/image/CommunityDBSkeema.png
  docu/Concepts/TechnicalRequirements/image/CommunityServerApi.png
  docu/Concepts/TechnicalRequirements/image/GradidoBusinessDBSkeema.png
  docu/Concepts/TechnicalRequirements/image/GradidoBusinessObjekte.png
  docu/Concepts/TechnicalRequirements/image/ModulsOverview.png
  docu/Concepts/TechnicalRequirements/image/TechnicalOverview.png
  docu/Concepts/Testfallkatalog/ReadMe-Testkatalog.md
  docu/Concepts/Testfallkatalog/T01-CommunityVerwaltung/T01-C001-01-CreateCommunity.md
  docu/Concepts/Testfallkatalog/T02-Benutzerverwaltung/T02-C001-01-LoginMaske.md
  docu/Concepts/Testfallkatalog/T02-Benutzerverwaltung/T02-C001-02-LoginMaske.md
  docu/Concepts/Testfallkatalog/T02-Benutzerverwaltung/T02-C001-03-LoginMaske.md
  docu/Concepts/Testfallkatalog/T03-Schoepfung-Vergaenglichkeit/T03-C001-01-CreateActiveBasicIncome.md
  docu/Concepts/Testfallkatalog/Testfall-Vorlage.md
  docu/Concepts/Testfallkatalog/image/T02-C001-01-LoginMaske.png
  docu/Concepts/Testfallkatalog/image/T02-C001-03-LoginMaske1.png
  docu/Concepts/Testfallkatalog/image/T02-C001-03-LoginMaske2.png
  docu/Concepts/Testfallkatalog/image/T02-C001-03-LoginMaske3.png
  docu/Concepts/Testfallkatalog/image/T02-C001-03-LoginMaske4.png
Labels: docu

#711 change text from Geld to Gradidos
  community_server/src/Controller/TransactionSendCoinsController.php
  community_server/src/Locale/de_DE/default.mo
  community_server/src/Locale/de_DE/default.po
  community_server/src/Locale/default.pot
Labels: bug, service: community server

#701 feat: Vue Apollo Client
  .github/workflows/test.yml
  backend/src/graphql/inputs/GdtInputs.ts
  backend/src/graphql/models/Decay.ts
  backend/src/graphql/models/GdtEntry.ts
  backend/src/graphql/models/GdtEntryList.ts
  backend/src/graphql/models/Transaction.ts
  backend/src/graphql/resolvers/GdtResolver.ts
  backend/src/graphql/resolvers/TransactionResolver.ts
  frontend/.env.dist
  frontend/package.json
  frontend/src/apis/communityAPI.js
  frontend/src/apis/loginAPI.js
  frontend/src/components/DecayInformation.vue
  frontend/src/components/LanguageSwitch.spec.js
  frontend/src/components/LanguageSwitch.vue
  frontend/src/config/index.js
  frontend/src/graphql/queries.js
  frontend/src/main.js
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/validation-rules.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
  frontend/src/views/Pages/ForgotPassword.spec.js
  frontend/src/views/Pages/ForgotPassword.vue
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserMail.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserMail.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue
  frontend/yarn.lock
Labels: feature, service: frontend, refactor

#731 Docu fragen community
  docu/other/fragen-community.md
Labels: docu

#736 Added a fetchPolicy: 'no-cache' to the login vall.
  frontend/src/views/Pages/Login.vue
Labels: bug, service: frontend

#737 feat: Testing Tabs of TransactionLists
  .github/workflows/test.yml
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/UserProfileTransactionList.spec.js
  frontend/src/views/Pages/thx.spec.js
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: service: frontend, test

#734 logo changed, old logos and icons deleted
  frontend/public/favicon.png
  frontend/public/img/brand/Gradido-Coin_300_120dpi.png
  frontend/public/img/brand/Gradido-Coin_300_120dpi_comic.png
  frontend/public/img/brand/Gradido-Coin_300_120dpi_cubeb.png
  frontend/public/img/brand/Gradido-Coin_300_120dpi_sw.png
  frontend/public/img/brand/Gradido-Coin_500_175dpi.png
  frontend/public/img/brand/cube.webm
  frontend/public/img/brand/favicon.png
  frontend/public/img/brand/green.png
  frontend/public/img/brand/white.png
  frontend/public/img/icons/gradido/minus-low.png
  frontend/public/img/icons/gradido/minus.png
  frontend/public/img/icons/gradido/my_gradido.png
  frontend/public/img/icons/gradido/plus-low.png
  frontend/public/img/icons/gradido/plus.png
  frontend/public/img/icons/gradido/qr-make.png
  frontend/public/img/icons/gradido/qr-scan-pure.png
  frontend/public/img/icons/gradido/qr-scan.png
  frontend/src/icon.js
Labels: service: frontend, refactor

#768 database_reachable_in_testmode
  docker-compose.override.yml
Labels: refactor, devops, service: database

#771 some_docu
  docu/Neue_User_einladenl.txt
  docu/graphics/gdt_transactions.drawio
  docu/graphics/gdt_transactions.png
  docu/userstory.feature.template
Labels: docu

#769 issue_type_release
  .github/ISSUE_TEMPLATE/release.md
Labels: devops

#756 backend_version
  backend/CHANGELOG.md
  backend/package.json
  package.json
  scripts/release.sh
Labels: feature, refactor, service: backend

#773 decay with the value 0 is no longer displayed
  frontend/src/components/DecayInformation.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
Labels: bug, service: frontend, refactor

#775 fix_database_migrations
  backend/src/index.ts
  docker-compose.override.yml
Labels: bug, service: database

#776 Remove Migrations from community server
  .github/workflows/test.yml
  community_server/composer.json
  community_server/src/Application.php
  community_server/src/Controller/AppController.php
  community_server/src/Controller/MigrationsController.php
  community_server/src/Locale/de_DE/default.po
  community_server/src/Locale/default.pot
  community_server/src/Model/Entity/Migration.php
  community_server/src/Model/Table/MigrationsTable.php
  community_server/src/Template/Migrations/add.ctp
  community_server/src/Template/Migrations/edit.ctp
  community_server/src/Template/Migrations/index.ctp
  community_server/src/Template/Migrations/migrate.ctp
  community_server/src/Template/Migrations/view.ctp
  community_server/tests/Fixture/Migrations2Fixture.php
  community_server/tests/Fixture/MigrationsFixture.php
  community_server/tests/TestCase/ApplicationTest.php
  community_server/tests/TestCase/Controller/AppRequestControllerTest.php.old
  community_server/tests/TestCase/Controller/MigrationsControllerTest.php
  community_server/tests/TestCase/Controller/PagesControllerTest.php
  community_server/tests/TestCase/Model/Table/MigrationsTableTest.php
Labels: bug, service: community server

#782 Fix missing gdt id
  backend/src/graphql/models/GdtEntry.ts
  frontend/src/graphql/queries.js
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
Labels: bug, service: frontend, service: backend
