Repository gradido/gradido, pull requests merged in 2021-12, with the labels that each got.

#1135 Admin pending creation
  .github/workflows/test.yml
  admin/package.json
  admin/public/img/brand/green.png
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/NavBar.spec.js
  admin/src/components/NavBar.vue
  admin/src/components/UserTable.vue
  admin/src/graphql/createPendingCreation.js
  admin/src/graphql/verifyLogin.js
  admin/src/main.js
  admin/src/main.test.js
  admin/src/pages/UserSearch.vue
  admin/src/store/store.js
  admin/yarn.lock
  backend/package.json
  backend/src/graphql/arg/CreatePendingCreationArgs.ts
  backend/src/graphql/model/CreatePendingCreation.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/server/createServer.ts
  backend/src/typeorm/repository/PendingCreation.ts
  backend/src/typeorm/repository/TransactionCreation.ts
  backend/yarn.lock
  database/entity/0005-admin_tables/LoginPendingTasksAdmin.ts
  database/entity/LoginPendingTasksAdmin.ts
  database/entity/index.ts
  database/migrations/0005-admin_tables.ts
Labels: feature, service: backend, service: database, service: admin

#1140 Admin pending creation queries
  .github/workflows/test.yml
  admin/src/graphql/getCountPendingCreations.js
  admin/src/graphql/getPendingCreations.js
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.vue
  admin/src/store/store.js
  admin/src/store/store.test.js
  backend/src/graphql/model/PendingCreation.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/typeorm/repository/User.ts
  backend/src/webhook/elopage.ts
Labels: service: admin

#1150 feat: Verify Login in Admin Interface
  .github/workflows/test.yml
  admin/src/graphql/verifyLogin.js
  admin/src/main.js
  admin/src/router/guards.js
  admin/src/router/guards.test.js
  admin/src/store/store.js
  admin/src/store/store.test.js
Labels: feature, service: admin

#1138 docu_release
  README.md
  scripts/release.sh
Labels: docu, feature, service: admin

#1153 Admin confirm pending creation
  .github/workflows/test.yml
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/components/UserTable.vue
  admin/src/graphql/confirmPendingCreation.js
  admin/src/graphql/getCountPendingCreations.js
  admin/src/pages/Overview.vue
  backend/src/graphql/model/PendingCreation.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  database/entity/0001-init_db/TransactionCreation.ts
  database/migrations/0002-add_settings.ts
  database/migrations/0003-login_server_tables.ts
  database/migrations/0004-login_server_data.ts
  database/migrations/0005-admin_tables.ts
Labels: service: admin

#1146 feat: Seed Transaction Creations
  database/README.md
  database/entity/0001-init_db/Balance.ts
  database/entity/0001-init_db/TransactionSignature.ts
  database/entity/0001-init_db/User.ts
  database/entity/TransactionSignature.ts
  database/entity/index.ts
  database/src/factories/balance.factory.ts
  database/src/factories/transaction-creation.factory.ts
  database/src/factories/transaction-signature.factory.ts
  database/src/factories/transaction.factory.ts
  database/src/factories/user-transaction.factory.ts
  database/src/index.ts
  database/src/interface/TransactionContext.ts
  database/src/interface/UserInterface.ts
  database/src/seeds/decay-start-block.seed.ts
  database/src/seeds/helpers/user-helpers.ts
  database/src/seeds/users/bibi-bloxberg.ts
  database/src/seeds/users/bob-baumeister.ts
  database/src/seeds/users/raeuber-hotzenplotz.ts
Labels: feature, service: database

#1158 register add tabindex-1 on password show
  frontend/src/components/Inputs/InputPassword.vue
Labels: service: frontend

#1130 login_call_resetPassword
  .github/workflows/test.yml
  backend/.env.dist
  backend/src/auth/INALIENABLE_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/config/index.ts
  backend/src/graphql/arg/ChangePasswordArgs.ts
  backend/src/graphql/model/CheckEmailResponse.ts
  backend/src/graphql/model/LoginViaVerificationCode.ts
  backend/src/graphql/model/SendPasswordResetEmailResponse.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/middleware/klicktippMiddleware.ts
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
  frontend/src/views/Pages/CheckEmail.spec.js
  frontend/src/views/Pages/CheckEmail.vue
  frontend/src/views/Pages/ForgotPassword.spec.js
  frontend/src/views/Pages/ForgotPassword.vue
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
Labels: service: frontend, refactor, service: backend

#1159 Login fix creation validation
  login_server/src/cpp/model/gradido/Transaction.cpp
  login_server/src/cpp/model/gradido/TransactionCreation.cpp
Labels: service: login server

#1119 Error on upgrade database after downgrade
  database/migrations/0004-login_server_data.ts
Labels: refactor, service: database

#1160 fix: Pending Creations are Updated Without Page Reload
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.vue
Labels: bug, service: admin

#1161 feat: Test Apollo Provider in Frontend
  .github/workflows/test.yml
  admin/src/main.js
  admin/src/main.test.js
  admin/src/plugins/apolloProvider.js
  admin/src/plugins/apolloProvider.test.js
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/main.js
  frontend/src/plugins/apolloProvider.js
  frontend/src/plugins/apolloProvider.test.js
  frontend/yarn.lock
Labels: feature, service: frontend, epic, devops, test, service: admin

#1152 catch error Client certificate revoked and pass error.session-expired…
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/mixins/getCommunityInfo.js
  frontend/src/plugins/dashboard-plugin.test.js
  frontend/src/routes/router.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/RegisterCommunity.spec.js
  frontend/src/views/Pages/RegisterSelectCommunity.spec.js
  frontend/src/views/Pages/RegisterSelectCommunity.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile/UserCard_CoinAnimation.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_CoinAnimation.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.vue
Labels: service: frontend, service: backend

#1180 fix_i18n
  .github/workflows/test.yml
  frontend/babel.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: bug, service: frontend

#1184 naming_conventions_pending_tasks
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/typeorm/repository/LoginPendingTasksAdmin.ts
Labels: refactor, service: backend

#1176 database_docker_fixes
  database/Dockerfile
  docker-compose.override.yml
  docker-compose.yml
Labels: bug, refactor, service: database

#1162 533 refactor menu remove tim
  frontend/src/App.vue
  frontend/src/components/Menu/Navbar.spec.js
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/components/Navbar/NavbarToggleButton.vue
  frontend/src/components/NavbarToggleButton.vue
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/components/SidebarPlugin/SidebarItem.vue
  frontend/src/components/SidebarPlugin/index.js
  frontend/src/components/index.js
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/plugins/dashboard-plugin.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/SendOverview.spec.js
  frontend/src/views/Pages/SendOverview.vue
  frontend/test/testSetup.js
Labels: service: frontend

#1172 feat: Test Creation in Admin Interface
  .github/workflows/test.yml
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
Labels: feature, devops, test, service: admin

#1167 fix: No Nodemon in Database Scripts
  database/package.json
  database/yarn.lock
Labels: service: database

#1186 feat: Frontend Refactor and Tests
  .github/workflows/test.yml
  frontend/src/plugins/globalDirectives.js
  frontend/src/plugins/globalDirectives.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Pages/SendOverview.vue
Labels: feature, service: frontend, test

#1182 state-balance balanceDate can't get the date of the last transaction
  backend/src/graphql/resolver/AdminResolver.ts
Labels: bug, service: backend

#1183 Error handling in GddTransactionList.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GddTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
Labels: service: frontend

#1164 1145 refactor admin resolver from master
  backend/src/graphql/resolver/AdminResolver.ts
Labels: refactor, service: backend

#1149 1057 display gdd balance when sending
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/SendOverview.spec.js
  frontend/src/views/Pages/SendOverview.vue
  frontend/src/views/Pages/SendOverview/GddSend/TransactionConfirmation.vue
  frontend/src/views/Pages/SendOverview/GddSend/TransactionResult.vue
Labels: service: frontend

#1195 fix_optin_code_regeneration
  backend/src/graphql/resolver/UserResolver.ts
Labels: bug, service: backend

#1206 Withdrew password argument of createUser.
  backend/src/graphql/arg/CreateUserArgs.ts
  backend/src/webhook/elopage.ts
Labels: bug, service: backend

#1185 Moved reverse of the getPendingCreations to the AdminResolver instead…
  admin/src/components/UserTable.vue
  admin/src/graphql/createPendingCreation.js
  admin/src/graphql/updatePendingCreation.js
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  backend/src/graphql/arg/CreatePendingCreationArgs.ts
  backend/src/graphql/arg/UpdatePendingCreationArgs.ts
  backend/src/graphql/resolver/AdminResolver.ts
Labels: refactor, service: backend, service: admin

#1179 wrong_login_is_not_password_reset
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
Labels: bug, service: frontend

#1207 migration_0006_login_users_collation
  backend/src/server/createServer.ts
  database/entity/0001-init_db/User.ts
  database/entity/0002-add_settings/User.ts
  database/entity/0006-login_users_collation/LoginUser.ts
  database/entity/LoginUser.ts
  database/migrations/0002-add_settings.ts
  database/migrations/0003-login_server_tables.ts
  database/migrations/0004-login_server_data.ts
  database/migrations/0005-admin_tables.ts
  database/migrations/0006-login_users_collation.ts
Labels: bug, docu, service: database

#1202 1197 admin interface created transactions list
  admin/src/components/ConfirmRegisterMailFormular.spec.js
  admin/src/components/ConfirmRegisterMailFormular.vue
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/CreationTransactionListFormular.spec.js
  admin/src/components/CreationTransactionListFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/components/NavBar.vue
  admin/src/components/RowDetails.vue
  admin/src/components/UserTable.vue
  admin/src/graphql/searchUsers.js
  admin/src/graphql/sendActivationEmail.js
  admin/src/graphql/transactionList.js
  admin/src/pages/Creation.vue
  admin/src/pages/Overview.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  backend/.env.dist
  backend/src/config/index.ts
  backend/src/graphql/arg/Paginated.ts
  backend/src/graphql/model/UserAdmin.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/typeorm/repository/UserTransaction.ts
  frontend/src/graphql/queries.js
Labels: feature, service: admin

#1214 pr_admin_refactor
  .github/workflows/test.yml
  admin/Dockerfile
  admin/babel.config.js
  admin/package.json
  admin/scripts/missing-keys.sh
  admin/scripts/sort.sh
  admin/scripts/sort_filter.jq
  admin/src/components/CreationFormular.vue
  admin/src/components/UserTable.vue
  admin/src/i18n.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/locales/index.js
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
Labels: refactor, service: admin

#1213 Roadmap
  .gitignore
  .vscode/extensions.json
  docu/graphics/roadmap.drawio
  docu/graphics/roadmap.png
Labels: devops, conception

#1218 Admin Translations German English
  .vscode/settings.json
  admin/src/components/ConfirmRegisterMailFormular.spec.js
  admin/src/components/ConfirmRegisterMailFormular.vue
  admin/src/components/ContentFooter.vue
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/CreationTransactionListFormular.spec.js
  admin/src/components/CreationTransactionListFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/components/NavBar.spec.js
  admin/src/components/NavBar.vue
  admin/src/components/RowDetails.vue
  admin/src/components/UserTable.spec.js
  admin/src/components/UserTable.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/Overview.spec.js
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
Labels: refactor, service: admin

#1129 1055 concept of operations requirements
  docu/Concepts/BusinessRequirements/Betrieb und Support.md
  docu/Concepts/BusinessRequirements/CommunityVerwaltung.md
  docu/Concepts/BusinessRequirements/RegelnDerGeldschoepfung.md
  docu/Concepts/BusinessRequirements/graphics/Ablauf_Neue_Community_erstellen.drawio
  docu/Concepts/BusinessRequirements/graphics/RegistrationProcess.drawio
  docu/Concepts/BusinessRequirements/image/Ablauf_Neue_Community_erstellen.png
  docu/Concepts/BusinessRequirements/image/CommunityChannelCommunication.png
  docu/Concepts/BusinessRequirements/image/CommunityCreationChannel.png
  docu/Concepts/BusinessRequirements/image/CommunityNetwork.png
  docu/Concepts/BusinessRequirements/image/LoginPageNewFrontend.png
  docu/Concepts/BusinessRequirements/image/RegisterPageNewFrontend.png
  docu/Concepts/BusinessRequirements/image/RegisterThxPageNewFrontend.png
  docu/Concepts/BusinessRequirements/image/RegistrationProcess.png
Labels: docu

#969 #751 Änderungen auf Federation und Community-Erstellprozess
  docu/Concepts/BusinessRequirements/BenutzerVerwaltung.md
  docu/Concepts/BusinessRequirements/CommunityVerwaltung.md
  docu/Concepts/BusinessRequirements/RegelnDerGeldschoepfung.md
Labels: docu

#1217 feat: Test Create User Mutation
  .github/workflows/test.yml
  backend/jest.config.js
  backend/package.json
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/middleware/userResolverMiddleware.ts
  backend/tsconfig.json
  database/.env.dist
  database/build/.env.dist
  database/package.json
  database/src/config/index.ts
  database/src/helpers.ts
  database/src/index.ts
Labels: service: backend, service: database

#1215 Remove confirmation of own pending creation
  backend/src/graphql/resolver/AdminResolver.ts
Labels: feature, service: backend, service: admin

#1187 feat: Catch No Cookies Allowed
  frontend/src/main.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  support/README.md
Labels: feature, service: frontend
