Repository gradido/gradido, pull requests merged in 2021-06, with the labels that each got.

#473 feat: Pagination Buttons for Transaction List
  .github/workflows/test.yml
  community_server/src/Controller/AppRequestsController.php
  frontend/src/apis/communityAPI.js
  frontend/src/components/PaginationButtons.spec.js
  frontend/src/components/PaginationButtons.vue
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: feature, service: community server, service: frontend

#491 fix: GDD Send Amount Input Field
  frontend/package.json
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/plugins/globalDirectives.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionConfirmation.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: bug, service: frontend

#518 fix: Remove Target Date in Send Coins Request
  community_server/src/Controller/AppRequestsController.php
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionConfirmation.vue
  frontend/src/views/Pages/UserProfile.spec.js
Labels: service: community server, service: frontend

#526 remove check decays for being at least 100 GDD cent
  community_server/src/Model/Table/TransactionsTable.php
Labels: service: community server

#523 compare with last transaction sended
  login_server/src/cpp/JSONInterface/JsonCreateTransaction.cpp
  login_server/src/cpp/model/Session.cpp
  login_server/src/cpp/model/Session.h
  login_server/src/cpp/model/gradido/Transaction.cpp
  login_server/src/cpp/model/gradido/Transaction.h
Labels: service: login server

#496 Community coverage
  .github/workflows/test.yml
  community_server/Dockerfile
Labels: service: community server

#525 fix: Validation of GDD Send Amount Field
  frontend/src/main.js
Labels: bug, service: frontend

#512 feat: Toaster to Display Messages
  frontend/package.json
  frontend/src/App.vue
  frontend/src/apis/loginAPI.js
  frontend/src/assets/scss/argon.scss
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/ForgotPassword.vue
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile.spec.js
  frontend/src/views/Pages/UserProfile.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue
  frontend/src/views/Pages/UserProfileOverview.spec.js
  frontend/src/views/Pages/UserProfileOverview.vue
  frontend/yarn.lock
Labels: feature, help wanted, service: frontend

#524 Remove base input example login vue
  .github/workflows/test.yml
  frontend/src/assets/scss/core/badges/_badge-circle.scss
  frontend/src/assets/scss/core/badges/_badge-dot.scss
  frontend/src/assets/scss/core/badges/_badge.scss
  frontend/src/assets/scss/custom/_components.scss
  frontend/src/components/Badge.vue
  frontend/src/components/BaseAlert.vue
  frontend/src/components/BaseButton.vue
  frontend/src/components/BaseDropdown.vue
  frontend/src/components/BaseHeader.vue
  frontend/src/components/BasePagination.vue
  frontend/src/components/BaseProgress.vue
  frontend/src/components/BaseSlider.vue
  frontend/src/components/BaseTable.vue
  frontend/src/components/Breadcrumb/Breadcrumb.vue
  frontend/src/components/Breadcrumb/BreadcrumbItem.vue
  frontend/src/components/Breadcrumb/RouteBreadcrumb.vue
  frontend/src/components/ButtonCheckbox.vue
  frontend/src/components/ButtonRadioGroup.vue
  frontend/src/components/Cards/Card.vue
  frontend/src/components/Cards/StatsCard.vue
  frontend/src/components/Charts/BarChart.js
  frontend/src/components/Charts/LineChart.js
  frontend/src/components/Charts/config.js
  frontend/src/components/Charts/globalOptionsMixin.js
  frontend/src/components/Charts/optionHelpers.js
  frontend/src/components/Charts/roundedCornersExtension.js
  frontend/src/components/CloseButton.spec.js
  frontend/src/components/CloseButton.vue
  frontend/src/components/Inputs/BaseCheckbox.vue
  frontend/src/components/Inputs/BaseInput.vue
  frontend/src/components/Inputs/BaseRadio.vue
  frontend/src/components/Modal-OLD.vue
  frontend/src/components/Modal.vue
  frontend/src/components/Navbar/BaseNav.vue
  frontend/src/components/NotificationPlugin/Notification.vue
  frontend/src/components/NotificationPlugin/Notifications.vue
  frontend/src/components/NotificationPlugin/index.js
  frontend/src/components/SearchUser.vue
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/components/SidebarPlugin/index.js
  frontend/src/components/Tabs/Tab.vue
  frontend/src/components/Tabs/Tabs.vue
  frontend/src/components/index.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/plugins/globalComponents.js
  frontend/src/store/store.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Layout/DashboardNavbar.vue
  frontend/src/views/Pages/AccountOverview/GddAddWork2.vue
  frontend/src/views/Pages/ForgotPassword.vue
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.vue
  frontend/test/testSetup.js
Labels: refactor, service: frontend

#545 feat: Validate Change Username
  .github/workflows/test.yml
  frontend/src/apis/loginAPI.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue
Labels: service: frontend

#546 feat: Test Forget Password
  .github/workflows/test.yml
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Pages/ForgotPassword.spec.js
  frontend/src/views/Pages/ForgotPassword.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  frontend/test/testSetup.js
Labels: feature, service: frontend

#519 Change password require old password
  docu/login_server.api.md
  login_server/CMakeLists.txt.lib
  login_server/Dockerfile
  login_server/src/cpp/HTTPInterface/PageRequestHandlerFactory.cpp
  login_server/src/cpp/JSONInterface/JsonRequestHandlerFactory.cpp
  login_server/src/cpp/JSONInterface/JsonSendEmail.cpp
  login_server/src/cpp/JSONInterface/JsonUpdateUserInfos.cpp
  login_server/src/cpp/JSONInterface/JsonUpdateUserInfos.h
  login_server/src/cpp/SingletonManager/SessionManager.cpp
  login_server/src/cpp/SingletonManager/SessionManager.h
  login_server/src/cpp/controller/User.cpp
  login_server/src/cpp/controller/User.h
  login_server/src/cpp/test/JSONInterface/TestJsonCheckUsername.cpp
  login_server/src/cpp/test/JSONInterface/TestJsonUpdateUserInfos.cpp
  login_server/src/cpp/test/JSONInterface/TestJsonUpdateUserInfos.h
  login_server/src/cpp/test/main.cpp
  login_server/src/cpsp/TestUserGenerator.cpsp
Labels: service: frontend, service: login server

#548 change userdata button disable rules
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
Labels: bug, feature, service: frontend

#561 fix: Change Password Form
  .github/workflows/test.yml
  frontend/src/apis/loginAPI.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
Labels: bug, service: frontend

#562 Mobile UI send gdd form
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
Labels: feature, service: frontend

#556 feat: Trim Email on Blur
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
Labels: service: frontend

#565 fix to big text ths
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionResult.vue
Labels: bug, service: frontend

#551 hot fixes shown by test
  .github/workflows/test.yml
  community_server/src/Controller/AppController.php
  community_server/src/Model/Table/TransactionsTable.php
  community_server/tests/TestCase/Controller/AppRequestControllerTest.php
  login_server/src/cpp/JSONInterface/JsonGetLogin.cpp
  login_server/src/cpp/JSONInterface/JsonRequestHandlerFactory.cpp
  login_server/src/cpp/SingletonManager/PendingTasksManager.cpp
  login_server/src/cpp/SingletonManager/PendingTasksManager.h
  login_server/src/cpp/SingletonManager/SessionManager.cpp
  login_server/src/cpp/lib/MultithreadContainer.h
  login_server/src/cpp/model/Session.cpp
  login_server/src/cpp/model/gradido/Transaction.cpp
  login_server/src/cpp/model/table/ModelBase.cpp
  login_server/src/cpp/model/table/PendingTask.cpp
Labels: bug, service: login server

#567 fix: Thousend Dividers on GDD Send Amount Field
  frontend/src/i18n.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
Labels: bug, service: frontend

#566 Hide unuse components in profil
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
  frontend/src/views/Pages/UserProfile/UserCard.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfileOverview.spec.js
  frontend/src/views/Pages/UserProfileOverview.vue
Labels: bug, service: frontend

#570 Login reset password
  docu/login_server.api.md
  frontend/src/apis/loginAPI.js
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  login_server/src/cpp/JSONInterface/JsonRequestHandler.cpp
  login_server/src/cpp/JSONInterface/JsonRequestHandlerFactory.cpp
  login_server/src/cpp/JSONInterface/JsonResetPassword.cpp
  login_server/src/cpp/JSONInterface/JsonResetPassword.h
  login_server/src/cpp/JSONInterface/JsonUpdateUserInfos.cpp
  login_server/src/cpp/SingletonManager/HederaTaskManager.cpp
  login_server/src/cpp/SingletonManager/HederaTaskManager.h
  login_server/src/cpp/test/JSONInterface/TestJsonResetPassword.cpp
  login_server/src/cpp/test/JSONInterface/TestJsonResetPassword.h
  login_server/src/cpp/test/JSONInterface/TestJsonUpdateUserInfos.cpp
Labels: service: frontend, service: login server

#571 fix: API Call for Reset Password
  frontend/src/apis/loginAPI.js
Labels: bug, service: frontend

#572 fix: Remove Grouping for Max Error
  frontend/src/main.js
Labels: bug, service: frontend

#573 add first error additional as msg
  CHANGELOG.md
  frontend/package.json
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  login_server/src/cpp/JSONInterface/JsonUpdateUserInfos.cpp
  package.json
Labels: bug, service: frontend, service: login server

#578 Login fix pending transactions
  login_server/src/cpp/model/gradido/Transaction.cpp
  login_server/src/cpsp/CheckTransaction.cpsp
Labels: service: login server

#576 update mysql because tuple has changed
  login_server/src/cpp/JSONInterface/JsonGetUsers.cpp
  login_server/src/cpp/controller/User.cpp
  login_server/src/cpp/test/JSONInterface/TestJsonGetUsers.cpp
  login_server/src/cpp/test/main.cpp
Labels: service: login server

#574 update transfer email text
  community_server/src/Template/Email/text/notification_transfer.ctp
Labels: service: community server

#580 Auto deploy
  deployment/bare_metal/build_and_start_login_server.sh
  deployment/bare_metal/build_frontend.sh
  deployment/bare_metal/nginx/sites-available/gradido
  deployment/bare_metal/nginx/sites-available/gradido_updating
  deployment/bare_metal/nginx/updating_original.html
  deployment/bare_metal/update_all.sh
  deployment/bare_metal/update_db_schemas.sh
Labels: service: backend, service: community server, service: frontend, service: login server

#581 release
  CHANGELOG.md
  frontend/package.json
  package.json
Labels: devops

#483 move decay between transactions into the transactions
  community_server/src/Controller/AppController.php
  community_server/src/Controller/MigrationsController.php
  community_server/src/Model/Table/TransactionsTable.php
  community_server/src/Model/Transactions/TransactionCreation.php
  community_server/src/Template/AppRequests/list_transactions.ctp
  community_server/tests/Fixture/Migrations2Fixture.php
  community_server/tests/TestCase/Controller/AppRequestControllerTest.php
Labels: service: community server

#579 Update Password Reset E-Mail Subject Encoding
  configs/login_server/LOCALE/de_DE.mo
  configs/login_server/LOCALE/de_DE.po
  configs/login_server/LOCALE/messages.pot
  login_server/src/LOCALE/de_DE.mo
  login_server/src/LOCALE/de_DE.po
  login_server/src/cpp/model/email/Email.cpp
Labels: service: login server

#600 Fix crashing Problem with Login-Server
  docker-compose.override.yml
  login_server/Dockerfiles/ubuntu/Dockerfile.debug
Labels: bug, service: login server

#564 refactor: Password Component
  .github/workflows/test.yml
  frontend/src/components/Inputs/InputEmail.spec.js
  frontend/src/components/Inputs/InputEmail.vue
  frontend/src/components/Inputs/InputPassword.spec.js
  frontend/src/components/Inputs/InputPassword.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
Labels: refactor, service: frontend
