Repository gradido/gradido, pull requests merged in 2021-04, with the labels that each got.

#134 at last, fix email-bug
  login_server/src/cpp/SingletonManager/EmailManager.cpp
Labels: bug

#113 feat: Test Login Form
  frontend/jest.config.js
  frontend/package.json
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: feature, service: frontend

#138 Fix compose bug
  docker-compose.override.yml
  docker-compose.yml
  frontend/vue.config.js
  login_server/Dockerfile.debug
  login_server/Dockerfiles/build_and_run.sh
  login_server/src/cpp/Gradido_LoginServer.cpp
  nginx/nginx.conf
Labels: bug, docker

#156 feat: Activate Coverage Report For Unit Tests In Frontend
  frontend/.gitignore
  frontend/jest.config.js
  frontend/package.json
Labels: feature

#154 feat: Test Dashboard Layout
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/test/testSetup.js
Labels: docu

#152 fix-125-link-to-community
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/store/store.js
  frontend/src/views/Layout/ContentFooter.vue
  frontend/src/views/Layout/DashboardLayout_gdd.vue
Labels: feature

#157 userstorry_button.txt example
  docu/userstorry_button.txt
Labels: docu

#159 docu frontend menu page structur
  docu/menu-struktur.pdf
Labels: docu

#153 90 show release version in frontend
  frontend/.env.dist
  frontend/src/config/index.js
  frontend/src/views/Layout/ContentFooter.vue
Labels: feature

#166 documentation for reset password
  docu/README.md
  docu/login_server.api.md
Labels: docu

#167 fix: Remove Hashtag From Route
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/routes/router.js
  frontend/src/views/KontoOverview/GddSend.vue
  frontend/src/views/Layout/ContentFooter.vue
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  nginx/nginx.conf
Labels: bug

#158 feat: Add Coverage Check To GitHub Workflow
  .github/workflows/test.yml
Labels: docu, feature

#174 Community 14.04.21
  community_server/config/bootstrap.php
  community_server/config/routes.php
  community_server/skeema/gradido_community/transactions.sql
  community_server/src/Controller/StateBalancesController.php
  community_server/src/Model/Entity/StateBalance.php
  community_server/src/Model/Transactions/Transaction.php
  community_server/src/Model/Transactions/TransactionBody.php
  community_server/tests/Fixture/BaseTestFixture.php
  community_server/tests/Fixture/StateBalancesFixture.php
  community_server/tests/Fixture/StateUserTransactionsFixture.php
  community_server/tests/Fixture/StateUsersFixture.php
  community_server/tests/Fixture/TransactionCreationsFixture.php
  community_server/tests/Fixture/TransactionSendCoinsFixture.php
  community_server/tests/Fixture/TransactionSignaturesFixture.php
  community_server/tests/Fixture/TransactionsFixture.php
  community_server/tests/TestCase/Controller/StateBalancesControllerTest.php
  community_server/tests/TestCase/Model/Table/StateBalancesTableTest.php
Labels: feature

#176 coverage_no_report
  .github/workflows/test.yml
Labels: refactor

#175 Login 14.04.21
  login_server/src/cpp/model/table/PendingTask.cpp
Labels: bug

#160 fix register
  .github/workflows/test.yml
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
Labels: feature, service: frontend

#170 fix: Gradido-Akademie in Footer Links to gradido.net
  frontend/src/views/Layout/ContentFooter.spec.js
  frontend/src/views/Layout/ContentFooter.vue
Labels: bug, service: frontend

#194 refactor: Redirects and Misuse of Children in Router
  frontend/src/App.vue
  frontend/src/routes/routes.js
  frontend/src/views/Layout/Content.vue
Labels: bug

#196 feat: Link to Whitepaper in Content-Footer
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Layout/ContentFooter.spec.js
  frontend/src/views/Layout/ContentFooter.vue
Labels: feature

#200 workflows_refactor
  .github/workflows/publish.yml
  .github/workflows/test.yml
  login_server/Dockerfile
Labels: devops, docker, refactor

#203 62 pwd reset
  frontend/src/App.vue
  frontend/src/apis/loginAPI.js
  frontend/src/routes/router.js
  frontend/src/routes/routes.js
  frontend/src/store/store.js
  frontend/src/views/Pages/ForgotPassword.vue
  frontend/src/views/Pages/KontoOverview.spec.js
  frontend/src/views/Pages/KontoOverview.vue
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
Labels: feature, service: frontend

#205 fix_docker_compose
  docker-compose.override.yml
Labels: bug, docker

#202 refactor: Remove Cookies
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/BaseAlert.vue
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/main.js
  frontend/src/routes/router.js
  frontend/src/routes/routes.js
  frontend/src/store/store.js
  frontend/src/views/Layout/DashboardNavbar.vue
  frontend/src/views/Pages/KontoOverview.spec.js
  frontend/src/views/Pages/KontoOverview.vue
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.vue
  frontend/yarn.lock
Labels: refactor, service: frontend

#206 feat: Raise Frontend Test Coverage to 12%
  .github/workflows/test.yml
Labels: devops

#204 refactor: Remove Right Menu
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/views/Layout/DashboardNavbar.vue
Labels: refactor, service: frontend

#198 Community 15 04 2021
  community_server/src/Controller/AppRequestsController.php
  community_server/src/Controller/StateBalancesController.php
  community_server/src/Model/Entity/StateBalance.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/BasicTypes.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/GradidoCreation.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/GradidoTransaction.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/GradidoTransfer.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/GroupFriendsUpdate.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/GroupMemberUpdate.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/ManageNodeBody.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/ManageNodeGroupAdd.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/ManageNodeRequest.php
  community_server/src/Model/Messages/GPBMetadata/Gradido/TransactionBody.php
  community_server/src/Model/Messages/Proto/Gradido/HederaID.php
  community_server/src/Model/Messages/Proto/Gradido/ManageNodeBody.php
  community_server/src/Model/Messages/Proto/Gradido/ManageNodeGroupAdd.php
  community_server/src/Model/Messages/Proto/Gradido/ManageNodeRequest.php
  community_server/src/Model/Messages/Proto/Gradido/ManageNodeResponse.php
  community_server/src/Model/Messages/Proto/Gradido/ManageNodeResponse/ErrorCode.php
  community_server/src/Model/Messages/Proto/Gradido/ManageNodeResponse_ErrorCode.php
  community_server/src/Model/Table/StateBalancesTable.php
  community_server/src/Model/Table/StateUsersTable.php
  community_server/src/Model/Table/TransactionSendCoinsTable.php
  community_server/src/Model/Table/TransactionsTable.php
  community_server/src/Model/Transactions/TransactionBase.php
  community_server/src/Model/Transactions/TransactionCreation.php
  community_server/src/Model/Transactions/TransactionTransfer.php
  community_server/tests/TestCase/Controller/StateBalancesControllerTest.php
  docu/community-server.api.md
  frontend/.env.dist
  frontend/src/apis/communityAPI.js
  frontend/src/config/index.js
Labels: bug, refactor, service: community server

#215 refactor: Remove loginAPI Call from Store
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/store/store.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Layout/DashboardNavbar.vue
Labels: refactor, service: frontend

#219 User Object on Json Login
  docu/login_server.api.md
  login_server/src/cpp/JSONInterface/JsonLoginViaEmailVerificationCode.cpp
  login_server/src/cpp/JSONInterface/JsonUnsecureLogin.cpp
Labels: feature, service: login server

#220 Login add language
  docu/login_server.api.md
  login_server/src/cpp/JSONInterface/JsonGetUserInfos.cpp
Labels: feature, service: login server

#227 fix empty reply by empty group_id
  login_server/src/cpp/JSONInterface/JsonUnsecureLogin.cpp
Labels: bug, service: login server

#212 feat: Reset Password
  configs/login_server/grd_login.properties
  frontend/src/apis/loginAPI.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/routes/routes.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
Labels: feature, service: frontend

#231 Change css
  frontend/src/views/KontoOverview/GddSend.vue
Labels: bug, service: frontend

#246 Clicks on button
  frontend/src/views/KontoOverview/GddSend.vue
  frontend/src/views/Pages/Register.vue
Labels: bug

#251 fix error "Integrity constraint violation: 1052 Column 'id' in where …
  community_server/src/Model/Table/StateBalancesTable.php
Labels: bug, service: community server

#252 add short description for target date in creation transaction
  docu/community-server.api.md
Labels: docu

#244 add language as fields which will be returned with user-object
  docu/login_server.api.md
  login_server/src/cpp/model/table/User.cpp
Labels: feature, service: login server

#255 13_coverage
  .github/workflows/test.yml
Labels: devops, service: frontend

#253 fix_nginx_docker
  docker-compose.override.yml
  docker-compose.yml
  frontend/.env.dist
  frontend/Dockerfile
  frontend/package.json
  frontend/run/server.js
  frontend/server.js
  frontend/src/routes/router.js
  frontend/src/views/KontoOverview/GddSend.vue
  frontend/vue.config.js
  nginx/nginx.conf
Labels: bug, devops, docker, refactor, service: frontend

#262 fix_issue_templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/devops_ticket.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/refactor_tickets.md
Labels: devops, docu

#250 update skeema call to allow also for unsafe db updates
  skeema/Dockerfile
Labels: bug, docker

#260 bug: Dynamic Balance
  community_server/src/Controller/AppRequestsController.php
  community_server/src/Model/Table/StateBalancesTable.php
  frontend/src/apis/communityAPI.js
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/store/store.js
  frontend/src/views/KontoOverview/GddSend.vue
  frontend/src/views/KontoOverview/GddStatus.spec.js
  frontend/src/views/KontoOverview/GddStatus.vue
  frontend/src/views/KontoOverview/GddTable.vue
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/KontoOverview.spec.js
  frontend/src/views/Pages/KontoOverview.vue
  login_server/.gitignore
  login_server/src/cpp/model/table/PendingTask.cpp
Labels: bug, refactor, service: frontend

#269 change order of session_id
  community_server/src/Controller/AppController.php
Labels: bug, service: community server

#267 remove links to not work
  frontend/src/routes/routes.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
Labels: bug, devops

#270 refactor: Test and Clean Up Store
  .github/workflows/test.yml
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/views/KontoOverview/GddStatus.spec.js
  frontend/src/views/KontoOverview/GddStatus.vue
  frontend/src/views/KontoOverview/GddTable.vue
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/KontoOverview.vue
  frontend/src/views/Pages/Register.vue
Labels: docu, service: frontend
