Repository gradido/gradido, pull requests merged in 2021-11, with the labels that each got.

#1058 Adminarea old
  docu/presentation/adminarea-old-new.pdf
Labels: docu

#1051 checkEmail.vue page text is displayed correctly now
  frontend/src/views/Pages/CheckEmail.vue
Labels: bug, service: frontend

#1048 Spelling error fixed 'Berechnungsformel'
  frontend/src/locales/de.json
Labels: bug, service: frontend

#1072 fix open community server user account creation
  community_server/src/Controller/ServerUsersController.php
Labels: bug, service: community server

#1052 Documentation on the coin creation and the steps to have the accounts…
  docu/create-coins-as-admin.md
Labels: docu

#1073 vscode_suggest_extensions
  .vscode/extensions.json
Labels: feature, devops

#1075 Login hotfixes 1.5.1
  login_server/src/cpp/controller/User.cpp
  login_server/src/cpsp/CheckTransaction.cpsp
Labels: bug, service: login server, service: community server

#951 feat: Setup Unit Tests for Resolvers in Backend
  .github/workflows/test.yml
  backend/Dockerfile
  backend/package.json
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/schema.ts
  backend/src/index.ts
  backend/src/server/createServer.ts
  backend/yarn.lock
  docker-compose.test.yml
  docu/Gradido-Admin.epgz
  docu/graphics/gradido_admin.png
  docu/graphics/userdetails.png
  frontend/jest.config.js
  frontend/src/assets/mocks/styleMock.js
  frontend/src/plugins/dashboard-plugin.test.js
Labels: feature, help wanted, service: backend

#1037 login_call_check_username
  backend/src/graphql/arg/CheckUsernameArgs.ts
  backend/src/graphql/model/CheckUsernameResponse.ts
  backend/src/graphql/resolver/UserResolver.ts
  database/entity/0003-login_server_tables/LoginUser.ts
  database/entity/LoginUser.ts
  database/entity/index.ts
  frontend/src/graphql/queries.js
  frontend/src/validation-rules.js
Labels: service: login server, refactor, service: backend

#1065 fresh_install_instructions
  README.md
Labels: docu

#1046 change getCustomRepository to createUser function
  backend/src/graphql/resolver/UserResolver.ts
Labels: bug, service: backend, service: database

#1043 1036 register page breaks without community
  frontend/src/mixins/getCommunityInfo.js
  frontend/src/store/store.js
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/RegisterCommunity.spec.js
  frontend/src/views/Pages/RegisterCommunity.vue
  frontend/src/views/Pages/RegisterSelectCommunity.spec.js
  frontend/src/views/Pages/RegisterSelectCommunity.vue
Labels: bug, service: frontend

#1070 login_call_create_user
  .github/workflows/test.yml
  backend/.env.dist
  backend/package.json
  backend/src/config/index.ts
  backend/src/config/mnemonic.english.txt
  backend/src/config/mnemonic.words_ulf.encoding.txt
  backend/src/config/mnemonic.words_ulf.txt
  backend/src/config/mnemonic.words_ulf_org.txt
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/typeorm/repository/LoginEmailOptIn.ts
  backend/src/typeorm/repository/LoginUser.ts
  backend/src/typeorm/repository/LoginUserBackup.ts
  backend/src/util/sendEMail.ts
  backend/yarn.lock
  database/entity/0003-login_server_tables/LoginEmailOptIn.ts
  database/entity/0003-login_server_tables/LoginUser.ts
  database/entity/0003-login_server_tables/LoginUserBackup.ts
  database/entity/LoginEmailOptIn.ts
  database/entity/LoginUserBackup.ts
  database/entity/index.ts
Labels: service: login server, refactor, service: backend

#1083 login_call_hasElopage
  backend/src/graphql/resolver/UserResolver.ts
  database/entity/0003-login_server_tables/LoginElopageBuys.ts
  database/entity/LoginElopageBuys.ts
  database/entity/index.ts
Labels: service: login server, refactor, service: backend

#1096 login_call_logout
  backend/src/graphql/resolver/UserResolver.ts
Labels: service: login server, service: backend

#1102 feat: Raise Test Coverage Frontend
  .github/workflows/test.yml
  frontend/src/plugins/globalComponents.test.js
  frontend/src/views/Pages/SendOverview/GddSend/QrCode.spec.js
  frontend/src/views/Pages/SendOverview/GddSend/QrCode.vue
Labels: service: frontend, test

#1079 fix: Await Resolved Promises in Backend Unit Tests
  backend/src/graphql/resolver/CommunityResolver.test.ts
Labels: bug, service: backend, test

#1084 login_call_updateUserInfos
  .github/workflows/test.yml
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/model/UpdateUserInfosResponse.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/jwt/decode.ts
  backend/src/jwt/encode.ts
  backend/src/util/sendEMail.ts
  frontend/src/graphql/mutations.js
Labels: service: login server, refactor, service: backend

#1110 login_call_getUserInfos
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: service: login server, refactor, service: backend

#1098 Apollo jwt withdraw session
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/jwt/decode.ts
  backend/src/jwt/encode.ts
Labels: refactor, service: backend

#1045 feat: Setup Admin Interface
  .github/workflows/test.yml
  admin/.dockerignore
  admin/.eslintignore
  admin/.eslintrc.js
  admin/.gitattributes
  admin/.gitignore
  admin/.prettierrc.js
  admin/Dockerfile
  admin/README.md
  admin/babel.config.js
  admin/jest.config.js
  admin/package.json
  admin/public/favicon.png
  admin/public/index.html
  admin/run/server.js
  admin/src/App.spec.js
  admin/src/App.vue
  admin/src/components/NotFoundPage.spec.js
  admin/src/components/NotFoundPage.vue
  admin/src/config/index.js
  admin/src/i18n.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/main.js
  admin/src/main.test.js
  admin/src/router/guards.js
  admin/src/router/router.js
  admin/src/router/routes.js
  admin/src/store/store.js
  admin/src/store/store.test.js
  admin/test/testSetup.js
  admin/vue.config.js
  admin/yarn.lock
  docker-compose.override.yml
  docker-compose.yml
  nginx/nginx.conf
Labels: feature, service: admin

#1095 Login call unsecure login
  backend/src/config/index.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/typeorm/repository/LoginElopageBuys.ts
  backend/src/typeorm/repository/LoginUser.ts
  backend/src/typeorm/repository/User.ts
Labels: service: login server, service: backend

#1128 Changed the Auto increment so that it is done after the rollback and …
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug, service: backend

#1099 Adding a check that the user is activated before letting them login.
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/routes/routes.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/thx.vue
  login_server/src/cpp/JSONInterface/JsonUnsecureLogin.cpp
Labels: bug, service: frontend, service: backend

#1120 Error for removing coin animation
  backend/src/graphql/resolver/UserResolver.ts
Labels: bug

#1113 Stale: 1002-language-selection-register
  frontend/src/views/Pages/Register.vue
Labels: service: frontend, devops

#1127 feat: Add Server Users Entity
  database/entity/ServerUser.ts
Labels: feature, service: database

#1131 Since we don't make a request to the login_server we need to catch if…
  backend/src/graphql/resolver/UserResolver.ts
Labels: bug

#1112 Login hook elopage
  .github/workflows/test.yml
  backend/.env.dist
  backend/package.json
  backend/src/config/index.ts
  backend/src/graphql/arg/CreateUserArgs.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/server/createServer.ts
  backend/src/webhook/elopage.ts
  backend/yarn.lock
Labels: service: login server, refactor, service: backend

#1116 Adminbereich first step
  .github/workflows/test.yml
  admin/jest.config.js
  admin/package.json
  admin/src/App.spec.js
  admin/src/App.vue
  admin/src/assets/mocks/styleMock.js
  admin/src/components/ContentFooter.vue
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/NavBar.spec.js
  admin/src/components/NavBar.vue
  admin/src/components/UserTable.spec.js
  admin/src/components/UserTable.vue
  admin/src/graphql/searchUsers.js
  admin/src/i18n.test.js
  admin/src/main.js
  admin/src/main.test.js
  admin/src/router/router.test.js
  admin/src/router/routes.js
  admin/src/store/store.js
  admin/src/store/store.test.js
  admin/src/views/Creation.spec.js
  admin/src/views/Creation.vue
  admin/src/views/CreationConfirm.spec.js
  admin/src/views/CreationConfirm.vue
  admin/src/views/Overview.vue
  admin/src/views/UserSearch.spec.js
  admin/src/views/UserSearch.vue
  admin/test/testSetup.js
  admin/yarn.lock
  backend/src/graphql/model/UserAdmin.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/typeorm/repository/LoginUser.ts
Labels: feature, service: frontend, conception, service: admin

#1125 Login admin interface
  .github/workflows/test.yml
  admin/.env.dist
  admin/src/App.spec.js
  admin/src/App.vue
  admin/src/components/NavBar.vue
  admin/src/config/index.js
  admin/src/layouts/defaultLayout.vue
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  admin/src/router/guards.js
  admin/src/router/guards.test.js
  admin/src/router/router.test.js
  admin/src/router/routes.js
  admin/src/store/store.js
  admin/src/store/store.test.js
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.ts
  frontend/.env.dist
  frontend/DEV-README.md
  frontend/ISSUE_TEMPLATE.md
  frontend/README.md
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/config/index.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/routes/guards.js
  frontend/src/routes/guards.test.js
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: feature, service: frontend, service: backend, service: admin

#1126 backend_rights
  backend/src/auth/CustomJwtPayload.ts
  backend/src/auth/INALIENABLE_RIGHTS.ts
  backend/src/auth/JWT.ts
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/auth/Role.ts
  backend/src/graphql/arg/CreateUserArgs.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/KlicktippResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/jwt/decode.ts
  backend/src/jwt/encode.ts
  backend/src/typeorm/repository/ServerUser.ts
  backend/src/webhook/elopage.ts
  database/entity/0001-init_db/ServerUser.ts
  database/entity/ServerUser.ts
  database/entity/index.ts
  frontend/src/routes/guards.js
Labels: feature, service: backend

#1139 fix_admin_token_renewal
  .github/workflows/test.yml
  admin/src/main.js
Labels: bug, service: admin

#1121 feat: Setup Data Seeding
  community_server/src/Controller/ServerUsersController.php
  database/.env.dist
  database/Dockerfile
  database/README.md
  database/entity/0001-init_db/ServerUser.ts
  database/entity/0001-init_db/User.ts
  database/entity/0002-add_settings/User.ts
  database/entity/0003-login_server_tables/LoginUser.ts
  database/entity/0003-login_server_tables/LoginUserBackup.ts
  database/entity/0003-login_server_tables/LoginUserRoles.ts
  database/entity/LoginUserRoles.ts
  database/entity/index.ts
  database/migrations/0001-init_db.ts
  database/migrations/0002-add_settings.ts
  database/migrations/0003-login_server_tables.ts
  database/migrations/0004-login_server_data.ts
  database/ormconfig.js
  database/package.json
  database/src/factories/login-user-backup.factory.ts
  database/src/factories/login-user-roles.factory.ts
  database/src/factories/login-user.factory.ts
  database/src/factories/server-user.factory.ts
  database/src/factories/user.factory.ts
  database/src/index.ts
  database/src/interface/UserContext.ts
  database/src/interface/UserInterface.ts
  database/src/seeds/create-user.seed.ts
  database/src/seeds/helpers/user-helpers.ts
  database/src/seeds/users/bibi-bloxberg.seed.ts
  database/src/seeds/users/bibi-bloxberg.ts
  database/src/seeds/users/bob-baumeister.seed.ts
  database/src/seeds/users/bob-baumeister.ts
  database/src/seeds/users/peter-lustig.admin.seed.ts
  database/src/seeds/users/peter-lustig.ts
  database/src/seeds/users/raeuber-hotzenplotz.seed.ts
  database/src/seeds/users/raeuber-hotzenplotz.ts
  database/yarn.lock
Labels: feature, service: database
