Repository gradido/gradido, pull requests merged in 2021-05, with the labels that each got.

#278 fix: Dynamic Balance in User Profile
  frontend/src/views/Pages/UserProfile/UserCard.vue
  frontend/src/views/Pages/UserProfileCard.vue
Labels: bug, service: frontend

#271 feat: Restructure Overview
  frontend/src/routes/routes.js
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddAddWork2.vue
  frontend/src/views/Pages/AccountOverview/GddSend.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.spec.js
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
  frontend/src/views/Pages/AccountOverview/GddTable.vue
  frontend/src/views/Pages/AccountOverview/GddWorkTable.vue
  frontend/src/views/Pages/UserProfile.vue
  frontend/src/views/Pages/UserProfileActivity.vue
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: refactor, service: frontend

#284 fix_bug_template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: bug, devops

#305 THX changed to Thank you
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: bug, service: frontend

#324 transactionslist load and icon
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
  frontend/src/views/Pages/AccountOverview/GddTable.vue
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: feature

#274 fix bug on Login group add host
  login_server/src/cpp/JSONInterface/JsonUnsecureLogin.cpp
Labels: bug, service: login server

#333 xx deleted
  frontend/src/views/NotFoundPage.vue
Labels: bug, service: frontend

#330 remove from error messages because its no longer exist
  community_server/src/Model/Transactions/TransactionTransfer.php
Labels: bug, service: login server

#334 cancel to reset, form rest event added
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GddSend.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend.vue
Labels: bug, service: frontend

#304 error messages are displayed
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/Register.vue
Labels: bug, service: frontend

#272 css abstände vom rand in mobilen style
  frontend/src/views/Layout/AuthLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
  frontend/src/views/Pages/ForgotPassword.vue
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.vue
Labels: bug, refactor, service: frontend

#332 refactor: Add Paramerts to ListTransactions API Call
  frontend/src/apis/communityAPI.js
Labels: refactor

#335 transaction.show_all in en.json hinzugefügt
  frontend/src/locales/en.json
Labels: bug, service: frontend

#276 fix error with password reset email
  login_server/src/cpp/JSONInterface/JsonSendEmail.cpp
Labels: bug, service: login server

#273 give balance as float value in GDD (not longer GDD cent)
  community_server/src/Controller/AppRequestsController.php
  community_server/src/Model/Entity/StateBalance.php
  community_server/src/Model/Table/StateUsersTable.php
  community_server/src/Model/Table/TransactionsTable.php
  community_server/src/Template/AppRequests/get_balance.ctp
  community_server/src/Template/AppRequests/list_transactions.ctp
  community_server/src/Template/Element/centToFloat.ctp
  docu/community-server.api.md
  frontend/README.md
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddSend.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
  frontend/src/views/Pages/AccountOverview/GddTable.vue
  login_server/src/cpp/JSONInterface/JsonCreateTransaction.cpp
Labels: refactor, service: login server

#337 my profile auskommentiert
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
Labels: bug, service: frontend

#341 338 - mt-5 margin top 5 eingebunden
  frontend/src/views/Pages/AccountOverview.vue
Labels: bug, service: frontend

#329 don't show decays smaller than 0,01 GDD
  community_server/src/Model/Table/TransactionsTable.php
Labels: bug, service: community server

#344 eslint rule standard
  frontend/.eslintrc.js
  frontend/jest.config.js
  frontend/package.json
  frontend/run/server.js
  frontend/src/App.vue
  frontend/src/apis/communityAPI.js
  frontend/src/apis/loginAPI.js
  frontend/src/components/BaseAlert.vue
  frontend/src/components/BaseSlider.vue
  frontend/src/components/Charts/config.js
  frontend/src/components/Charts/optionHelpers.js
  frontend/src/components/Charts/roundedCornersExtension.js
  frontend/src/components/CloseButton.spec.js
  frontend/src/components/Collapse/CollapseItem.vue
  frontend/src/components/Inputs/BaseInput.vue
  frontend/src/components/Modal-OLD.vue
  frontend/src/components/Modal.vue
  frontend/src/components/Navbar/BaseNav.vue
  frontend/src/components/NotificationPlugin/Notification.vue
  frontend/src/components/NotificationPlugin/index.js
  frontend/src/components/SearchUser.vue
  frontend/src/components/SidebarPlugin/SidebarItem.vue
  frontend/src/components/SidebarPlugin/index.js
  frontend/src/components/Tabs/Tabs.vue
  frontend/src/directives/click-ouside.js
  frontend/src/main.js
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/routes/routes.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/views/Layout/ContentFooter.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview/GddAddWork2.vue
  frontend/src/views/Pages/AccountOverview/GddSend.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.spec.js
  frontend/src/views/Pages/AccountOverview/GddWorkTable.vue
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile/ImageUploaderAvatar.vue
  frontend/test/testSetup.js
  frontend/vue.config.js
  frontend/yarn.lock
Labels: bug, devops

#365 bug: session_id vs sessionId
  frontend/src/main.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview/GddSend.vue
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.vue
Labels: bug, service: frontend

#366 404 link to login page fix
  frontend/src/views/NotFoundPage.vue
Labels: bug, service: frontend

#370 fix: membersarea open in a new tap
  frontend/src/components/SidebarPlugin/SideBar.vue
Labels: bug

#385 spelling & translation
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GddSend.vue
Labels: bug, service: frontend

#381 change design- dark-blue of text-ligth
  frontend/src/views/Pages/AccountOverview/GddSend.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend.vue
Labels: bug, service: frontend

#380 Fix: QR Scanner Hide
  frontend/src/views/Pages/AccountOverview/GddSend.vue
Labels: devops, service: frontend

#392 docu: locales schöpfen-mysql befehl
  docu/other/mariadb_groups_insert.md
Labels: docu

#388 transaction error message, translations
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GddSend.vue
Labels: bug, service: frontend

#347 fix link generation
  login_server/src/cpp/JSONInterface/JsonCreateUser.cpp
  login_server/src/cpp/JSONInterface/JsonRequestHandler.cpp
  login_server/src/cpp/JSONInterface/JsonRequestHandler.h
  login_server/src/cpp/JSONInterface/JsonSendEmail.cpp
  login_server/src/cpp/controller/EmailVerificationCode.cpp
Labels: bug

#395 fix: Set Maximum Transactions Loaded to 1000
  frontend/src/apis/communityAPI.js
Labels: bug, service: frontend

#415 refactor: Split GddSend into Components
  frontend/src/apis/communityAPI.js
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddSend.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend.vue
  frontend/src/views/Pages/AccountOverview/GddSend/QrCode.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionConfirmation.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionResult.vue
Labels: refactor, service: frontend

#396 feat: Dash is Shown When Balance is Loading
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.spec.js
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
Labels: bug, refactor, service: frontend

#419 06x style
  frontend/src/App.vue
  frontend/src/components/LanguageSwitch.vue
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/locales/en.json
  frontend/src/views/Layout/AuthLayout_gdd.vue
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Layout/DashboardNavbar.vue
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
  frontend/src/views/Pages/AccountOverview/GddTable.vue
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: refactor, service: frontend

#424 translation password rules in Register.vue and ResetPasswort.vue fixed
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.vue
Labels: bug, service: frontend

#422 use new function for balance overview in old frontend, update balance…
  community_server/src/Controller/AppController.php
  community_server/src/Controller/AppRequestsController.php
  community_server/src/Controller/MigrationsController.php
  community_server/src/Controller/StateBalancesController.php
  community_server/src/Model/Table/AppTable.php
  community_server/src/Model/Table/StateBalancesTable.php
  community_server/src/Model/Table/TransactionsTable.php
  login_server/src/cpp/Gradido_LoginServer.cpp
  login_server/src/cpp/controller/User.cpp
  mariadb/setup_dbs_different_user.sh
Labels: bug, service: community server

#427 Send button only click
  CHANGELOG.md
  frontend/package.json
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionConfirmation.vue
  package.json
Labels: bug, devops, service: frontend

#428 Release fix
  CHANGELOG.md
  frontend/package.json
  frontend/src/views/Pages/AccountOverview/GddTable.vue
  login_server/src/cpp/HTTPInterface/ElopageWebhook.cpp
  login_server/src/cpp/HTTPInterface/ResetPassword.cpp
  login_server/src/cpp/JSONInterface/JsonAdminEmailVerificationResend.cpp
  login_server/src/cpp/JSONInterface/JsonCreateUser.cpp
  login_server/src/cpsp/resetPassword.cpsp
  package.json
Labels: bug

#444 Login crash fix
  CHANGELOG.md
  frontend/package.json
  login_server/src/cpp/JSONInterface/JsonCreateTransaction.cpp
  login_server/src/cpp/tasks/CPUShedulerThread.cpp
  package.json
Labels: bug, service: login server

#447 feat: Raise Coverage of Frontend Unit Tets to 18%
  .github/workflows/test.yml
Labels: devops, service: frontend

#453 bug-login password change show hide inserted
  frontend/src/views/Pages/Login.vue
Labels: bug, service: frontend

#454 bug fix:mobile menu closes on logout, probs value problem on logout f…
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/views/Layout/DashboardLayout_gdd.vue
Labels: bug, service: frontend

#458 attention! notice in send area removed
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionConfirmation.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
Labels: bug, service: frontend

#450 feat: Save Locale in Database
  .github/workflows/test.yml
  frontend/src/apis/loginAPI.js
  frontend/src/components/LanguageSwitch.spec.js
  frontend/src/components/LanguageSwitch.vue
  frontend/src/components/SidebarPlugin/SideBar.spec.js
  frontend/src/locales/index.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
Labels: feature, service: frontend

#460 [Bug] German "Dir" is written with capital D in send validation bug
  frontend/src/locales/de.json
Labels: bug, service: frontend

#461 bug: responsive display error on pads fixed
  frontend/src/views/Layout/DashboardNavbar.vue
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
Labels: bug

#459 bug: Thx Page Shows Content Dependent of Route From
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/routes/routes.js
  frontend/src/views/Pages/ForgotPassword.vue
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/thx.vue
Labels: bug, service: frontend

#455 Require memo in send
  community_server/src/Controller/AppRequestsController.php
  community_server/src/Controller/TransactionSendCoinsController.php
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
  login_server/src/cpp/JSONInterface/JsonCreateTransaction.cpp
  login_server/src/cpp/model/gradido/TransactionBase.h
  login_server/src/cpp/model/gradido/TransactionTransfer.cpp
Labels: feature, service: frontend, service: login server

#462 437 bug mobile transaction list is not easy to read
  frontend/src/App.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/routes/routes.js
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionListFooter.vue
  frontend/src/views/Pages/UserProfile.vue
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: bug, service: frontend

#448 everything I find and fix crash related in login server this week (kw 20)
  login_server/src/cpp/SingletonManager/PendingTasksManager.cpp
Labels: bug, service: login server

#469 fix: Date Time Formats
  frontend/src/i18n.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionConfirmation.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
Labels: bug, devops, service: frontend

#468 fix: GDD Amount is Always Displayed with Two Digits
  frontend/src/components/SidebarPlugin/SideBar.vue
  frontend/src/i18n.js
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/UserProfile/UserCard.vue
Labels: bug, service: frontend

#470 feat: Test Transaction List
  .github/workflows/test.yml
  CHANGELOG.md
  frontend/package.json
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.spec.js
  frontend/src/views/Pages/AccountOverview/GddTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionListFooter.spec.js
  frontend/test/testSetup.js
  package.json
Labels: devops, feature, service: frontend

#476 refactor: Remove Element-UI
  frontend/babel.config.js
  frontend/package.json
  frontend/src/components/LoadingPanel.vue
  frontend/src/components/index.js
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/plugins/globalComponents.js
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: refactor, service: frontend

#475 fix: Show Correct Version Number in Footer
  frontend/src/config/index.js
Labels: bug, service: frontend
