Repository gradido/gradido, pull requests merged in 2021-10, with the labels that each got.

#904 feat: Test Change Language in User Profile
  .github/workflows/test.yml
  frontend/src/views/Pages/UserProfile/UserCard_Language.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.spec.js
Labels: feature, service: frontend

#907 fix: Whitespace in Password Shows Validation Error
  frontend/src/validation-rules.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
Labels: bug, service: frontend

#914 fix: Double Redirect After Logout with Expired JWT
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
Labels: bug, service: frontend

#906 refactor: Provide pubKey in Resolver Context to Avoid API Calls
  backend/src/auth/auth.ts
  backend/src/graphql/resolvers/BalanceResolver.ts
  backend/src/graphql/resolvers/GdtResolver.ts
  backend/src/graphql/resolvers/UserResolver.ts
  backend/src/jwt/decode.ts
  backend/src/jwt/encode.ts
  backend/src/server/context.ts
  backend/src/server/plugins.ts
  backend/src/typeorm/entity/User.ts
  frontend/src/views/Pages/UserProfile/UserCard_Language.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.spec.js
Labels: refactor, service: backend

#920 feat: Setup Unit Tests for Backend
  .github/workflows/test.yml
  backend/.gitignore
  backend/jest.config.js
  backend/package.json
  backend/src/util/decay.test.ts
  backend/yarn.lock
Labels: feature, service: backend

#930 Docu graphics mocks
  docu/graphics/gdt_server_api.drawio
  docu/graphics/gdt_server_api.png
  docu/graphics/mock_choose_community.epgz
  docu/graphics/mock_choose_community.png
  docu/graphics/mock_kontouebersicht.epgz
  docu/graphics/mock_kontouebersicht.png
Labels: docu

#927 Clean models2
  backend/src/graphql/models/Decay.ts
  backend/src/graphql/resolvers/BalanceResolver.ts
  backend/src/graphql/resolvers/GdtResolver.ts
  backend/src/graphql/resolvers/TransactionResolver.ts
  backend/src/graphql/resolvers/listTransactions.ts
  backend/src/typeorm/entity/Balance.ts
  backend/src/typeorm/entity/Group.ts
  backend/src/typeorm/entity/Transaction.ts
  backend/src/typeorm/entity/User.ts
  backend/src/typeorm/entity/UserTransaction.ts
  backend/src/typeorm/repository/Balance.ts
  backend/src/typeorm/repository/Transaction.ts
  backend/src/typeorm/repository/User.ts
  backend/src/typeorm/repository/UserTransaction.ts
  backend/src/util/decay.ts
Labels: refactor, devops, service: backend

#928 fix migrations to use only the entity model
  backend/src/typeorm/getDBVersion.ts
Labels: refactor, service: backend, service: database

#931 Bug fixes recent changes
  backend/src/graphql/resolvers/BalanceResolver.ts
  backend/src/graphql/resolvers/TransactionResolver.ts
  backend/src/typeorm/repository/Balance.ts
  docker-compose.override.yml
  frontend/src/graphql/queries.js
Labels: bug, service: frontend, refactor, service: backend, service: database

#813 585 coin animation on and off switchable
  backend/.gitignore
  backend/package-lock.json
  backend/src/graphql/args/UpdateUserInfosArgs.ts
  backend/src/graphql/enum/Setting.ts
  backend/src/graphql/models/User.ts
  backend/src/graphql/resolvers/GdtResolver.ts
  backend/src/graphql/resolvers/UserResolver.ts
  backend/src/index.ts
  backend/src/typeorm/entity/User.ts
  backend/src/typeorm/entity/UserSetting.ts
  backend/src/typeorm/repository/UserSettingRepository.ts
  backend/src/util/validate.ts
  backend/yarn.lock
  database/migrations/0002-add_settings.ts
  docu/login_server.api.md
  frontend/src/App.vue
  frontend/src/components/Transaction.vue
  frontend/src/components/TransactionCollapse.spec.js
  frontend/src/components/TransactionCollapse.vue
  frontend/src/graphql/enums.js
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/store/store.js
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_CoinAnimation.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_CoinAnimation.vue
  frontend/src/views/Pages/UserProfileOverview.vue
  login_server/src/cpp/JSONInterface/JsonUpdateUserInfos.cpp
Labels: feature, service: frontend, service: backend

#932 Community test database fix
  .github/workflows/test.yml
  database/src/prepare.ts
Labels: bug, service: community server, service: database

#934 silence webpack, it was very noisy
  frontend/vue.config.js
Labels: devops

#935 Clean graphql structure
  backend/src/graphql/arg/ChangePasswordArgs.ts
  backend/src/graphql/arg/CheckUsernameArgs.ts
  backend/src/graphql/arg/CreateUserArgs.ts
  backend/src/graphql/arg/Paginated.ts
  backend/src/graphql/arg/SubscribeNewsletterArgs.ts
  backend/src/graphql/arg/TransactionSendArgs.ts
  backend/src/graphql/arg/UnsecureLoginArgs.ts
  backend/src/graphql/arg/UpdateUserInfosArgs.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/model/Balance.ts
  backend/src/graphql/model/CheckEmailResponse.ts
  backend/src/graphql/model/CheckUsernameResponse.ts
  backend/src/graphql/model/Decay.ts
  backend/src/graphql/model/GdtEntry.ts
  backend/src/graphql/model/GdtEntryList.ts
  backend/src/graphql/model/GdtSumPerEmail.ts
  backend/src/graphql/model/KlickTipp.ts
  backend/src/graphql/model/LoginViaVerificationCode.ts
  backend/src/graphql/model/SendPasswordResetEmailResponse.ts
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/model/TransactionList.ts
  backend/src/graphql/model/UpdateUserInfosResponse.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/KlicktippResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolvers/index.ts
  backend/src/graphql/schema.ts
  backend/src/middleware/klicktippMiddleware.ts
  backend/src/util/decay.test.ts
  backend/src/util/decay.ts
Labels: refactor, service: backend

#938 Frontend style documentation wallet-app
  docu/presentation/wallet-frontend-pages-overview-04-10-2021.odt
  docu/presentation/wallet-frontend-pages-overview-04-10-2021.pdf
Labels: service: frontend, conception

#940 feat: Test Vue Router
  .github/workflows/test.yml
  frontend/src/routes/router.test.js
  frontend/src/views/Pages/UserProfileOverview.vue
Labels: feature, service: frontend

#918 803 community selection page of registration process 2
  backend/.env.dist
  backend/src/config/index.ts
  backend/src/graphql/model/Community.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  frontend/src/components/LanguageSwitchSelect.vue
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/routes/routes.js
  frontend/src/store/store.js
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/RegisterCommunity.spec.js
  frontend/src/views/Pages/RegisterCommunity.vue
  frontend/src/views/Pages/RegisterSelectCommunity.spec.js
  frontend/src/views/Pages/RegisterSelectCommunity.vue
  frontend/src/views/Pages/UserProfile/UserCard.spec.js
  frontend/src/views/Pages/UserProfile/UserCard.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
Labels: feature, service: frontend

#950 feat: Improve Test of Navigation Guard of Vue Router
  frontend/src/routes/guards.test.js
Labels: feature, service: frontend

#973 fix publisherId config
  frontend/src/components/SidebarPlugin/SideBar.vue
Labels: service: frontend

#974 error rounding in transactions list fixed
  frontend/src/components/DecayInformation.vue
Labels: bug

#985 fix: Use TransactionId as Collapse Identifier
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
Labels: bug, refactor

#991 Change the publisherId to nullable.
  frontend/src/graphql/mutations.js
Labels: bug, service: frontend

#992 fix language registriert
  frontend/src/locales/de.json
Labels: bug, service: frontend

#1013 release_issue_template
  .github/ISSUE_TEMPLATE/release.md
Labels: refactor, devops

#1019 analyse_bundle
  frontend/package.json
  frontend/vue.config.js
  frontend/yarn.lock
Labels: feature, service: frontend, devops

#987 fix: Test Default Publisher ID in Sidebar Menu
  frontend/src/components/SidebarPlugin/SideBar.spec.js
Labels: bug, service: frontend

#1021 fix: Decay Rounded to Ceil
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug, service: backend

#1031 migrate_login_database
  .github/workflows/test.yml
  .gitignore
  backend/src/index.ts
  configs/login_server/grd_login.properties
  configs/login_server/grd_login_test.properties
  configs/login_server/setup_db_tables/setup_docker_group.sql
  database/migrations/0002-add_settings.ts
  database/migrations/0003-login_server_tables.ts
  database/migrations/0004-login_server_data.ts
  deployment/bare_metal/update_all.sh
  deployment/bare_metal/update_db_schemas.sh
  docker-compose.override.yml
  docker-compose.test.yml
  docker-compose.yml
  docu/Concepts/TechnicalRequirements/Architecture/TechnicalOverview.md
  login_server/.gitignore
  login_server/README.md
  login_server/skeema/gradido_login/app_access_tokens.sql
  login_server/skeema/gradido_login/elopage_buys.sql
  login_server/skeema/gradido_login/email_opt_in.sql
  login_server/skeema/gradido_login/email_opt_in_types.sql
  login_server/skeema/gradido_login/groups.sql
  login_server/skeema/gradido_login/pending_tasks.sql
  login_server/skeema/gradido_login/roles.sql
  login_server/skeema/gradido_login/user_backups.sql
  login_server/skeema/gradido_login/user_roles.sql
  login_server/skeema/gradido_login/users.sql
  login_server/src/cpp/SingletonManager/EmailManager.cpp
  login_server/src/cpp/SingletonManager/SessionManager.cpp
  login_server/src/cpp/controller/User.cpp
  login_server/src/cpp/model/table/AppAccessToken.h
  login_server/src/cpp/model/table/ElopageBuy.h
  login_server/src/cpp/model/table/EmailOptIn.h
  login_server/src/cpp/model/table/Group.h
  login_server/src/cpp/model/table/PendingTask.h
  login_server/src/cpp/model/table/Roles.cpp
  login_server/src/cpp/model/table/Roles.h
  login_server/src/cpp/model/table/User.cpp
  login_server/src/cpp/model/table/User.h
  login_server/src/cpp/model/table/UserBackup.h
  login_server/src/cpp/model/table/UserRole.h
  login_server/src/cpp/test/main.cpp
  mariadb/.skeema
  mariadb/.skeema.login
  mariadb/Dockerfile
  mariadb/setup_dbs.sql
  mariadb/setup_dbs_different_user.sh
  mariadb/setup_test_dbs.sql
  skeema/.skeema
  skeema/Dockerfile
Labels: service: login server, refactor, service: database
