Repository gradido/gradido, pull requests merged in 2021-07, with the labels that each got.

#598 Community fix
  community_server/src/Controller/AppRequestsController.php
  community_server/src/Model/Table/StateBalancesTable.php
  community_server/src/Model/Table/TransactionsTable.php
  community_server/tests/Fixture/StateUserTransactionsFixture.php
  community_server/tests/Fixture/TransactionSendCoinsFixture.php
  community_server/tests/Fixture/TransactionSignaturesFixture.php
  community_server/tests/Fixture/TransactionsFixture.php
  community_server/tests/TestCase/Controller/AppRequestControllerTest.php
  docu/community-server.api.md
Labels: service: community server

#601 refactor: Update Store Tests
  .github/workflows/test.yml
  frontend/src/store/store.test.js
Labels: refactor, service: frontend

#602 refactor: Forgot Password Form
  frontend/src/views/Pages/ForgotPassword.spec.js
  frontend/src/views/Pages/ForgotPassword.vue
Labels: refactor, service: frontend

#603 refactor: Change Password
  frontend/src/components/Inputs/InputPassword.vue
  frontend/src/components/Inputs/InputPasswordConfirmation.spec.js
  frontend/src/components/Inputs/InputPasswordConfirmation.vue
  frontend/src/main.js
  frontend/src/validation-rules.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
Labels: refactor, service: frontend

#606 refactor: Reset Password Page
  .github/workflows/test.yml
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js
Labels: refactor, service: frontend

#610 feat: Test Validation Rules
  .github/workflows/test.yml
  frontend/src/components/Inputs/InputPasswordConfirmation.spec.js
  frontend/src/main.js
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/validation-rules.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
  frontend/src/views/Pages/ForgotPassword.spec.js
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js
  frontend/test/testSetup.js
Labels: feature, service: frontend

#611 feat: Test AccountOverview
  .github/workflows/test.yml
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddStatus.vue
Labels: feature, service: frontend

#614 fix: Mobile Pagination
  frontend/src/components/PaginationButtons.vue
Labels: bug, service: frontend

#615 fix: Transaction Pagination Scroll Top
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
Labels: bug, service: frontend

#617 fix: Do Not Pass Userdata Description to Server
  frontend/src/apis/loginAPI.js
Labels: bug, service: frontend

#618 Allow empty description
  login_server/src/cpp/JSONInterface/JsonUpdateUserInfos.cpp
Labels: service: login server

#622 fix: Fix Infinite Loop in Transaction List
  frontend/src/components/DecayInformation.vue
Labels: bug, service: frontend

#623 fix: QRCode Error after Logout
  frontend/src/views/Layout/DashboardLayout_gdd.vue
Labels: bug, service: frontend

#624 feat: Test UserProfileTransactionList
  frontend/src/views/Pages/UserProfileTransactionList.spec.js
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: feature, service: frontend

#619 refactor: Use Vue-Toasted to Toast Messages
  frontend/package.json
  frontend/src/App.vue
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue
  frontend/yarn.lock
Labels: bug, refactor, service: frontend

#628 fix type not found error in listTransaction Call
  community_server/src/Template/AppRequests/list_transactions.ctp
Labels: service: community server

#627 fix bug with user roles and pending transactions
  login_server/src/cpp/SingletonManager/PendingTasksManager.cpp
Labels: bug, service: login server

#633 fix last Transaction are not shown in new frontend
  community_server/src/Controller/AppRequestsController.php
Labels: bug, service: community server

#635 Change timeout for email resend to 10 Minutes
  login_server/src/cpp/JSONInterface/JsonSendEmail.cpp
  login_server/src/cpp/lib/JsonRequest.cpp
  login_server/src/cpp/lib/JsonRequest.h
  login_server/src/cpp/model/Session.cpp
  login_server/src/cpp/test/JSONInterface/TestJsonCreateTransaction.cpp
  login_server/src/cpp/test/JSONInterface/TestJsonCreateTransaction.h
Labels: refactor, service: login server

#642 Login fix wrong check email link
  login_server/src/cpp/HTTPInterface/PageRequestHandlerFactory.cpp
  login_server/src/cpp/model/Session.cpp
Labels: bug, service: login server

#640 check for null date
  community_server/src/Model/Table/TransactionsTable.php
Labels: bug, service: community server

#643 Make E-Mail Text 100% German
  login_server/src/cpp/model/email/Email.cpp
Labels: service: login server

#647 #435 Visual Feedback on not sending GDD
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview.spec.js
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionResult.vue
Labels: bug

#645 630 frontend text improvemets
  .github/workflows/test.yml
  frontend/src/components/DecayInformation.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionConfirmation.vue
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.spec.js
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/ForgotPassword.vue
Labels: bug

#648 feat: Release v1.2.0
  CHANGELOG.md
  frontend/package.json
  package.json
Labels: devops, feature

#652 fix display error with creation
  community_server/src/Model/Table/TransactionsTable.php
  community_server/tests/TestCase/Controller/AppRequestControllerTest.php
Labels: bug, service: community server

#656 move back decay as standalone transaction in old frontend
  community_server/src/Controller/StateBalancesController.php
Labels: bug, service: community server

#654 fix unneccessary migration run on fresh (docker) setup
  community_server/db/setup_db_tables/insert_migrations.sql
Labels: bug, service: community server

#662 exchange positions of decay in transaction in old frontend
  community_server/src/Controller/StateBalancesController.php
Labels: service: community server

#681 680 app large maximum width
  frontend/src/views/Layout/DashboardLayout_gdd.vue
Labels: bug

#677 text-size in textarea and font-variante if focus
  frontend/src/views/Pages/AccountOverview/GddSend/TransactionForm.vue
Labels: bug
