Repository gradido/gradido, pull requests merged in 2022-02, with the labels that each got.

#1404 cleanups_refactors
  backend/package.json
  backend/src/auth/RIGHTS.ts
  backend/src/config/index.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/server/createServer.ts
  backend/src/typeorm/DBVersion.ts
  backend/src/typeorm/connection.ts
  backend/src/typeorm/getDBVersion.ts
  backend/src/typeorm/repository/Balance.ts
  backend/src/typeorm/repository/LoginElopageBuys.ts
  backend/src/typeorm/repository/LoginEmailOptIn.ts
  backend/src/typeorm/repository/LoginPendingTasksAdmin.ts
  backend/src/typeorm/repository/LoginUser.ts
  backend/src/typeorm/repository/LoginUserBackup.ts
  backend/src/typeorm/repository/ServerUser.ts
  backend/src/typeorm/repository/Transaction.ts
  backend/src/typeorm/repository/TransactionCreation.ts
  backend/src/typeorm/repository/User.ts
  backend/src/typeorm/repository/UserSettingRepository.ts
  backend/src/typeorm/repository/UserTransaction.ts
  backend/src/util/decay.ts
  backend/src/util/validate.ts
  backend/src/webhook/elopage.ts
  backend/yarn.lock
  database/src/typeorm.ts
Labels: bug, refactor, service: backend, service: database

#1374 if an email is not confirmed, a user cannot be added to any multiple …
  admin/src/components/UserTable.vue
  admin/src/locales/en.json
Labels: service: wallet frontend, refactor, service: admin frontend

#1391 refactor: Tag Last Version with Login Server
  README.md
Labels: feature, devops

#1327 fix: Localize Datetime in Admin Interface
  .github/workflows/test.yml
  admin/package.json
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/components/UserTable.spec.js
  admin/src/components/UserTable.vue
  admin/src/i18n.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/main.js
  admin/src/main.test.js
  admin/src/mixins/creationMonths.js
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  admin/yarn.lock
Labels: refactor, service: admin frontend

#1376 multiple creation already selected users remain saved
  admin/src/components/CreationFormular.spec.js
  admin/src/components/UserTable.spec.js
  admin/src/components/UserTable.vue
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/store/store.js
  admin/src/store/store.test.js
Labels: service: wallet frontend, refactor, service: admin frontend

#1362 clean_database
  backend/src/config/index.ts
  database/migrations/0013-drop_unused_tables.ts
  database/migrations/0014-drop_unused_tables_with_data.ts
Labels: refactor, service: database

#1410 fix_seed
  database/entity/LoginUserRoles.ts
  database/entity/index.ts
  database/src/factories/login-user-roles.factory.ts
  database/src/seeds/helpers/user-helpers.ts
Labels: bug, service: database

#1367 database_pending_creations
  backend/src/config/index.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/typeorm/repository/LoginPendingTasksAdmin.ts
  database/entity/0015-admin_pending_creations/AdminPendingCreation.ts
  database/entity/AdminPendingCreation.ts
  database/entity/LoginPendingTasksAdmin.ts
  database/entity/index.ts
  database/migrations/0015-admin_pending_creations.ts
Labels: refactor, service: backend, service: database

#1407 Marque community_server as to be removed.
  README.md
Labels: service: community server, refactor

#1409 refactor: Mixin for Creation Labels
  .github/workflows/test.yml
  admin/src/components/UserTable.vue
  admin/src/mixins/creationMonths.js
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
Labels: refactor, test, service: admin frontend

#1419 feat: Improved Tests for Mass Creation
  .github/workflows/test.yml
  admin/src/components/UserTable.vue
  admin/src/pages/Creation.spec.js
Labels: devops, test, service: admin frontend

#1420 feat: Test Table Row Details Toggling
  .github/workflows/test.yml
  admin/src/pages/UserSearch.spec.js
Labels: devops, test, service: admin frontend

#1422 reset all selected users in mass creation
  .github/workflows/test.yml
  admin/src/components/UserTable.spec.js
  admin/src/components/UserTable.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/UserSearch.spec.js
Labels: feature, service: admin frontend

#1413 have an delete button for the search input
  admin/src/App.vue
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
Labels: feature, service: admin frontend

#1423 add updateTransactions function for GDD balance if reload page
  frontend/src/views/Pages/SendOverview.vue
  frontend/src/views/Pages/UserProfileOverview.vue
Labels: bug, service: wallet frontend

#1427 clean_database_users
  backend/src/auth/INALIENABLE_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/config/index.ts
  backend/src/graphql/arg/CheckUsernameArgs.ts
  backend/src/graphql/arg/UpdateUserInfosArgs.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.ts
  database/entity/0020-rename_and_clean_state_users/User.ts
  database/entity/User.ts
  database/migrations/0020-rename_and_clean_state_users.ts
  database/src/factories/user.factory.ts
  database/src/interface/UserContext.ts
  database/src/interface/UserInterface.ts
  database/src/seeds/helpers/user-helpers.ts
  database/src/seeds/users/bibi-bloxberg.ts
  database/src/seeds/users/bob-baumeister.ts
  database/src/seeds/users/garrick-ollivander.ts
  database/src/seeds/users/peter-lustig.ts
  database/src/seeds/users/raeuber-hotzenplotz.ts
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/validation-rules.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js.old
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue.old
Labels: refactor, service: backend, service: database

#1406 remove_unnecessary_repositories
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/typeorm/repository/LoginElopageBuys.ts
  backend/src/typeorm/repository/LoginEmailOptIn.ts
  backend/src/typeorm/repository/ServerUser.ts
  backend/src/typeorm/repository/TransactionCreation.ts
  backend/src/webhook/elopage.ts
Labels: refactor, service: backend, service: database

#1429 fix_community_name_description
  admin/.gitignore
  backend/.gitignore
  database/.gitignore
  deployment/bare_metal/.env.dist
  deployment/bare_metal/install.sh
  deployment/bare_metal/start.sh
  frontend/.gitignore
Labels: bug, devops

#1416 admin interface does user have member area
  admin/src/components/UserTable.vue
  admin/src/graphql/searchUsers.js
  admin/src/pages/UserSearch.vue
  backend/src/graphql/model/UserAdmin.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/util/hasElopageBuys.ts
Labels: feature

#1438 v1.6.2
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#1440 Profil settings and footer refactor
  frontend/src/views/Layout/ContentFooter.vue
  frontend/src/views/Pages/UserProfile/UserCard.vue
Labels: bug, service: wallet frontend

#1442 add .btn-outline-secondary in scss
  frontend/src/assets/scss/custom/gradido-custom/_buttons.scss
  frontend/src/views/Pages/Register.vue
Labels: bug

#1447 v1.6.3
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#1443 refactor: Split User Table Component in Admin Interface
  .github/workflows/test.yml
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/components/Tables/SearchUserTable.vue
  admin/src/components/Tables/SelectUsersTable.vue
  admin/src/components/Tables/SelectedUsersTable.vue
  admin/src/components/UserTable.spec.js
  admin/src/components/UserTable.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/mixins/toggleRowDetails.js
  admin/src/mixins/toggleRowDetails.test.js
  admin/src/pages/Creation.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/UserSearch.vue
Labels: refactor, service: admin frontend

#1445 fix: Redirect to Login after Register
  frontend/src/views/Pages/thx.spec.js
  frontend/src/views/Pages/thx.vue
Labels: bug, service: wallet frontend

#1446 fix: Wrong Email Spelling in German
  backend/src/mailer/text/accountActivation.ts
Labels: bug, service: backend

#1460 833 old error is shown for a second even if transaction is successful
  backend/src/graphql/resolver/TransactionResolver.ts
  frontend/src/views/Pages/SendOverview.spec.js
  frontend/src/views/Pages/SendOverview.vue
  frontend/src/views/Pages/SendOverview/GddSend/TransactionResult.vue
Labels: bug, service: wallet frontend

#1455 538 unify all buttons
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
Labels: service: wallet frontend, refactor

#1477 Fix: Do not log password or token to the console
  backend/package.json
  backend/src/server/plugins.ts
  backend/yarn.lock
Labels: bug, service: backend

#1448 fix: Admin Email Confirmation Date and Time
  admin/src/components/ConfirmRegisterMailFormular.vue
  admin/src/components/Tables/SearchUserTable.vue
  admin/src/graphql/searchUsers.js
  admin/src/i18n.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  backend/src/graphql/model/UserAdmin.ts
  backend/src/graphql/resolver/AdminResolver.ts
Labels: bug, service: backend, service: admin frontend

#1478 v1.6.4
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: bug, release

#1498 Fix: Autochangelog - no commits
  .github/workflows/publish.yml
  CHANGELOG.md
  scripts/release.sh
Labels: bug

#1479 fix: Catch GDT Server Errors
  backend/src/graphql/model/TransactionList.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  frontend/src/components/Status.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: bug, service: backend

#1499 refactor: Use Bootstrap Vue Toast
  frontend/package.json
  frontend/src/App.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/mixins/getCommunityInfo.js
  frontend/src/mixins/toaster.js
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/plugins/dashboard-plugin.test.js
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GdtTransactionList.vue
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Login.vue
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/RegisterCommunity.spec.js
  frontend/src/views/Pages/RegisterSelectCommunity.spec.js
  frontend/src/views/Pages/RegisterSelectCommunity.vue
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
  frontend/src/views/Pages/UserProfile/UserCard_CoinAnimation.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_CoinAnimation.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.spec.js.old
  frontend/src/views/Pages/UserProfile/UserCard_FormUsername.vue.old
  frontend/src/views/Pages/UserProfile/UserCard_Language.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Newsletter.vue
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: service: wallet frontend, refactor

#1405 refactor: static decay block
  backend/src/config/index.test.ts
  backend/src/config/index.ts
  backend/src/graphql/model/Decay.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/typeorm/repository/Transaction.ts
  backend/src/util/decay.test.ts
  backend/src/util/decay.ts
  backend/src/util/validate.ts
  database/migrations/0022-delete_decay_start_block.ts
  database/src/index.ts
  database/src/seeds/decay-start-block.seed.ts
Labels: refactor, service: backend

#1512 fix: Never Sent Email Text
  admin/src/components/ConfirmRegisterMailFormular.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: bug, service: admin frontend

#1514 feature: show current version in admin footer
  admin/src/components/ContentFooter.vue
Labels: refactor, service: admin frontend

#1515 404 page needs back to login button
  admin/src/components/NotFoundPage.spec.js
  admin/src/components/NotFoundPage.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  frontend/src/views/NotFoundPage.spec.js
  frontend/src/views/NotFoundPage.vue
Labels: service: wallet frontend, refactor, service: admin frontend

#1521 feature: Soft-Delete for users (backend)
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/typeorm/repository/User.ts
Labels: feature, service: backend

#1522 Refactor: User resolver
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/typeorm/repository/User.ts
Labels: refactor, service: backend

#1523 Refactor: Combine transaction tables
  backend/src/config/index.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/typeorm/repository/Balance.ts
  backend/src/typeorm/repository/Transaction.ts
  backend/src/typeorm/repository/User.ts
  database/entity/0001-init_db/Transaction.ts
  database/entity/0016-transaction_signatures/Transaction.ts
  database/entity/0024-combine_transaction_tables/Transaction.ts
  database/entity/Transaction.ts
  database/entity/TransactionCreation.ts
  database/entity/TransactionSendCoin.ts
  database/entity/index.ts
  database/migrations/0024-combine_transaction_tables.ts
  database/src/factories/transaction-creation.factory.ts
  database/src/factories/transaction.factory.ts
  database/src/factories/user.factory.ts
  database/src/interface/TransactionContext.ts
  database/src/interface/UserInterface.ts
  database/src/seeds/helpers/user-helpers.ts
  database/src/seeds/users/bibi-bloxberg.ts
  database/src/seeds/users/bob-baumeister.ts
  database/src/seeds/users/garrick-ollivander.ts
  database/src/seeds/users/peter-lustig.ts
  database/src/seeds/users/raeuber-hotzenplotz.ts
  frontend/src/i18n.js
Labels: refactor, service: backend, service: database

#1472 Admin: Langsame Benutzer-Suche
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/typeorm/repository/User.ts
Labels: devops, service: backend

#1524 refactor: Get Open Creations by One Query
  backend/package.json
  backend/src/graphql/resolver/AdminResolver.ts
  backend/yarn.lock
Labels: refactor, service: backend

#1525 Fix: Correct path of index.js in production
  backend/package.json
Labels: bug, service: backend

#1526 fix: Return Empty Array When No Pending Creations Are Present
  backend/src/graphql/resolver/AdminResolver.ts
Labels: bug, service: backend

#1467 1459 list data again on confirm creation
  admin/src/components/Overlay.spec.js
  admin/src/components/Overlay.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
Labels: service: admin frontend

#1529 Feature: Make lint warnings unwanted
  admin/package.json
  backend/package.json
  backend/src/graphql/resolver/TransactionResolver.ts
  database/migrations/0001-init_db.ts
  database/migrations/0002-add_settings.ts
  database/migrations/0003-login_server_tables.ts
  database/migrations/0004-login_server_data.ts
  database/migrations/0005-admin_tables.ts
  database/migrations/0006-login_users_collation.ts
  database/migrations/0007-login_pending_tasks_delete.ts
  database/migrations/0008-state_users_plug_holes.ts
  database/migrations/0009-login_users_plug_holes.ts
  database/migrations/0010-login_users_state_users_sync.ts
  database/migrations/0011-login_user_backups_plug_holes.ts
  database/migrations/0012-login_user_backups_unify_wordlist.ts
  database/migrations/0013-drop_unused_tables.ts
  database/migrations/0014-drop_unused_tables_with_data.ts
  database/migrations/0015-admin_pending_creations.ts
  database/migrations/0016-transaction_signatures.ts
  database/migrations/0017-combine_user_tables.ts
  database/migrations/0018-combine_login_user_backups_and_user_table.ts
  database/migrations/0019-replace_login_user_id_with_state_user_id.ts
  database/migrations/0020-rename_and_clean_state_users.ts
  database/migrations/0021-elopagebuys_fields_nullable.ts
  database/migrations/0022-delete_decay_start_block.ts
  database/migrations/0023-users_disabled_soft_delete.ts
  database/migrations/0024-combine_transaction_tables.ts
  database/package.json
  frontend/package.json
Labels: feature, service: wallet frontend, service: backend, test, service: database, service: admin frontend

#1520 [Feature] : user deleted and undeleted functions for adminarea
  .github/workflows/test.yml
  admin/public/img/elopage_favicon.png
  admin/src/components/DeletedUserFormular.spec.js
  admin/src/components/DeletedUserFormular.vue
  admin/src/components/RowDetails.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/components/Tables/SearchUserTable.spec.js
  admin/src/components/Tables/SearchUserTable.vue
  admin/src/graphql/deleteUser.js
  admin/src/graphql/searchUsers.js
  admin/src/graphql/unDeleteUser.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/mixins/toggleRowDetails.js
  admin/src/mixins/toggleRowDetails.test.js
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/arg/SearchUsersArgs.ts
  backend/src/graphql/model/UserAdmin.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/typeorm/repository/User.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/SendOverview/GddSend/TransactionResult.vue
Labels: feature, service: backend, service: admin frontend

#1535 fix: Wrong Key Name for Recover User
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: bug, service: admin frontend

#1534 fix: No Creations for Deleted Users
  backend/src/graphql/resolver/AdminResolver.ts
Labels: bug, service: backend

#1533 feat: Seed Deleted User
  database/src/index.ts
  database/src/seeds/users/stephen-hawking.seed.ts
  database/src/seeds/users/stephen-hawking.ts
Labels: feature, service: database

#1540 added missing bootstrap scss. bootstrap/scss/bootstrap, plus more mis…
  frontend/src/App.vue
  frontend/src/assets/scss/gradido.scss
  frontend/src/mixins/toaster.js
  frontend/src/views/Pages/Register.vue
Labels: service: wallet frontend

#1432 1106 first transaction cannot be expanded
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  frontend/src/components/DecayInformation.vue
  frontend/src/components/Transaction.spec.js
  frontend/src/components/Transaction.vue
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: feature, service: wallet frontend

#1542 Fix: Upper case email on register breaks account
  backend/src/config/index.ts
  backend/src/graphql/resolver/UserResolver.ts
  database/migrations/0025-emails_to_lower.ts
Labels: bug, service: backend

#1541 v1.6.6
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release
