Repository gradido/gradido, pull requests merged in 2022-05, with the labels that each got.

#1846 🍰 Add NVM Config Files To '.gitignore'
  .gitignore
  admin/.gitignore
  backend/.gitignore
  database/.gitignore
  frontend/.gitignore
Labels: devops

#1863 fix: Loading Transaction Links after Reopening Link List
  frontend/src/components/Transactions/TransactionLinkSummary.spec.js
  frontend/src/components/Transactions/TransactionLinkSummary.vue
Labels: bug, service: wallet frontend

#1864 docu: Update Deployment Documentation
  deployment/bare_metal/setup.md
Labels: docu

#1803 Create LICENSE
  LICENSE
Labels: devops

#1861 fix: Up and Down Migrations for Older SQL Versions
  database/migrations/0026-combine_transaction_tables2.ts
  database/migrations/0027-clean_transaction_table.ts
  database/migrations/0029-clean_transaction_table.ts
  database/migrations/0035-admin_pending_creations_decimal.ts
  deployment/bare_metal/start.sh
Labels: bug, devops

#1879 fix: Unique Previous Column in Transactions Table
  backend/src/config/index.ts
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  database/entity/0036-unique_previous_in_transactions/Transaction.ts
  database/entity/Transaction.ts
  database/migrations/0036-unique_previous_in_transactions.ts
Labels: bug, service: backend

#1878 Update README.md
  README.md
Labels: docu

#1890 Release 1.8.2
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: devops

#1892 fix: Count Deprecated Links as Well
  backend/src/graphql/resolver/BalanceResolver.ts
Labels: bug, service: backend

#1894 Checkbox
  docu/Style/Images/Checkbox_aktiv.svg
  docu/Style/Images/Checkbox_deaktiv.svg
Labels: docu, Style

#1899 Release 1.8.3
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#1888 add browserstack logo image
  README.md
Labels: docu

#1900 pre I from #1682, add images, svg for new styling
  frontend/public/img/brand/gradido_coin●.png
  frontend/public/img/svg/type.svg
  frontend/public/img/template/Blaetter.png
  frontend/public/img/template/Foto_01.jpg
  frontend/public/img/template/gold_03.png
  frontend/public/img/template/gradido_background_header.png
  frontend/public/img/template/logo-header.png
Labels: service: wallet frontend, refactor, Style

#1903 Add files via upload
  docu/Style/Images/Footer_banner_1920x13.png
  docu/Style/Images/Footer_banner_396x13.png
  docu/Style/Images/Footer_banner_768x13.png
  docu/Style/Images/Footer_gradient.txt
Labels: docu, Style

#1915 fix: Database Connection Charset to utf8mb4_unicode_ci
  backend/src/typeorm/connection.ts
Labels: bug, service: backend, mariadb

#1693 1682 new design for the login and registration area
  frontend/.eslintrc.js
  frontend/package.json
  frontend/public/img/template/Blaetter.png
  frontend/public/img/template/Foto_01_2400_small.jpg
  frontend/public/img/template/Foto_02_2400_small.jpg
  frontend/public/img/template/Foto_03_2400_small.jpg
  frontend/public/img/template/Foto_04_2400_small.jpg
  frontend/src/App.spec.js
  frontend/src/App.vue
  frontend/src/assets/scss/custom/gradido-custom/_body.scss
  frontend/src/assets/scss/custom/gradido-custom/_custom-forms.scss
  frontend/src/assets/scss/custom/gradido-custom/_grid-breakpoint.scss
  frontend/src/assets/scss/custom/gradido-custom/_sections.scss
  frontend/src/assets/scss/fonts/WorkSans-VariableFont_wght.ttf
  frontend/src/assets/scss/gradido-template.scss
  frontend/src/assets/scss/gradido.scss
  frontend/src/components/Auth/Carousel.vue
  frontend/src/components/Auth/Footer.vue
  frontend/src/components/Auth/MobileStart.vue
  frontend/src/components/Auth/Navbar.vue
  frontend/src/components/Auth/NavbarSmall.vue
  frontend/src/components/DecayInformations/CollapseLinksList.vue
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/LanguageSwitch2.vue
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Transaction.vue
  frontend/src/layouts/AuthLayout.spec.js
  frontend/src/layouts/AuthLayout.vue
  frontend/src/layouts/AuthLayout_gdd.spec.js
  frontend/src/layouts/AuthLayout_gdd.vue
  frontend/src/layouts/DashboardLayout.spec.js
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/ForgotPassword.spec.js
  frontend/src/pages/ForgotPassword.vue
  frontend/src/pages/Login.spec.js
  frontend/src/pages/Login.vue
  frontend/src/pages/Register.spec.js
  frontend/src/pages/Register.vue
  frontend/src/pages/ResetPassword.spec.js
  frontend/src/pages/ResetPassword.vue
  frontend/src/pages/Send.spec.js
  frontend/src/pages/thx.vue
  frontend/yarn.lock
Labels: feature, service: wallet frontend

#1796 first draft of concept event protocol
  docu/Concepts/TechnicalRequirements/BusinessEventProtocol.md
Labels: docu

#1797 Concept to Introduce Gradido ID
  docu/Concepts/TechnicalRequirements/UC_Introduction_of_Gradido-ID.md
Labels: docu

#1842 more details about Windows installation
  README.md
Labels: docu

#1711 1676 feature federation technical concept
  docu/Concepts/TechnicalRequirements/Federation.md
  docu/Concepts/TechnicalRequirements/graphics/FederationHyperSwarm.drawio
  docu/Concepts/TechnicalRequirements/image/FederationHyperSwarm.png
  docu/graphics/brainstorm-gradido.drawio
Labels: docu, planning

#1917 contribution analysis of elopage and concept proposal
  docu/other/Contribution/contribution-mockup-konzept.odt
  docu/other/Contribution/contribution-mockup-konzept.pdf
Labels: docu

#1940 Bilder für Slider
  docu/Style/Images/Bild_1_1920.jpg
  docu/Style/Images/Bild_1_2400.jpg
  docu/Style/Images/Bild_2_1920.jpg
  docu/Style/Images/Bild_2_2400.jpg
  docu/Style/Images/Bild_3_1920.jpg
  docu/Style/Images/Bild_3_2400.jpg
Labels: docu, Style

#1937 rename files from auth folder, rule vue name = name files
  frontend/src/components/Auth/AuthCarousel.vue
  frontend/src/components/Auth/AuthFooter.vue
  frontend/src/components/Auth/AuthMobileStart.vue
  frontend/src/components/Auth/AuthNavbar.vue
  frontend/src/components/Auth/AuthNavbarSmall.vue
  frontend/src/layouts/AuthLayout.spec.js
  frontend/src/layouts/AuthLayout.vue
Labels: service: wallet frontend, refactor

#1930 1916 remove select language from register form
  frontend/src/assets/scss/gradido-template.scss
  frontend/src/pages/Register.spec.js
  frontend/src/pages/Register.vue
Labels: service: wallet frontend, refactor, Style

#1927 1926 button concept for gradido template
  frontend/src/assets/scss/gradido-template.scss
Labels: service: wallet frontend, refactor, Style

#1935 1929 styling new template for password component
  frontend/src/components/Auth/AuthCarousel.vue
  frontend/src/components/Auth/AuthMobileStart.vue
  frontend/src/components/Auth/AuthNavbar.vue
  frontend/src/layouts/AuthLayout.vue
  frontend/src/pages/ResetPassword.spec.js
  frontend/src/pages/ResetPassword.vue
Labels: service: wallet frontend, refactor, Style

#1941 1933 auth footer is not on one level
  frontend/src/assets/scss/gradido-template.scss
  frontend/src/components/Auth/AuthFooter.vue
  frontend/src/layouts/AuthLayout.vue
Labels: service: wallet frontend, refactor, Style

#1943 1942 replace pictures for carousel
  frontend/public/img/template/Foto_01_2400_small.jpg
  frontend/public/img/template/Foto_02_2400_small.jpg
  frontend/public/img/template/Foto_03_2400_small.jpg
  frontend/public/img/template/Foto_04_2400_small.jpg
  frontend/src/components/Auth/AuthCarousel.vue
Labels: service: wallet frontend, Style

#1946 1883 remove the animated coins in the profile settings
  backend/src/graphql/arg/UpdateUserInfosArgs.ts
  backend/src/graphql/enum/Setting.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/typeorm/repository/UserSettingRepository.ts
  frontend/src/components/UserSettings/UserCoinAnimation.spec.js
  frontend/src/components/UserSettings/UserCoinAnimation.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Profile.spec.js
  frontend/src/pages/Profile.vue
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: service: wallet frontend, refactor, service: backend

#1912 refactor: Use Logger Categories
  backend/log4js-config.json
  backend/src/server/logger.ts
  backend/src/server/plugins.ts
Labels: refactor, devops, service: backend

#1918 docu: Creation Flowchart
  docu/Concepts/BusinessRequirements/graphics/Creation_Flowchart.drawio
  docu/Concepts/BusinessRequirements/image/Creation_flowchart.drawio.png
Labels: docu, planning

#1925 devops: Update License in all package.json
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: devops

#1931 fix: Add Timezone to Decay Start Block
  backend/src/config/index.test.ts
  backend/src/config/index.ts
Labels: service: backend

#1955 1952 change footer icons color an remove save login
  frontend/src/components/Auth/AuthFooter.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Login.vue
Labels: service: wallet frontend, refactor, Style
