Repository gradido/gradido, pull requests merged in 2022-09, with the labels that each got.

#2149 feat: 🚀 CRUD For Contribution Messages
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/arg/ContributionMessageArgs.ts
  backend/src/graphql/model/Contribution.ts
  backend/src/graphql/model/ContributionMessage.ts
  backend/src/graphql/model/UnconfirmedContribution.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  database/entity/0047-messages_tables/ContributionMessage.ts
  database/entity/0047-messages_tables/User.ts
  database/entity/User.ts
  frontend/src/graphql/queries.js
Labels: feature, service: backend

#2164 feat: 🍰 Contribution Messages In Frontend
  admin/src/components/ContributionMessages/ContributionMessagesFormular.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  admin/src/components/ContributionMessages/ContributionMessagesList.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.spec.js
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.vue
  admin/src/components/ContributionMessages/slots/IsModerator.spec.js
  admin/src/components/ContributionMessages/slots/IsModerator.vue
  admin/src/components/ContributionMessages/slots/IsNotModerator.spec.js
  admin/src/components/ContributionMessages/slots/IsNotModerator.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/graphql/adminCreateContributionMessage.js
  admin/src/graphql/listContributionMessages.js
  admin/src/graphql/listUnconfirmedContributions.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.vue
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.vue
  frontend/src/components/ContributionMessages/ContributionMessagesList.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesList.vue
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.vue
  frontend/src/components/ContributionMessages/slots/IsModerator.spec.js
  frontend/src/components/ContributionMessages/slots/IsModerator.vue
  frontend/src/components/ContributionMessages/slots/IsNotModerator.spec.js
  frontend/src/components/ContributionMessages/slots/IsNotModerator.vue
  frontend/src/components/Contributions/ContributionList.vue
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/pages/Community.spec.js
  frontend/src/pages/Community.vue
Labels: feature, service: wallet frontend, service: backend, service: database, service: admin frontend

#2178 feat: 🍰 Moderator Cannot Answer Himself
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/graphql/listUnconfirmedContributions.js
  admin/src/pages/CreationConfirm.spec.js
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
Labels: bug, service: backend

#2180 Add is moderator to contribution message
  backend/src/config/index.ts
  backend/src/graphql/model/ContributionMessage.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  database/entity/0048-add_is_moderator_to_contribution_messages/ContributionMessage.ts
  database/entity/ContributionMessage.ts
  database/migrations/0048-add_is_moderator_to_contribution_messages.ts
Labels: service: backend, service: database

#2174 Refactor locales for Nederlands
  frontend/src/components/LanguageSwitch.spec.js
  frontend/src/components/LanguageSwitch2.spec.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/index.js
  frontend/src/locales/nl.json
Labels: service: wallet frontend, refactor, locales

#2186 text in messages smaller
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  admin/src/components/ContributionMessages/slots/IsModerator.vue
  admin/src/components/ContributionMessages/slots/IsNotModerator.vue
  frontend/src/components/ContributionMessages/ContributionMessagesList.vue
  frontend/src/components/ContributionMessages/slots/IsModerator.vue
  frontend/src/components/ContributionMessages/slots/IsNotModerator.vue
Labels: service: wallet frontend, refactor

#2185 messages show if Confirmed
  frontend/src/components/Contributions/ContributionListItem.vue
Labels: bug, service: wallet frontend, refactor

#2189 if message empty else disabled button
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.vue
Labels: service: wallet frontend, refactor

#2191 release: v1.12.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2195 fix: 🍰 Show Not Icons In `allContribution` List
  frontend/src/components/Contributions/ContributionList.vue
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/pages/Community.vue
Labels: bug, service: wallet frontend

#2063 feat: 🍰 Send Email To Transaction Link Sender After Receiver Redeemed It
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/mailer/sendTransactionReceivedEmail.ts
  backend/src/mailer/text/transactionReceived.ts
Labels: feature, service: backend

#2210 change support mail
  deployment/bare_metal/.env.dist
  deployment/bare_metal/install.sh
  frontend/.env.dist
  frontend/.env.template
  frontend/src/config/index.js
  frontend/src/pages/InfoStatistic.vue
Labels: refactor

#2204 Refactor: Events and logs completed in User Resolver
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: refactor, service: backend, test

#2211 2203 delete query modal when redeeming the redeem link
  frontend/src/components/LinkInformations/RedeemValid.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/pages/TransactionLink.spec.js
  frontend/src/pages/TransactionLink.vue
Labels: refactor

#2214 Refactor: Test register with redeem code
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: refactor, service: backend, test

#2234 2219 feature rework eventprotocol
  docu/Concepts/TechnicalRequirements/BusinessEventProtocol.md
Labels: docu

#2206 feat: Add Client Request Time to Context
  admin/src/plugins/apolloProvider.js
  admin/src/plugins/apolloProvider.test.js
  backend/src/server/context.ts
  frontend/src/plugins/apolloProvider.js
  frontend/src/plugins/apolloProvider.test.js
Labels: feature, service: wallet frontend, service: backend, service: admin frontend

#2216 config testmodus flag for sending emails to test or team account instead of user account
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/mailer/sendEMail.test.ts
  backend/src/mailer/sendEMail.ts
  backend/src/server/createServer.ts
  deployment/bare_metal/.env.dist
  deployment/bare_metal/install.sh
  deployment/bare_metal/setup.md
Labels: feature

#2047 End-to-end test setup
  e2e-tests/README.md
  e2e-tests/cypress/.gitignore
  e2e-tests/cypress/Dockerfile
  e2e-tests/cypress/README.md
  e2e-tests/cypress/tests/.eslintignore
  e2e-tests/cypress/tests/.eslintrc.js
  e2e-tests/cypress/tests/cypress.config.ts
  e2e-tests/cypress/tests/cypress/e2e/User.Authentication.feature
  e2e-tests/cypress/tests/cypress/e2e/UserProfile.ChangePassword.feature
  e2e-tests/cypress/tests/cypress/e2e/models/LoginPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/OverviewPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/ProfilePage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/SideNavMenu.ts
  e2e-tests/cypress/tests/cypress/e2e/models/Toasts.ts
  e2e-tests/cypress/tests/cypress/fixtures/users.json
  e2e-tests/cypress/tests/cypress/support/e2e.ts
  e2e-tests/cypress/tests/cypress/support/index.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/common_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_authentication_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_profile_change_password_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_registration_steps.ts
  e2e-tests/cypress/tests/package.json
  e2e-tests/cypress/tests/tsconfig.json
  e2e-tests/cypress/tests/yarn.lock
  e2e-tests/playwright/Dockerfile
  e2e-tests/playwright/README.md
  e2e-tests/playwright/tests/global-setup.ts
  e2e-tests/playwright/tests/gradido_login.spec.ts
  e2e-tests/playwright/tests/models/login_page.ts
  e2e-tests/playwright/tests/models/welcome_page.ts
  e2e-tests/playwright/tests/playwright.config.ts
  frontend/src/components/Inputs/InputPasswordConfirmation.vue
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/components/UserSettings/UserPassword.vue
Labels: feature, test

#2209 docs: 🍰 Refine Deployment Documentation
  deployment/bare_metal/install.sh
  deployment/bare_metal/setup.md
Labels: refactor, devops

#2245 chore: 🍰 Fix Cypress Tests Unreliability
  e2e-tests/cypress/README.md
  e2e-tests/cypress/tests/cypress.config.ts
  e2e-tests/cypress/tests/cypress/e2e/User.Registration.feature
  e2e-tests/cypress/tests/cypress/e2e/models/LoginPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/ProfilePage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/RegistrationPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/Toasts.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/common_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_profile_change_password_steps.ts
  e2e-tests/cypress/tests/package.json
  frontend/src/components/Inputs/InputPasswordConfirmation.vue
Labels: test

#2213 Bug: delete contribution link
  admin/src/components/ContributionLink.vue
  admin/src/components/ContributionLinkForm.vue
  admin/src/components/ContributionLinkList.spec.js
  admin/src/components/ContributionLinkList.vue
  admin/src/graphql/showContributionLink.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/Overview.vue
Labels: bug, service: admin frontend

#2212 2198 adminarea more dates on created transaction
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.spec.js
  admin/src/components/CreationTransactionList.spec.js
  admin/src/components/CreationTransactionList.vue
  admin/src/graphql/creationTransactionList.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  backend/src/graphql/model/Contribution.ts
  backend/src/graphql/resolver/AdminResolver.ts
  database/migrations/0049-add_user_contacts_table.ts
Labels: refactor, service: admin frontend

#2233 style: add border-radius on send form
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.vue
  frontend/src/components/Contributions/ContributionForm.vue
  frontend/src/components/GddSend/TransactionForm.vue
Labels: service: wallet frontend, refactor, Style
