Repository gradido/gradido, pull requests merged in 2022-08, with the labels that each got.

#2114 remove required from form.memo
  frontend/src/components/Contributions/ContributionForm.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: bug, service: wallet frontend

#2115 add formatter on input amount replace point and comma
  frontend/src/components/Contributions/ContributionForm.vue
Labels: bug, service: wallet frontend

#2122 2121 translate locales to spanish
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  docu/Locales/GRADIDO_register_page_spanish.xlsx
  frontend/src/components/LanguageSwitch.spec.js
  frontend/src/components/LanguageSwitch2.spec.js
  frontend/src/components/LanguageSwitchSelect.vue
  frontend/src/i18n.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/index.js
Labels: docu, service: wallet frontend, service: backend

#2123 Add RIGHTS.LIST_CONTRIBUTION_LINKS to ROLE_USER
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/resolver/AdminResolver.test.ts
Labels: service: backend

#2092 chore: 🍰 Refactor Contribution Form Logic And Write Tests
  admin/jest.config.js
  admin/package.json
  admin/yarn.lock
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/Contributions/ContributionForm.spec.js
  frontend/src/components/Contributions/ContributionForm.vue
  frontend/yarn.lock
Labels: bug, refactor, test

#2136 feat: Migrate Contributions Table
  backend/src/config/index.ts
  backend/src/graphql/enum/ContributionStatus.ts
  backend/src/graphql/enum/ContributionType.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  database/entity/0045-add_denied_type_and_status_to_contributions/Contribution.ts
  database/entity/Contribution.ts
  database/migrations/0045-add_denied_type_and_status_to_contributions.ts
Labels: feature, service: backend, service: database

#2120 2119 new menu item gdt
  frontend/src/components/GddSend/TransactionConfirmationLink.spec.js
  frontend/src/components/GddSend/TransactionConfirmationLink.vue
  frontend/src/components/Menu/Navbar.spec.js
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/pages/Transactions.spec.js
  frontend/src/pages/Transactions.vue
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
Labels: feature, service: wallet frontend

#2126 2125 feature gradido id: new column gradidoid in users table
  backend/package.json
  backend/src/config/index.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/util/communityUser.ts
  backend/yarn.lock
  database/entity/0046-adapt_users_table_for_gradidoid/User.ts
  database/entity/User.ts
  database/migrations/0046-adapt_users_table_for_gradidoid.ts
  database/package.json
  database/yarn.lock
Labels: feature, service: backend, service: database

#2041 feat: Statistics Resolver
  admin/src/graphql/communityStatistics.js
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/model/CommunityStatistics.ts
  backend/src/graphql/resolver/StatisticsResolver.ts
Labels: service: backend

#1975 1973 list open contribution links in the wallet
  frontend/src/components/GddSend/TransactionConfirmationLink.spec.js
  frontend/src/components/Menu/Navbar.spec.js
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/pages/InfoStatistic.spec.js
  frontend/src/pages/InfoStatistic.vue
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
Labels: feature, service: wallet frontend

#2138 feat: 🍰 Add The Languages French And Dutch
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  docu/Locales/Vertaling_-_Ubersetzung_-_Translate_-_Bank_Details_D_NL.docx
  docu/Locales/Vertaling_-_Ubersetzung_-_Translate_-_Bank_Details_E_F.docx
  frontend/src/components/LanguageSwitch.spec.js
  frontend/src/components/LanguageSwitch2.spec.js
  frontend/src/components/LanguageSwitch2.vue
  frontend/src/components/LanguageSwitchSelect.vue
  frontend/src/i18n.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/index.js
  frontend/src/locales/nl.json
Labels: docu, feature, service: wallet frontend

#2137 🍰 Create `messages` table
  backend/src/config/index.ts
  backend/src/graphql/enum/MessageType.ts
  database/entity/0047-messages_tables/Contribution.ts
  database/entity/0047-messages_tables/ContributionMessage.ts
  database/entity/Contribution.ts
  database/entity/ContributionMessage.ts
  database/entity/index.ts
  database/migrations/0047-messages_tables.ts
Labels: feature, service: backend

#2158 2151 add hint to redeem link
  frontend/src/components/TransactionLinks/TransactionLink.spec.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/mixins/copyLinks.js
  frontend/src/pages/Send.spec.js
Labels: feature, good first issue, service: wallet frontend, refactor

#2073 2072 feature usecase contribution messaging
  docu/Concepts/BusinessRequirements/UC_Contribution_Messaging.md
  docu/Concepts/BusinessRequirements/graphics/ContributionMyList.png
  docu/Concepts/BusinessRequirements/graphics/ContributionStates.drawio
  docu/Concepts/BusinessRequirements/graphics/GradidoÜbersichtMaske.bmpr
  docu/Concepts/BusinessRequirements/image/ContributionCommunityList.png
  docu/Concepts/BusinessRequirements/image/ContributionMyList.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListConfirmedMessages.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListDeniedMessages.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListInProgressMessages.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListInProgressVersionedMessages.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListLifeCycle1.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListLifeCycle2.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListLifeCycle3.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListLifeCycle4.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListMessages.png
  docu/Concepts/BusinessRequirements/image/ContributionMyListMessagesNeu.png
  docu/Concepts/BusinessRequirements/image/ContributionStates.png
  docu/Concepts/BusinessRequirements/image/Contributions_DB_classdiagramm.png
Labels: docu

#2147 2145 corrections style for frontend
  frontend/public/img/template/gold_03.png
  frontend/src/components/Auth/AuthMobileStart.vue
  frontend/src/components/Auth/AuthNavbar.vue
  frontend/src/components/Auth/AuthNavbarSmall.vue
  frontend/src/layouts/AuthLayout.spec.js
  frontend/src/layouts/AuthLayout.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
Labels: service: wallet frontend, refactor, Style

#2156 feat: 🍰 Add Toogle Collaps On Language Name
  frontend/src/components/LanguageSwitch2.vue
Labels: service: wallet frontend, refactor

#2153 feat: 🍰 Remove Some Statistics Data From Frontend
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/pages/InfoStatistic.spec.js
  frontend/src/pages/InfoStatistic.vue
Labels: service: wallet frontend, refactor

#2159 chore: 🍰 Remove Fetch Policy Network Only From Statistics
  admin/src/pages/Overview.vue
Labels: refactor, service: admin frontend

#2167 fix: 🍰 Decay Calculation In Community Statistics
  frontend/src/pages/InfoStatistic.vue
Labels: service: wallet frontend
