Repository gradido/gradido, pull requests merged in 2022-12, with the labels that each got.

#2452 fix(backend): run all timers for high values
  backend/src/graphql/resolver/util/creations.test.ts
Labels: bug, service: backend, test

#2363 feat(backend): 🍰 Mark creation via link
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/typeorm/repository/Transaction.ts
  backend/src/util/virtualTransactions.ts
  database/entity/0036-unique_previous_in_transactions/Transaction.ts
  database/entity/0052-add_updated_at_to_contributions/Contribution.ts
  frontend/src/components/TransactionRows/AmountAndNameRow.vue
  frontend/src/components/Transactions/TransactionCreation.vue
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.vue
  frontend/src/graphql/queries.js
Labels: feature, service: wallet frontend

#2444 fix(backend): delete / undelete email contact as well
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
Labels: bug, service: backend

#2398 refactor(backend): refactor more emails to translatables
  CONTRIBUTING.md
  backend/package.json
  backend/src/emails/accountMultiRegistration/subject.pug
  backend/src/emails/sendEmailTranslated.test.ts
  backend/src/emails/sendEmailTranslated.ts
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/emails/sendEmailVariants.ts
  backend/src/emails/templates/accountActivation/html.pug
  backend/src/emails/templates/accountActivation/subject.pug
  backend/src/emails/templates/accountMultiRegistration/html.pug
  backend/src/emails/templates/accountMultiRegistration/subject.pug
  backend/src/emails/templates/addedContributionMessage/html.pug
  backend/src/emails/templates/addedContributionMessage/subject.pug
  backend/src/emails/templates/contributionConfirmed/html.pug
  backend/src/emails/templates/contributionConfirmed/subject.pug
  backend/src/emails/templates/contributionRejected/html.pug
  backend/src/emails/templates/contributionRejected/subject.pug
  backend/src/emails/templates/resetPassword/html.pug
  backend/src/emails/templates/resetPassword/subject.pug
  backend/src/emails/templates/transactionLinkRedeemed/html.pug
  backend/src/emails/templates/transactionLinkRedeemed/subject.pug
  backend/src/emails/templates/transactionReceived/html.pug
  backend/src/emails/templates/transactionReceived/subject.pug
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/locales/de.json
  backend/src/locales/en.json
  backend/src/mailer/sendAccountActivationEmail.test.ts
  backend/src/mailer/sendAccountActivationEmail.ts
  backend/src/mailer/sendAddedContributionMessageEmail.test.ts
  backend/src/mailer/sendAddedContributionMessageEmail.ts
  backend/src/mailer/sendContributionConfirmedEmail.test.ts
  backend/src/mailer/sendContributionConfirmedEmail.ts
  backend/src/mailer/sendContributionRejectedEmail.test.ts
  backend/src/mailer/sendContributionRejectedEmail.ts
  backend/src/mailer/sendEMail.test.ts
  backend/src/mailer/sendEMail.ts
  backend/src/mailer/sendResetPasswordEmail.test.ts
  backend/src/mailer/sendResetPasswordEmail.ts
  backend/src/mailer/sendTransactionLinkRedeemed.test.ts
  backend/src/mailer/sendTransactionLinkRedeemed.ts
  backend/src/mailer/sendTransactionReceivedEmail.test.ts
  backend/src/mailer/sendTransactionReceivedEmail.ts
  backend/src/mailer/text/accountActivation.ts
  backend/src/mailer/text/accountMultiRegistration.ts
  backend/src/mailer/text/contributionConfirmed.ts
  backend/src/mailer/text/contributionMessageReceived.ts
  backend/src/mailer/text/contributionRejected.ts
  backend/src/mailer/text/resetPassword.ts
  backend/src/mailer/text/transactionLinkRedeemed.ts
  backend/src/mailer/text/transactionReceived.ts
  backend/src/util/time.ts
  backend/src/util/utilities.ts
  backend/test/testSetup.ts
  docker-compose.yml
Labels: refactor, service: backend

#2454 feat(backend): log client timezone offset
  backend/src/graphql/resolver/util/creations.ts
Labels: feature, service: backend

#2451 fix(database): consistent deleted at bewteen users and user contacts
  backend/src/config/index.ts
  database/migrations/0055-consistent_deleted_users.ts
Labels: bug, service: database

#2418 fix(backend): email verification code never expired
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/EmailOptinCodes.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/test/helpers.ts
Labels: bug, service: backend

#2453 fix(database): consistent transaction table
  backend/src/config/index.ts
  database/migrations/0056-consistent_transactions_table.ts
Labels: bug, service: database

#2465 feat(backend): setup unit tests for federation
  backend/src/federation/index.test.ts
Labels: feature, service: backend, test

#2467 feat(release): version 1.16.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2470 refactor(other): build nginx docker image in workflow independent of other builds
  .github/workflows/test.yml
Labels: refactor, devops

#2471 fix(admin): reduce triggers of success toast on deleted user form to exactly one
  admin/src/components/DeletedUserFormular.vue
Labels: bug, good first issue, service: admin frontend

#2468 feat(backend): test semaphore
  .github/workflows/test.yml
  backend/src/graphql/resolver/semaphore.test.ts
Labels: feature, service: backend, test

#2472 feat(backend): design html emails and adjust texts
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/emails/sendEmailVariants.ts
  backend/src/emails/templates/accountActivation/html.pug
  backend/src/emails/templates/accountMultiRegistration/html.pug
  backend/src/emails/templates/addedContributionMessage/html.pug
  backend/src/emails/templates/contributionConfirmed/html.pug
  backend/src/emails/templates/contributionRejected/html.pug
  backend/src/emails/templates/greatingFormularImprint.pug
  backend/src/emails/templates/hello.pug
  backend/src/emails/templates/resetPassword/html.pug
  backend/src/emails/templates/transactionLinkRedeemed/html.pug
  backend/src/emails/templates/transactionReceived/html.pug
  backend/src/emails/templates/transactionReceived/subject.pug
  backend/src/locales/de.json
  backend/src/locales/en.json
  deployment/bare_metal/.env.dist
  frontend/.env.dist
  frontend/.env.template
  frontend/src/config/index.js
  frontend/src/pages/InfoStatistic.vue
Labels: feature, service: backend

#2458 feat(backend): semaphore to lock transaction table
  .github/workflows/test.yml
  backend/package.json
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/semaphore.test.ts
  backend/src/seeds/index.ts
  backend/src/util/TRANSACTIONS_LOCK.ts
  backend/src/util/validate.ts
  backend/yarn.lock
Labels: feature, service: backend

#2427 feat(backend): federation implement exchange of api versions persist in table
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/federation/index.test.ts
  backend/src/federation/index.ts
  backend/src/index.ts
  database/entity/0058-add_communities_table/Community.ts
  database/entity/Community.ts
  database/entity/index.ts
  database/migrations/0058-add_communities_table.ts
Labels: feature, service: backend, service: database
