Repository gradido/gradido, pull requests merged in 2022-06, with the labels that each got.

#1959 1951 remove back link and remove gray box
  frontend/src/pages/ForgotPassword.spec.js
  frontend/src/pages/ForgotPassword.vue
Labels: service: wallet frontend, refactor, Style

#1958 fixed redeem link is mobile start false
  frontend/src/assets/scss/gradido-template.scss
  frontend/src/components/Auth/AuthMobileStart.vue
  frontend/src/layouts/AuthLayout.vue
  frontend/src/pages/TransactionLink.vue
Labels: service: wallet frontend, refactor, Style

#1964 refactor register button position
  frontend/src/pages/Register.vue
Labels: service: wallet frontend, refactor, Style

#1914 refactor: 🍰 Refactor To `filters` Object And Rename Filters Properties
  .github/workflows/test.yml
  admin/src/graphql/listTransactionLinksAdmin.js
  admin/src/graphql/searchUsers.js
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  backend/src/graphql/arg/SearchUsersArgs.ts
  backend/src/graphql/arg/SearchUsersFilters.ts
  backend/src/graphql/arg/TransactionLinkFilters.ts
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/seeds/transactionLink/TransactionLinkInterface.ts
  backend/src/seeds/transactionLink/index.ts
  backend/src/util/utilities.ts
Labels: refactor, test

#1968 devops: Release Version 1.9.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#1969 locales link german, english navbar
  frontend/src/components/Auth/AuthNavbar.vue
Labels: service: wallet frontend, refactor, Style

#1957 1920 feature create contribution link table
  .dbeaver/credentials-config.json
  .dbeaver/data-sources.json
  .gitignore
  .project
  backend/src/config/index.ts
  database/entity/0037-drop_user_setting_table/User.ts
  database/entity/0038-add_contribution_links_table/ContributionLink.ts
  database/entity/ContributionLink.ts
  database/entity/User.ts
  database/entity/index.ts
  database/migrations/0037-drop_user_setting_table.ts
  database/migrations/0038-add_contribution_links_table.ts
Labels: feature

#1979 feat: CRUD for Contribution Links in Admin Resolver
  .github/workflows/test.yml
  backend/.env.dist
  backend/.env.template
  backend/src/auth/RIGHTS.ts
  backend/src/config/index.ts
  backend/src/graphql/arg/ContributionLinkArgs.ts
  backend/src/graphql/enum/ContributionCycleType.ts
  backend/src/graphql/model/ContributionLink.ts
  backend/src/graphql/model/ContributionLinkList.ts
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/seeds/contributionLink/ContributionLinkInterface.ts
  backend/src/seeds/contributionLink/index.ts
  backend/src/seeds/factory/contributionLink.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/seeds/index.ts
  deployment/bare_metal/.env.dist
Labels: service: backend

#1984 devops: Update Browser List for Unit Tests as Recomended
  admin/yarn.lock
  frontend/yarn.lock
Labels: devops

#1949 refactor: Admin Pending Creations Table to Contributions Table
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/graphql/adminCreateContribution.js
  admin/src/graphql/adminCreateContributions.js
  admin/src/graphql/adminDeleteContribution.js
  admin/src/graphql/adminUpdateContribution.js
  admin/src/graphql/confirmContribution.js
  admin/src/graphql/confirmPendingCreation.js
  admin/src/graphql/createPendingCreation.js
  admin/src/graphql/createPendingCreations.js
  admin/src/graphql/deletePendingCreation.js
  admin/src/graphql/listUnconfirmedContributions.js
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  backend/src/auth/RIGHTS.ts
  backend/src/config/index.ts
  backend/src/graphql/arg/AdminCreateContributionArgs.ts
  backend/src/graphql/arg/AdminUpdateContributionArgs.ts
  backend/src/graphql/model/AdminCreateContributions.ts
  backend/src/graphql/model/AdminUpdateContribution.ts
  backend/src/graphql/model/UnconfirmedContribution.ts
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/seeds/factory/creation.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  database/entity/0039-contributions_table/Contribution.ts
  database/entity/Contribution.ts
  database/entity/index.ts
  database/migrations/0039-contributions_table.ts
Labels: refactor, service: backend, service: database

#1967 fix: `.env` log level for apollo and backend category
  backend/src/server/logger.ts
  backend/src/server/plugins.ts
Labels: devops, service: backend

#1981 CRUD contribution link admin interface
  admin/jest.config.js
  admin/package.json
  admin/public/img/gdd-coin.png
  admin/src/components/ContributionLink.spec.js
  admin/src/components/ContributionLink.vue
  admin/src/components/ContributionLinkForm.spec.js
  admin/src/components/ContributionLinkForm.vue
  admin/src/components/ContributionLinkList.spec.js
  admin/src/components/ContributionLinkList.vue
  admin/src/components/FigureQrCode.spec.js
  admin/src/components/FigureQrCode.vue
  admin/src/components/Tables/OpenCreationsTable.spec.js
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/graphql/createContributionLink.js
  admin/src/graphql/deleteContributionLink.js
  admin/src/graphql/listContributionLinks.js
  admin/src/graphql/showContributionLink.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/Overview.vue
  admin/yarn.lock
Labels: service: backend, service: admin frontend

#1987 feat: Redeem Contribution Link
  .github/workflows/test.yml
  backend/src/config/index.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/factory/contributionLink.ts
  database/entity/0040-add_contribution_link_id_to_user/User.ts
  database/entity/User.ts
  database/migrations/0040-add_contribution_link_id_to_user.ts
Labels: feature, service: backend

#1990 change new start picture
  frontend/public/img/template/Foto_01_2400_small.jpg
  frontend/public/img/template/Foto_03_2400_small.jpg
Labels: service: wallet frontend, refactor, Style

#1993 release: v1.10.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#1977 refactor mobile style step 1
  frontend/src/components/Auth/AuthNavbar.vue
  frontend/src/components/LanguageSwitch2.vue
  frontend/src/layouts/AuthLayout.vue
Labels: service: wallet frontend, refactor, Style

#1962 refactor: 🍰 Not Throwing An Error When Register With Existing Email
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/mailer/sendAccountMultiRegistrationEmail.test.ts
  backend/src/mailer/sendAccountMultiRegistrationEmail.ts
  backend/src/mailer/sendEMail.test.ts
  backend/src/mailer/sendEMail.ts
  backend/src/mailer/text/accountMultiRegistration.ts
  deployment/bare_metal/.env.dist
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Register.spec.js
  frontend/src/pages/Register.vue
Labels: refactor, test

#1907 1906 feature concept for gdd creation per linkqr code
  .dbeaver/.credentials-config.json.bak
  .dbeaver/.data-sources.json.bak
  .dbeaver/credentials-config.json
  .dbeaver/data-sources.json
  .gitignore
  docu/Concepts/BusinessRequirements/UC_Send_Contribution.md
  docu/Concepts/BusinessRequirements/graphics/Ablauf_manuelle_auto_Creations.drawio
  docu/Concepts/BusinessRequirements/graphics/GradidoÜbersichtMaske.bmpr
  docu/Concepts/BusinessRequirements/image/Ablauf_manuelle_auto_Creations.png
  docu/Concepts/BusinessRequirements/image/DB-Diagramm_20220518.png
  docu/Concepts/BusinessRequirements/image/DB-Diagramm_Contributions.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Contribution_Admin-Overview.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Contribution_Admin-new ContributionSend.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Contribution_Admin-new ContributionZyklus.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Contribution_Admin-newContribution.png
Labels: docu

#1998 1910 separate text for the slideshow images.
  frontend/src/components/Auth/AuthCarousel.vue
  frontend/src/layouts/AuthLayout.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor, Style

#2001 automatic session logout with info modal
  backend/.env.dist
  backend/src/config/index.ts
  deployment/bare_metal/.env.dist
  frontend/package.json
  frontend/src/components/SessionLogoutTimeout.spec.js
  frontend/src/components/SessionLogoutTimeout.vue
  frontend/src/components/TransactionLinks/TransactionLink.spec.js
  frontend/src/layouts/AuthLayout.spec.js
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/plugins/dashboard-plugin.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: feature

#2021 release: 1.10.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release
