Repository gradido/gradido, pull requests merged in 2022-04, with the labels that each got.

#1713 icon droplet-halflarger and correctly positioned
  frontend/src/components/DecayInformations/DecayInformation-Long.vue
Labels: service: wallet frontend, refactor

#1716 fix-disbled-button-if-totalBalance
  frontend/src/components/GddSend/TransactionConfirmationLink.vue
Labels: bug, service: wallet frontend

#1717 Fix: restore script load correct .env
  deployment/bare_metal/restore.sh
Labels: bug

#1719 Fix: larger icon and decay information if center
  frontend/src/components/DecayInformations/DecayInformation-Decay.vue
  frontend/src/components/DecayInformations/DecayInformation-Long.vue
Labels: bug, service: wallet frontend

#1718 fix: Round Virtual Transaction Link Transaction
  backend/src/graphql/model/Transaction.ts
  backend/src/util/virtualTransactions.ts
Labels: bug, service: backend

#1720 fix: Localize Dates on Redeem Transaction Link Page
  frontend/src/pages/TransactionLink.spec.js
  frontend/src/pages/TransactionLink.vue
Labels: bug, service: wallet frontend

#1721 v1.7.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#1726 text for toast expand link copied
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor

#1724 transaction type remains when jumping from the verification back
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
Labels: bug, service: wallet frontend

#1730 1729 load spinner if pending balance
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Status.spec.js
  frontend/src/components/Status.vue
  frontend/src/pages/Overview.vue
Labels: bug, service: wallet frontend

#1728 1727 change button text and observe spelling
  frontend/src/components/GddSend/TransactionConfirmationLink.vue
  frontend/src/components/GddSend/TransactionConfirmationSend.spec.js
  frontend/src/components/GddSend/TransactionConfirmationSend.vue
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Send.spec.js
Labels: service: wallet frontend

#1722 if no recipientEmail else form.email
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/pages/Send.spec.js
Labels: bug, service: wallet frontend

#1677 503 transaction list pagination pages clickable
  frontend/src/components/GddTransactionList.spec.js
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/GdtTransactionList.spec.js
  frontend/src/components/GdtTransactionList.vue
  frontend/src/components/PaginationButtons.spec.js
  frontend/src/components/PaginationButtons.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor

#1737 Fix: Fixed config dist version to properly reflect new password reset url
  backend/.env.dist
  deployment/bare_metal/.env.dist
Labels: bug, service: backend

#1743 fix: Check That Recipient User Has Activated Account to Receive Coins
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug, service: backend

#1746 Docu: Scope of Gradido
  docu/presentation/gradido-as-platform.drawio
  docu/presentation/scope-of-gradido.odp
  docu/presentation/scope-of-gradido.pdf
Labels: docu

#1747 Feature: JWT duration is now 30min by default
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  deployment/bare_metal/.env.dist
Labels: feature, refactor, service: backend

#1742 fix: Elopage Status
  backend/src/graphql/resolver/UserResolver.ts
  backend/yarn.lock
Labels: bug, service: backend

#1762 refactor: Define Context Interface
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/KlicktippResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/server/context.ts
Labels: refactor, service: backend

#1756 1755 insert additional text when redeeming
  frontend/src/components/LinkInformations/RedeemLoggedOut.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor

#1661 1633 display qr code on link in transaction list
  frontend/package.json
  frontend/public/img/gdd-coin.png
  frontend/public/img/svg/qr-code.svg
  frontend/src/components/ClipboardCopy.vue
  frontend/src/components/GddSend/QrCode.spec.js
  frontend/src/components/GddSend/QrCode.vue
  frontend/src/components/GddSend/TransactionResultLink.vue
  frontend/src/components/QrCode/FigureQrCode.spec.js
  frontend/src/components/QrCode/FigureQrCode.vue
  frontend/src/components/TransactionLinks/TransactionLink.spec.js
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/components/UserCard.spec.js
  frontend/src/components/UserCard.vue
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: feature

#1765 🍰 Add Wallet Link To Mails
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/mailer/sendTransactionReceivedEmail.test.ts
  backend/src/mailer/sendTransactionReceivedEmail.ts
  backend/src/mailer/text/transactionReceived.ts
  deployment/bare_metal/.env.dist
Labels: feature

#1789 Fix: Certbot renewal
  deployment/bare_metal/install.sh
Labels: bug, devops

#1744 add Tab system from bootstrap in SearchUserTable Userdata
  admin/src/components/Tables/SearchUserTable.vue
  admin/src/components/TransactionLinkList.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: feature, service: admin frontend

#1752 1751 make gdt visible only if explicitly clicked
  frontend/src/components/GdtTransactionList.spec.js
  frontend/src/components/GdtTransactionList.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Overview.spec.js
  frontend/src/pages/Overview.vue
  frontend/src/pages/Transactions.spec.js
  frontend/src/pages/Transactions.vue
Labels: service: wallet frontend, refactor

#1807 change config DECAY_START_TIME in UTC 0000
  frontend/src/config/index.js
Labels: bug, service: wallet frontend

#1780 refactor: Balance Model and Decay Rounding
  backend/src/graphql/model/Balance.ts
  backend/src/graphql/model/Decay.ts
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/util/decay.ts
  backend/src/util/virtualTransactions.ts
  frontend/src/components/DecayInformations/DecayInformation-Decay.vue
  frontend/src/graphql/queries.js
  frontend/src/layouts/DashboardLayout_gdd.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: bug, service: backend

#1790 devops: Deploy Seed in Backend
  backend/README.md
  database/README.md
  database/package.json
  database/src/factories/server-user.factory.ts
  database/src/factories/transaction.factory.ts
  database/src/factories/user.factory.ts
  database/src/helpers.ts
  database/src/index.ts
  database/src/seeds/create-user.seed.ts
  database/src/seeds/helpers/user-helpers.ts
  database/src/seeds/users/bibi-bloxberg.seed.ts
  database/src/seeds/users/bibi-bloxberg.ts
  database/src/seeds/users/bob-baumeister.seed.ts
  database/src/seeds/users/bob-baumeister.ts
  database/src/seeds/users/garrick-ollivander.seed.ts
  database/src/seeds/users/garrick-ollivander.ts
  database/src/seeds/users/peter-lustig.admin.seed.ts
  database/src/seeds/users/peter-lustig.ts
  database/src/seeds/users/raeuber-hotzenplotz.seed.ts
  database/src/seeds/users/raeuber-hotzenplotz.ts
  database/src/seeds/users/stephen-hawking.seed.ts
  database/src/seeds/users/stephen-hawking.ts
  database/yarn.lock
  deployment/bare_metal/start.sh
Labels: devops, service: database

#1806 fix: Load Transaction Link Details on Click
  frontend/src/components/Transactions/TransactionLinkSummary.spec.js
  frontend/src/components/Transactions/TransactionLinkSummary.vue
Labels: bug, service: wallet frontend

#1750 Refactor: Frontend bake in community info
  deployment/bare_metal/.env.dist
  frontend/.env.dist
  frontend/.env.template
  frontend/src/config/index.js
  frontend/src/graphql/queries.js
  frontend/src/mixins/getCommunityInfo.js
  frontend/src/pages/Login.spec.js
  frontend/src/pages/Login.vue
  frontend/src/pages/Register.spec.js
  frontend/src/pages/Register.vue
  frontend/src/pages/RegisterCommunity.spec.js
  frontend/src/pages/RegisterCommunity.vue
  frontend/src/pages/SelectCommunity.spec.js
  frontend/src/pages/SelectCommunity.vue
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: service: wallet frontend, refactor

#1809 1731 style startDecayStartblock, style Adapted across pages
  frontend/src/components/DecayInformations/DecayInformation-Decay.vue
  frontend/src/components/DecayInformations/DecayInformation-DecayStartblock.vue
  frontend/src/components/DecayInformations/DecayInformation-Long.vue
  frontend/src/components/GddTransactionList.spec.js
  frontend/src/components/TransactionCollapse.vue
  frontend/src/components/TransactionRows/DurationRow.vue
  frontend/src/components/Transactions/TransactionDecay.vue
Labels: bug, service: wallet frontend

#1745 Generated link in backend should also give back the base url
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/graphql/model/TransactionLink.ts
  deployment/bare_metal/.env.dist
  frontend/src/components/ClipboardCopy.vue
  frontend/src/components/DecayInformations/CollapseLinksList.spec.js
  frontend/src/components/GddSend/TransactionResultLink.vue
  frontend/src/components/TransactionLinks/TransactionLink.spec.js
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/components/Transactions/TransactionLinkSummary.spec.js
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/pages/Send.spec.js
  frontend/src/pages/Send.vue
Labels: service: wallet frontend, refactor, service: backend

#1818 fix: Double Load Transaction Links
  frontend/src/components/Transactions/TransactionLinkSummary.spec.js
  frontend/src/components/Transactions/TransactionLinkSummary.vue
Labels: bug, service: wallet frontend

#1822 Fix: cross-env for windows
  admin/package.json
  admin/yarn.lock
  backend/package.json
  backend/yarn.lock
  database/package.json
  database/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: bug, service: wallet frontend, service: backend, service: database, service: admin frontend

#1819 1813 qr code popup
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor

#1817 Docu: Federation image
  docu/graphics/federation.drawio
  docu/graphics/federation.png
Labels: docu, planning

#1820 1812 put qr code into popup on generate
  frontend/src/components/ClipboardCopy.vue
  frontend/src/components/GddSend/TransactionResultLink.vue
  frontend/src/components/GddSend/TransactionResultSendError.vue
  frontend/src/components/GddSend/TransactionResultSendSuccess.vue
  frontend/src/components/QrCode/FigureQrCode.spec.js
  frontend/src/components/QrCode/FigureQrCode.vue
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/pages/Send.spec.js
Labels: service: wallet frontend, refactor

#1821 1816 expired link are not highlighted
  frontend/src/components/TransactionLinks/TransactionLink.spec.js
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/components/TransactionRows/DateRow.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor

#1808 refactor: Drop Server User Table
  backend/src/config/index.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/factory/user.ts
  backend/src/util/communityUser.ts
  database/README.md
  database/entity/0034-drop_server_user_table/User.ts
  database/entity/ServerUser.ts
  database/entity/User.ts
  database/entity/index.ts
  database/migrations/0034-drop_server_user_table.ts
Labels: service: backend, service: database

#1748 Refactor: Database admin pending creations use decimal
  admin/src/graphql/createPendingCreation.js
  admin/src/graphql/updatePendingCreation.js
  backend/src/config/index.ts
  backend/src/graphql/arg/CreatePendingCreationArgs.ts
  backend/src/graphql/arg/UpdatePendingCreationArgs.ts
  backend/src/graphql/model/PendingCreation.ts
  backend/src/graphql/model/UpdatePendingCreation.ts
  backend/src/graphql/model/UserAdmin.ts
  backend/src/graphql/resolver/AdminResolver.ts
  database/entity/0035-admin_pending_creations_decimal/AdminPendingCreation.ts
  database/entity/AdminPendingCreation.ts
  database/migrations/0035-admin_pending_creations_decimal.ts
Labels: refactor, service: backend, service: database, service: admin frontend

#1827 feat: More User Resolver Tests
  .github/workflows/test.yml
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
Labels: feature, devops, service: backend

#1836 v1.8.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#1841 error message by no navigator.clipbord function
  frontend/src/components/ClipboardCopy.vue
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: wallet frontend

#1838 fix: Confirm Creation with Decimal
  backend/package.json
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/seeds/graphql/mutations.ts
  deployment/bare_metal/.env.dist
Labels: bug, service: backend

#1849 devops: Disable Send Email on Seeding
  backend/src/seeds/index.ts
  deployment/bare_metal/.env.dist
Labels: devops

#1852 devops: Disable DB Reset on Stage 1
  deployment/bare_metal/start.sh
Labels: devops

#1848 feat: Test Admin Resolver
  .github/workflows/test.yml
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/graphql/createPendingCreation.js
  admin/src/graphql/updatePendingCreation.js
  backend/src/graphql/arg/CreatePendingCreationArgs.ts
  backend/src/graphql/arg/UpdatePendingCreationArgs.ts
  backend/src/graphql/model/UpdatePendingCreation.ts
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/seeds/factory/creation.ts
  backend/src/seeds/factory/user.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
Labels: devops, service: backend, test

#1854 fix: Deprecated Warning from Faker on Seeding
  backend/src/seeds/index.ts
Labels: bug, service: backend

#1853 1851 integrate and test the behaviour of clipboard polyfill
  frontend/package.json
  frontend/src/main.js
  frontend/yarn.lock
Labels: service: wallet frontend, refactor

#1855 v1.8.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release
