Repository gradido/gradido, pull requests merged in 2022-07, with the labels that each got.

#2009 feat: ContributionResolver - createContribution
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/arg/ContributionArgs.ts
  backend/src/graphql/model/UnconfirmedContribution.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/const/const.ts
  backend/src/graphql/resolver/util/creations.ts
  backend/src/seeds/graphql/mutations.ts
Labels: feature, service: backend

#2024 changed link color in navbar and language switch
  frontend/src/components/Auth/AuthNavbar.vue
  frontend/src/components/LanguageSwitch2.vue
Labels: service: wallet frontend, refactor, Style

#2030 Transaction link: copy link, text and more
  frontend/src/components/TransactionLinks/TransactionLink.spec.js
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: wallet frontend

#2037 change text from page
  frontend/src/components/Auth/AuthMobileStart.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor

#2034 add code for moving user creation date if transaction before exist
  backend/src/config/index.ts
  database/migrations/0041-move_users_creation_date.ts
Labels: devops

#2046 feat: Login Returns Open Creations for User
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: service: backend

#2054 Prevent session expiration modal from displaying negative seconds, when session is expired for more than 0 seconds
  frontend/src/components/SessionLogoutTimeout.spec.js
  frontend/src/components/SessionLogoutTimeout.vue
Labels: bug, service: wallet frontend

#2048 Add open creations to webapp
  frontend/src/graphql/queries.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: service: wallet frontend, refactor

#1997 [WIP] 1794 feature event protocol 1 implement the basics of the business event protocol
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/event/Event.ts
  backend/src/event/EventProtocolEmitter.ts
  backend/src/event/EventProtocolType.ts
  backend/src/graphql/resolver/UserResolver.ts
  database/entity/0043-add_event_protocol_table/EventProtocol.ts
  database/entity/EventProtocol.ts
  database/entity/index.ts
  database/migrations/0043-add_event_protocol_table.ts
  deployment/bare_metal/.env.dist
  docu/Concepts/TechnicalRequirements/BusinessEventProtocol.md
Labels: service: backend, service: database

#2022 docu: Explain how `.env` Files are Working
  README.md
Labels: docu

#2061 Fix: Add count to list contributions
  backend/src/graphql/model/Contribution.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/seeds/graphql/queries.ts
Labels: refactor

#2062 fix: Add Contributions to User
  database/entity/0039-contributions_table/User.ts
Labels: bug

#2050 chore: 🍰 Change `image` Entries In Docker Compose Files And Get Apple M1 Running
  DOCKER_MORE_CLOSELY.md
  docker-compose.apple-m1.override.yml
  docker-compose.override.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: bug, docu, devops

#2082 [Refactor] Move MEMO_MIN_CHARS and MEMO_MAX_CHARS to const file
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/const/const.ts
Labels: refactor

#2042 feat: 🍰 Community Contribution Site And Form
  frontend/src/components/Contributions/ContributionForm.spec.js
  frontend/src/components/Contributions/ContributionForm.vue
  frontend/src/components/Contributions/ContributionList.spec.js
  frontend/src/components/Contributions/ContributionList.vue
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/i18n.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Community.spec.js
  frontend/src/pages/Community.vue
  frontend/src/pages/TransactionLink.vue
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
Labels: feature, service: wallet frontend

#2067 chore: 🍰 Provide Volume For Backend Log-Files In Docker
  docker-compose.override.yml
  docker-compose.yml
Labels: devops

#2083 fix: Update contribution_date when Moved by Seed
  backend/src/seeds/factory/creation.ts
Labels: service: backend

#2085 fix: Admin Cannot Edit User Contribution
  admin/src/components/Tables/OpenCreationsTable.spec.js
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
Labels: service: admin frontend

#2087 fix: Add Confirm Dialog on Delete Contribution
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
Labels: service: admin frontend

#2093 [Fix] Add createdAt & contributionDate to ContributionListItems
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: bug, service: wallet frontend

#2053 feat: Insert Missing Contributions Migration
  backend/src/config/index.ts
  database/migrations/0044-insert_missing_contributions.ts
Labels: service: database

#2098 Enable copying the link, username, amount, and memo text after transaction link creation
  frontend/src/components/ClipboardCopy.vue
  frontend/src/components/GddSend/TransactionResultLink.vue
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Send.spec.js
  frontend/src/pages/Send.vue
Labels: feature, service: wallet frontend

#2100 fix: Use Inner Join for Contribution and User
  backend/src/graphql/resolver/ContributionResolver.ts
Labels: bug, service: backend

#2099 Remove member area from menu (desktop and mobile), when user has no elopage account
  frontend/src/components/ContentFooter.spec.js
  frontend/src/components/ContentFooter.vue
  frontend/src/components/Menu/Navbar.spec.js
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
Labels: service: wallet frontend, refactor

#2103 release: Version 1.11.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2104 Fix pagination ellipsis
  admin/src/components/TransactionLinkList.vue
  admin/src/pages/Creation.vue
  admin/src/pages/UserSearch.vue
  frontend/src/components/Contributions/ContributionList.vue
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/GdtTransactionList.vue
Labels: feature, service: wallet frontend, refactor
