Repository gradido/gradido, pull requests merged in 2022-10, with the labels that each got.

#2221 reconfig log4js with rollover feature and userid in logevent-message
  backend/log4js-config.json
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/server/createServer.ts
Labels: bug

#2240 Refactor: Add all events to documentation table
  docu/Concepts/TechnicalRequirements/BusinessEventProtocol.md
Labels: docu

#2254 fix: 🐛 Verify Token Before Redeeming A Link
  frontend/src/pages/TransactionLink.spec.js
  frontend/src/pages/TransactionLink.vue
Labels: bug, service: wallet frontend, release

#2258 fix: 🍰 Disable Change Of Month For Update Contribution (wallet and admin)
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
Labels: service: backend

#2257 feat: 🍰 Do Not Show Expired Contribution Links In Wallet
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/InfoStatistic.vue
Labels: service: backend

#2262 feat: 🍰 Daily Rule For Contribution Links In Admin Interface
  .github/workflows/test.yml
  admin/src/components/ContributionLink.spec.js
  admin/src/components/ContributionLinkForm.spec.js
  admin/src/components/ContributionLinkForm.vue
  admin/src/components/ContributionLinkList.spec.js
  admin/src/components/ContributionLinkList.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/Overview.spec.js
  backend/src/graphql/enum/ContributionCycleType.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/seeds/graphql/mutations.ts
  backend/yarn.lock
Labels: service: admin frontend

#2259 feat: 🍰 Daily Rule For Contribution Links
  .github/workflows/test.yml
  backend/src/graphql/enum/ContributionCycleType.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/seeds/graphql/mutations.ts
  backend/yarn.lock
Labels: service: backend

#2264 fix: Disable Change of Month on Update Contribution
  admin/src/components/EditCreationFormular.vue
  frontend/src/components/Contributions/ContributionForm.spec.js
  frontend/src/components/Contributions/ContributionForm.vue
Labels: bug, service: wallet frontend, service: admin frontend

#2260 fix: 🐛 Prevent Loosing Redeem Code When Changing Between Register and Login in Auth Navbar
  frontend/src/App.spec.js
  frontend/src/components/Auth/AuthNavbar.vue
  frontend/src/components/Auth/AuthNavbarSmall.vue
  frontend/src/components/LinkInformations/RedeemLoggedOut.vue
  frontend/src/layouts/AuthLayout.spec.js
  frontend/src/mixins/authLinks.js
Labels: bug, service: wallet frontend

#2265 fix: 🍰 Daily Redeem Of Contribution Link
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
Labels: bug, service: backend, test

#2148 concept capturing alias
  docu/Concepts/BusinessRequirements/UC_Set_UserAlias.md
  docu/Concepts/BusinessRequirements/graphics/GradidoÜbersichtMaske.bmpr
  docu/Concepts/BusinessRequirements/graphics/UC_Set_UserAlias.bmpr
  docu/Concepts/BusinessRequirements/image/LoginProfileEditAlias.png
  docu/Concepts/BusinessRequirements/image/LoginProfileEditEmail.png
  docu/Concepts/BusinessRequirements/image/LoginProfileWithAlias.png
  docu/Concepts/BusinessRequirements/image/LoginWithAlias.png
  docu/Concepts/BusinessRequirements/image/RegisterWithAlias.png
Labels: docu

#2269 release: Version 1.13.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2231 Refactor: Contribution resolver logs and events
  backend/src/config/index.ts
  backend/src/event/Event.ts
  backend/src/event/EventProtocolType.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/creations.ts
  database/entity/0050-add_messageId_to_event_protocol/EventProtocol.ts
  database/entity/EventProtocol.ts
  database/migrations/0050-add_messageId_to_event_protocol.ts
Labels: refactor, service: backend, test

#2273 Fix: correctly evaluate to EMAIL_TEST_MODE to false
  backend/src/config/index.ts
  backend/src/mailer/sendEMail.test.ts
Labels: bug

#2279 release: Version 1.13.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2277 deleted contributions are displayed to the user
  backend/src/graphql/resolver/ContributionResolver.ts
Labels: bug, service: wallet frontend

#2236 Feat: 🍰 Add `deletedBy` To Contributions And Admin Can Not Delete Own User Contribution
  backend/src/config/index.ts
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  database/entity/0051-add_delete_by_to_contributions/Contribution.ts
  database/entity/Contribution.ts
  database/migrations/0051-add_delete_by_to_contributions.ts
Labels: feature, service: backend, service: database

#2276 fix: Changed some texts in E-Mails and Frontend
  backend/src/mailer/sendAddedContributionMessageEmail.test.ts
  backend/src/mailer/text/contributionMessageReceived.ts
  frontend/src/locales/de.json
Labels: bug, service: backend

#2284 fix: Pagination Contributions jumps to wrong Page
  frontend/src/pages/Community.vue
Labels: bug, service: wallet frontend

#2281 fix: Include Deleted Email Contacts in User Search
  backend/src/typeorm/repository/User.ts
Labels: bug, service: backend, service: admin frontend

#2263 Feature: Test Transaction Resolver
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/util/utilities.ts
  backend/src/util/validate.ts
Labels: service: backend, test

#2248 contibution messages, links are recognised
  admin/src/components/ContributionMessages/LinkifyMessage.vue
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.spec.js
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.vue
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.vue
  frontend/src/components/ContributionMessages/LinkifyMessage.vue
  frontend/src/components/Contributions/ContributionForm.vue
Labels: service: wallet frontend, refactor, service: admin frontend

#2244 Refactor: Admin Resolver Events and Logging
  backend/src/event/Event.ts
  backend/src/event/EventProtocolType.ts
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
Labels: service: backend, test

#2217 Refactor: 🍰 Change the query so that we only look on the ``contributions`` table.
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/util/creations.ts
Labels: bug, service: backend

#2306 fix: 🍰 Links In Contribution Messages Target Blank
  admin/src/components/ContributionMessages/LinkifyMessage.vue
  frontend/src/components/ContributionMessages/LinkifyMessage.vue
Labels: service: wallet frontend, service: admin frontend
