Repository gradido/gradido, pull requests merged in 2022-03, with the labels that each got.

#1531 Refactor: Combine transaction tables and restructure transaction design
  backend/src/config/index.ts
  backend/src/graphql/enum/TransactionTypeId.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/typeorm/repository/Transaction.ts
  database/entity/0026-combine_transaction_tables2/Transaction.ts
  database/entity/0027-clean_transaction_table/Transaction.ts
  database/entity/Transaction.ts
  database/entity/UserTransaction.ts
  database/entity/index.ts
  database/migrations/0024-combine_transaction_tables.ts
  database/migrations/0026-combine_transaction_tables2.ts
  database/migrations/0027-clean_transaction_table.ts
  database/src/factories/transaction.factory.ts
  database/src/factories/user-transaction.factory.ts
  database/src/interface/TransactionContext.ts
  database/src/seeds/helpers/user-helpers.ts
Labels: refactor, service: database

#1547 refactor: Bootstrap Vue Toast in Admin interface
  admin/package.json
  admin/src/components/ConfirmRegisterMailFormular.spec.js
  admin/src/components/ConfirmRegisterMailFormular.vue
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/CreationTransactionListFormular.spec.js
  admin/src/components/CreationTransactionListFormular.vue
  admin/src/components/DeletedUserFormular.spec.js
  admin/src/components/DeletedUserFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/components/Tables/SearchUserTable.spec.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/main.js
  admin/src/mixins/toaster.js
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  admin/test/testSetup.js
  admin/yarn.lock
Labels: refactor, service: admin frontend

#1539 Refactor: arithmetic and data types
  backend/package.json
  backend/src/config/index.ts
  backend/src/graphql/arg/TransactionSendArgs.ts
  backend/src/graphql/enum/TransactionTypeId.ts
  backend/src/graphql/model/Balance.ts
  backend/src/graphql/model/Decay.ts
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/model/TransactionList.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/scalar/Decimal.ts
  backend/src/graphql/schema.ts
  backend/src/mailer/sendTransactionReceivedEmail.test.ts
  backend/src/mailer/sendTransactionReceivedEmail.ts
  backend/src/mailer/text/transactionReceived.ts
  backend/src/typeorm/repository/User.ts
  backend/src/util/communityUser.ts
  backend/src/util/decay.test.ts
  backend/src/util/decay.ts
  backend/src/util/round.test.ts
  backend/src/util/round.ts
  backend/src/util/validate.ts
  backend/src/util/virtualDecayTransaction.ts
  backend/yarn.lock
  database/entity/0001-init_db/User.ts
  database/entity/0028-decimal_types/Transaction.ts
  database/entity/0029-clean_transaction_table/Transaction.ts
  database/entity/Balance.ts
  database/entity/Transaction.ts
  database/entity/index.ts
  database/migrations/0028-decimal_types.ts
  database/migrations/0029-clean_transaction_table.ts
  database/package.json
  database/src/factories/balance.factory.ts
  database/src/factories/transaction.factory.ts
  database/src/interface/TransactionContext.ts
  database/src/interface/UserInterface.ts
  database/src/seeds/helpers/user-helpers.ts
  database/src/seeds/users/bibi-bloxberg.ts
  database/src/seeds/users/bob-baumeister.ts
  database/src/seeds/users/raeuber-hotzenplotz.ts
  database/src/typeorm/DecimalTransformer.ts
  database/yarn.lock
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
Labels: refactor, service: backend, service: database

#1569 Fix: Balance type
  backend/src/graphql/model/TransactionList.ts
Labels: bug, service: backend

#1549 Fix: Allow sending to user without transactions
  backend/src/graphql/resolver/TransactionResolver.ts
  database/entity/0029-clean_transaction_table/Transaction.ts
Labels: bug, service: backend, service: database

#1568 Fix: Validate password on UpdateUserInfos
  backend/src/graphql/resolver/UserResolver.ts
Labels: bug, service: backend

#1550 Adminarea creation transactionlist show
  admin/src/components/CreationTransactionListFormular.spec.js
  admin/src/components/CreationTransactionListFormular.vue
  admin/src/graphql/transactionList.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/typeorm/repository/Transaction.ts
Labels: refactor, service: backend, service: admin frontend

#1548 Refactor arithmetic merge
  backend/src/graphql/resolver/AdminResolver.ts
  database/entity/0028-decimal_types/Transaction.ts
  frontend/package.json
  frontend/src/components/DecayInformation.vue
  frontend/src/components/DecayInformations/DecayInformation-BeforeStartblock.vue
  frontend/src/components/DecayInformations/DecayInformation-Decay.vue
  frontend/src/components/DecayInformations/DecayInformation-DecayStartblock.vue
  frontend/src/components/DecayInformations/DecayInformation-Long.vue
  frontend/src/components/DecayInformations/DecayInformation-Short.vue
  frontend/src/components/TransactionListItem.vue
  frontend/src/components/Transactions/TransactionCreation.spec.js
  frontend/src/components/Transactions/TransactionCreation.vue
  frontend/src/components/Transactions/TransactionDecay.spec.js
  frontend/src/components/Transactions/TransactionDecay.vue
  frontend/src/components/Transactions/TransactionReceive.spec.js
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.spec.js
  frontend/src/components/Transactions/TransactionSend.vue
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Layout/DashboardLayout_gdd.spec.js
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
  frontend/src/views/Pages/UserProfileTransactionList.vue
Labels: service: wallet frontend, refactor, service: admin frontend

#1567 Planning: send new users gradido
  docu/Concepts/BusinessRequirements/BenutzerVerwaltung.md
  docu/Concepts/BusinessRequirements/UC_Send_Users_Gradido.md
  docu/Concepts/BusinessRequirements/graphics/GradidoÜbersichtMaske.bmpr
  docu/Concepts/BusinessRequirements/graphics/UC_Send_Users_Gradido_StartValutierung.drawio
  docu/Concepts/BusinessRequirements/graphics/US-Send_Users_Gradido_Valutierungsprozess.drawio
  docu/Concepts/BusinessRequirements/graphics/VorgebuchterTransaktionsbetrag.drawio
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_SendDialog.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_SendDialogPerLink.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_StartValutierung.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxClosedDetaildFunds.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxClosedFunds.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxClosedReservedInvalidFunds.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxPlusInvalidFunds.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxPlusReservedFunds.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxPopupLink.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxPopupQRCode.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxReservedFunds.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Users_Gradido_TxÜbersichtDialog.png
  docu/Concepts/BusinessRequirements/image/US-Send_Users_Gradido_Valutierungsprozess.png
  docu/Concepts/BusinessRequirements/image/VorgebuchterTransaktionsbetrag.png
Labels: docu, devops

#1578 community name in creation transaction is displayed cleanly
  frontend/src/components/Transactions/TransactionCreation.vue
Labels: bug, service: wallet frontend

#1572 refactor: Resolve Relative Paths in Backend
  backend/jest.config.js
  backend/package.json
  backend/src/apis/KlicktippController.ts
  backend/src/auth/JWT.ts
  backend/src/graphql/arg/Paginated.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/model/CreatePendingCreation.ts
  backend/src/graphql/model/GdtEntry.ts
  backend/src/graphql/model/GdtSumPerEmail.ts
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/model/TransactionList.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/KlicktippResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/mailer/sendEMail.test.ts
  backend/src/mailer/sendEMail.ts
  backend/src/middleware/klicktippMiddleware.ts
  backend/src/server/createServer.ts
  backend/src/typeorm/connection.ts
  backend/src/typeorm/repository/Transaction.ts
  backend/src/typeorm/repository/UserSettingRepository.ts
  backend/src/util/communityUser.ts
  backend/src/util/decay.ts
  backend/src/util/validate.ts
  backend/src/util/virtualDecayTransaction.ts
  backend/src/webhook/elopage.ts
  backend/tsconfig.json
Labels: refactor, service: backend

#1576 feat: Use Vue Filter to Display Gradido Amounts
  frontend/src/components/DecayInformations/DecayInformation-Decay.vue
  frontend/src/components/DecayInformations/DecayInformation-DecayStartblock.vue
  frontend/src/components/DecayInformations/DecayInformation-Long.vue
  frontend/src/components/DecayInformations/DecayInformation-Short.vue
  frontend/src/components/GddTransactionList.spec.js
  frontend/src/components/Menu/Navbar.spec.js
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Transactions/TransactionCreation.spec.js
  frontend/src/components/Transactions/TransactionCreation.vue
  frontend/src/components/Transactions/TransactionDecay.spec.js
  frontend/src/components/Transactions/TransactionDecay.vue
  frontend/src/components/Transactions/TransactionReceive.spec.js
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.spec.js
  frontend/src/components/Transactions/TransactionSend.vue
  frontend/src/filters/amount.js
  frontend/src/filters/amount.test.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/test/testSetup.js
Labels: feature, service: wallet frontend

#1583 add style in App.vue, set class .pointer on transaction-list-item
  frontend/src/App.vue
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/Transactions/TransactionCreation.vue
  frontend/src/components/Transactions/TransactionDecay.vue
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.vue
Labels: bug

#1538 feat: Test Login in User Resolver
  backend/jest.config.js
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/test/graphql.ts
  backend/test/helpers.ts
  backend/tsconfig.json
  database/src/helpers.ts
  database/src/index.ts
Labels: feature, service: backend, test

#1584 feat: Model Transaction Link
  backend/src/config/index.ts
  backend/src/graphql/model/TransactionLink.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  database/entity/0030-transaction_link/TransactionLink.ts
  database/entity/TransactionLink.ts
  database/entity/index.ts
  database/migrations/0030-transaction_link.ts
Labels: feature, service: backend, service: database

#1585 feat: Create Transaction Link Mutation
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/arg/TransactionLinkArgs.ts
  backend/src/graphql/model/TransactionLink.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/typeorm/repository/TransactionLink.ts
  backend/src/util/validate.ts
  database/entity/0030-transaction_link/TransactionLink.ts
Labels: feature, service: backend

#1586 Query-transaction-link
  backend/src/auth/INALIENABLE_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/arg/QueryTransactionLinkArgs.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
Labels: feature, service: backend

#1597 feat: Delete Transaction Link Mutation
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
Labels: feature, service: backend

#1426 1216 seo vorschau links
  deployment/bare_metal/.env.dist
  frontend/.env.dist
  frontend/.env.template
  frontend/package.json
  frontend/public/img/gradido-wallet-650-400.jpg
  frontend/public/index.html
  frontend/src/config/index.js
  frontend/vue.config.js
  frontend/yarn.lock
Labels: bug

#1605 refactor: Transaction Link Query
  backend/src/graphql/arg/QueryTransactionLinkArgs.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
Labels: refactor, service: backend

#1603 feat: Virtual Transaction for Transaction Links
  backend/src/graphql/enum/TransactionTypeId.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/typeorm/repository/TransactionLink.ts
  backend/src/util/validate.ts
  backend/src/util/virtualDecayTransaction.ts
  backend/src/util/virtualTransactions.ts
Labels: feature, service: backend

#1606 feat: List Transaction Links Query
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
Labels: feature, service: backend

#1607 feat: Redeem Transaction Link Mutation
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: feature, service: backend

#1610 feat: Link Transaction to Transaction Link on Redeem
  backend/src/config/index.ts
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  database/entity/0032-add-transaction-link-to-transaction/Transaction.ts
  database/entity/Transaction.ts
  database/migrations/0032-add-transaction-link-to-transaction.ts
Labels: feature, service: backend

#1612 Fix: Logrotate & Log Dates & Save Update Log & Correct tag Checkout
  backend/package.json
  deployment/bare_metal/logrotate/gradido.conf.template
  deployment/bare_metal/nginx/update-page/updating.html.template
  deployment/bare_metal/start.sh
Labels: bug

#1617 feat: Test Logout in User Resolver
  .github/workflows/test.yml
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/test/helpers.ts
Labels: feature, service: backend, test

#1579 Frontend generate link for send gdd
  frontend/src/assets/scss/gradido.scss
  frontend/src/components/ClipboardCopy.vue
  frontend/src/components/GddSend.vue
  frontend/src/components/GddSend/TransactionConfirmationLink.spec.js
  frontend/src/components/GddSend/TransactionConfirmationLink.vue
  frontend/src/components/GddSend/TransactionConfirmationSend.spec.js
  frontend/src/components/GddSend/TransactionConfirmationSend.vue
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/GddSend/TransactionResultLink.vue
  frontend/src/components/GddSend/TransactionResultSendError.vue
  frontend/src/components/GddSend/TransactionResultSendSuccess.vue
  frontend/src/components/GddTransactionList.spec.js
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/mixins/toaster.js
  frontend/src/pages/Send.spec.js
  frontend/src/pages/Send.vue
  frontend/src/pages/ShowTransactionLinkInformations.spec.js
  frontend/src/pages/ShowTransactionLinkInformations.vue
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
Labels: service: wallet frontend

#1619 refactor: Seed in Backend
  backend/jest.config.js
  backend/package.json
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/seeds/factory/user.ts
  backend/src/seeds/graphql/enums.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/seeds/index.ts
  backend/src/seeds/users/UserInterface.ts
  backend/src/seeds/users/bibi-bloxberg.ts
  backend/src/seeds/users/bob-baumeister.ts
  backend/src/seeds/users/garrick-ollivander.ts
  backend/src/seeds/users/index.ts
  backend/src/seeds/users/peter-lustig.ts
  backend/src/seeds/users/raeuber-hotzenplotz.ts
  backend/src/seeds/users/stephen-hawking.ts
  backend/test/graphql.ts
  backend/test/helpers.ts
  backend/test/testSetup.ts
  backend/yarn.lock
Labels: refactor, service: backend, test, service: database

#1621 feat: Seed Creation Transactions in Backend
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/seeds/creation/CreationInterface.ts
  backend/src/seeds/creation/index.ts
  backend/src/seeds/factory/creation.ts
  backend/src/seeds/factory/user.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/index.ts
Labels: feature, service: backend, test, service: database

#1620 1588 frontend expendable paginated link list
  admin/src/mixins/toaster.js
  frontend/public/index.html
  frontend/src/components/DecayInformations/CollapseLinksList.spec.js
  frontend/src/components/DecayInformations/CollapseLinksList.vue
  frontend/src/components/DecayInformations/DecayInformation-Decay.vue
  frontend/src/components/DecayInformations/DecayInformation-Short.vue
  frontend/src/components/GddTransactionList.spec.js
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/TransactionLinks/TransactionLink.spec.js
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/src/components/TransactionRows/DateRow.vue
  frontend/src/components/TransactionRows/DecayRow.vue
  frontend/src/components/TransactionRows/MemoRow.vue
  frontend/src/components/Transactions/TransactionCreation.vue
  frontend/src/components/Transactions/TransactionDecay.vue
  frontend/src/components/Transactions/TransactionLink.vue
  frontend/src/components/Transactions/TransactionLinksSummary.spec.js
  frontend/src/components/Transactions/TransactionLinksSummary.vue
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/mixins/toaster.js
Labels: feature, service: wallet frontend

#1622 feat: Seed Transaction Links
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/factory/creation.ts
  backend/src/seeds/factory/transactionLink.ts
  backend/src/seeds/factory/user.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/seeds/index.ts
  backend/src/seeds/transactionLink/TransactionLinkInterface.ts
  backend/src/seeds/transactionLink/index.ts
  frontend/src/graphql/mutations.js
Labels: feature, service: backend, test, service: database

#1626 Fix: build for development and production links external modules properly
  backend/jest.config.js
  backend/package.json
  backend/src/server/createServer.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: bug, refactor, service: backend, service: database

#1623 fix: Query for Only Creations Transaction List
  admin/src/components/CreationTransactionListFormular.spec.js
  admin/src/components/CreationTransactionListFormular.vue
  admin/src/graphql/creationTransactionList.js
  admin/src/graphql/transactionList.js
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/arg/Paginated.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  frontend/src/graphql/queries.js
Labels: bug, service: backend, service: admin frontend

#1628 Refactor: Corrected name of transaction link summary
  backend/src/graphql/enum/TransactionTypeId.ts
  backend/src/util/virtualTransactions.ts
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/Transactions/TransactionLinkSummary.spec.js
  frontend/src/components/Transactions/TransactionLinkSummary.vue
Labels: refactor

#1336 Change the text if the account is not activated yet and changed the b…
  backend/.env.dist
  backend/src/auth/INALIENABLE_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/config/index.ts
  backend/src/graphql/resolver/UserResolver.ts
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/ResetPassword.spec.js
  frontend/src/pages/ResetPassword.vue
  frontend/src/pages/thx.spec.js
  frontend/src/pages/thx.vue
Labels: bug, service: wallet frontend

#1654 feat: Add Referrer ID to Users
  backend/src/config/index.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  database/entity/0033-add_referrer_id/User.ts
  database/entity/User.ts
  database/migrations/0033-add_referrer_id.ts
Labels: feature, service: backend, service: database

#1655 update-balance if link succesfully generated
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/GddSend/TransactionResultSendError.vue
  frontend/src/layouts/DashboardLayout_gdd.spec.js
  frontend/src/layouts/DashboardLayout_gdd.vue
  frontend/src/pages/Send.spec.js
  frontend/src/pages/Send.vue
Labels: bug, service: wallet frontend

#1647 1559 frontend transport redeem link through register
  backend/.env.dist
  backend/src/config/index.ts
  backend/src/graphql/arg/CreateUserArgs.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/graphql/mutations.ts
  frontend/src/graphql/mutations.js
  frontend/src/pages/ResetPassword.spec.js
  frontend/src/pages/ResetPassword.vue
  frontend/src/pages/thx.vue
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
Labels: feature, service: wallet frontend

#1627 Feature: Enforce config versions
  admin/.env.dist
  admin/.env.template
  admin/src/config/index.js
  admin/vue.config.js
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  database/.env.dist
  database/.env.template
  database/src/config/index.ts
  deployment/bare_metal/.env.dist
  frontend/.env.dist
  frontend/.env.template
  frontend/src/config/index.js
  frontend/vue.config.js
Labels: feature, service: wallet frontend, service: backend, service: database, service: admin frontend

#1664 feat: Add Sender Email to Transaction Received Mail
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/mailer/sendTransactionReceivedEmail.test.ts
  backend/src/mailer/sendTransactionReceivedEmail.ts
  backend/src/mailer/text/transactionReceived.ts
Labels: feature, service: backend

#1658 feat: User in Transaction Clickable to Send Directly
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/GddTransactionList.spec.js
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/TransactionRows/AmountAndNameRow.spec.js
  frontend/src/components/TransactionRows/AmountAndNameRow.vue
  frontend/src/components/Transactions/TransactionCreation.vue
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.vue
  frontend/src/graphql/queries.js
  frontend/src/layouts/DashboardLayout_gdd.spec.js
  frontend/src/layouts/DashboardLayout_gdd.vue
  frontend/src/pages/Overview.vue
  frontend/src/pages/Send.spec.js
  frontend/src/pages/Send.vue
  frontend/src/pages/Transactions.vue
Labels: feature, service: wallet frontend

#1660 clear form.email if click send per link, tests if clicked
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
Labels: bug, service: wallet frontend

#1313 1223 community communication concept
  docu/Concepts/BusinessRequirements/CommunityVerwaltung.md
  docu/Concepts/BusinessRequirements/CommunityVerwaltung.pdf
  docu/Concepts/BusinessRequirements/graphics/Ablauf_Neue_Community_erstellen.drawio
  docu/Concepts/BusinessRequirements/graphics/AuthenticateCommunityCommunication.drawio
  docu/Concepts/BusinessRequirements/graphics/Staging_IstAnalyse.drawio
  docu/Concepts/BusinessRequirements/graphics/Staging_SollPlanung.drawio
  docu/Concepts/BusinessRequirements/image/Ablauf_Neue_Community_erstellen.png
  docu/Concepts/BusinessRequirements/image/AuthenticateCommunityCommunication.png
  docu/Concepts/BusinessRequirements/image/Staging_IstAnalyse.png
  docu/Concepts/BusinessRequirements/image/Staging_SollPlanung.png
  docu/Concepts/Snippets/Brainstorming_Tätigkeiten.md
  docu/Concepts/TechnicalRequirements/CommunityCommunication.md
  docu/Concepts/TechnicalRequirements/Federation.md
  docu/Concepts/TechnicalRequirements/graphics/FederationActivityPub.drawio
  docu/Concepts/TechnicalRequirements/image/FederationActivityPub.png
  docu/graphics/roadmap_publicity.drawio
  docu/graphics/roadmap_publicity.png
Labels: planning

#1678 adminarea: fetchPolicy on searchUser deleted User
  admin/src/pages/UserSearch.vue
Labels: refactor, service: admin frontend

#1675 refactor: Memo Text Length to 255 Characters
  backend/src/graphql/resolver/TransactionResolver.ts
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
Labels: feature, service: wallet frontend, service: backend

#1680 1594 show transaction was created by link
  frontend/src/components/TransactionRows/AmountAndNameRow.vue
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.vue
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: wallet frontend

#1656 1555 admin see user generated link
  admin/src/components/CreationTransactionList.spec.js
  admin/src/components/CreationTransactionList.vue
  admin/src/components/Tables/OpenCreationsTable.spec.js
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/components/Tables/SearchUserTable.vue
  admin/src/components/TransactionLinkList.spec.js
  admin/src/components/TransactionLinkList.vue
  admin/src/graphql/listTransactionLinksAdmin.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/arg/TransactionLinkFilters.ts
  backend/src/graphql/model/TransactionLink.ts
  backend/src/graphql/resolver/AdminResolver.ts
  frontend/src/components/TransactionRows/DateRow.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: backend, service: admin frontend

#1683 Fix: Fixes found on Stage1
  deployment/bare_metal/.env.dist
  deployment/bare_metal/setup.md
  deployment/bare_metal/start.sh
Labels: bug

#1662 refactor: Set Email Optin Valid Time to 24 hours
  .github/workflows/test.yml
  backend/.env.dist
  backend/src/config/index.ts
  backend/src/graphql/enum/OptInType.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  deployment/bare_metal/.env.dist
  frontend/src/pages/ResetPassword.spec.js
  frontend/src/pages/ResetPassword.vue
Labels: service: wallet frontend, refactor, service: backend

#1663 feat: Show Link Duration in Emails
  backend/.env.dist
  backend/src/config/index.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/mailer/sendAccountActivationEmail.test.ts
  backend/src/mailer/sendAccountActivationEmail.ts
  backend/src/mailer/sendResetPasswordEmail.test.ts
  backend/src/mailer/sendResetPasswordEmail.ts
  backend/src/mailer/text/accountActivation.ts
  backend/src/mailer/text/resetPassword.ts
  deployment/bare_metal/.env.dist
Labels: feature, service: backend

#1687 1684 when generating a link form does not reset
  frontend/src/pages/Send.vue
Labels: bug

#1688 fix: Update Deployment env.dist
  backend/.env.dist
  backend/.env.template
  deployment/bare_metal/.env.dist
  frontend/.env.template
Labels: bug, devops

#1689 fix: No Plus Before Zero Decay
  frontend/src/filters/amount.js
Labels: bug, service: wallet frontend

#1691 fix: Wrong Balance on Decay Transaction
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug, service: backend

#1692 fix: No Decay Calculation in Frontend
  frontend/src/components/DecayInformations/DecayInformation-Decay.vue
  frontend/src/components/GddTransactionList.spec.js
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/Transactions/TransactionCreation.spec.js
  frontend/src/components/Transactions/TransactionCreation.vue
  frontend/src/components/Transactions/TransactionDecay.spec.js
  frontend/src/components/Transactions/TransactionDecay.vue
  frontend/src/components/Transactions/TransactionReceive.spec.js
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.spec.js
  frontend/src/components/Transactions/TransactionSend.vue
Labels: service: wallet frontend

#1696 fix: No Email Exposed on Forgot Password
  backend/src/graphql/resolver/UserResolver.ts
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/ForgotPassword.spec.js
  frontend/src/pages/ForgotPassword.vue
Labels: bug, service: wallet frontend, service: backend

#1694 folder for new style images
  docu/Style/Images/Blaetter.png
Labels: docu, feature

#1698 v1.7.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#1701 Fix: Frontend show proper error message on failed send
  frontend/src/pages/Send.spec.js
  frontend/src/pages/Send.vue
Labels: bug, service: wallet frontend

#1700 Fix: Allow sending of more then half of my wealth via link
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/util/validate.ts
Labels: bug, service: backend

#1699 Fix: Correct calculation of decay
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/util/virtualTransactions.ts
Labels: bug, service: backend

#1705 1703 submit button disabled when total amount to submit is minus
  frontend/src/components/GddSend/TransactionConfirmationLink.vue
  frontend/src/pages/Send.spec.js
Labels: bug, service: wallet frontend
