Repository gradido/gradido, pull requests merged in 2022-11, with the labels that each got.

#2314 2291 add button for close contribution messages box
  frontend/src/components/ContributionMessages/ContributionMessagesList.vue
Labels: service: wallet frontend, refactor

#2316 bug: 2315 Contribution Month and TEST FAIL in MASTER
  frontend/src/components/Contributions/ContributionForm.spec.js
  frontend/src/components/Contributions/ContributionForm.vue
Labels: bug, service: wallet frontend

#2313 2292 community information contact
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/InfoStatistic.vue
Labels: service: wallet frontend, refactor

#2311 bug: 2295 remove horizontal scrollbar in admin overview
  admin/src/components/ContentFooter.vue
  admin/src/components/ContributionLinkList.vue
Labels: bug, refactor, service: admin frontend

#2320 fix: Release Statistic Query Runner
  backend/src/graphql/resolver/StatisticsResolver.ts
Labels: bug, service: backend

#2302 fix: Change Orange Color
  frontend/src/assets/scss/custom/gradido-custom/_color.scss
Labels: service: wallet frontend, Style

#2312 2294 contribution links on its own page
  admin/src/components/ContributionLink/ContributionLink.spec.js
  admin/src/components/ContributionLink/ContributionLink.vue
  admin/src/components/ContributionLink/ContributionLinkForm.spec.js
  admin/src/components/ContributionLink/ContributionLinkForm.vue
  admin/src/components/ContributionLink/ContributionLinkList.spec.js
  admin/src/components/ContributionLink/ContributionLinkList.vue
  admin/src/components/NavBar.spec.js
  admin/src/components/NavBar.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/ContributionLinks.spec.js
  admin/src/pages/ContributionLinks.vue
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  admin/src/router/router.test.js
  admin/src/router/routes.js
Labels: feature, service: admin frontend

#2322 release: Version 1.13.3
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2323 Github workflow: update actions to the current API version using Node v 16
  .github/workflows/test.yml
Labels: good first issue, devops

#2241 contributionlink stage-2 and stage-3 of capturing and activation
  docu/Concepts/BusinessRequirements/UC_Send_Contribution.md
  docu/Concepts/BusinessRequirements/graphics/Ablauf_manuelle_auto_Creations.drawio
  docu/Concepts/BusinessRequirements/image/Ablauf_manuelle_auto_Creations_2.png
  docu/Concepts/BusinessRequirements/image/DB-Diagramm_Contributions_Stufe_2.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Contribution_Admin-new_ContributionSend.png
  docu/Concepts/BusinessRequirements/image/UC_Send_Contribution_Admin-new_ContributionZyklus.png
Labels: docu

#2252 1574 concept to introduce gradidoID and change password encryption
  docu/Concepts/TechnicalRequirements/UC_Introduction_of_Gradido-ID.md
Labels: docu

#2289 2274 feature concept manuel user registration for admins
  docu/Concepts/BusinessRequirements/UC_Manuel_User_Registration.md
  docu/Concepts/BusinessRequirements/graphics/GradidoÜbersichtMaske.bmpr
  docu/Concepts/BusinessRequirements/graphics/UC_ManuelleUserRegistrierung.bmpr
  docu/Concepts/BusinessRequirements/image/Admin-CreateUser.png
  docu/Concepts/BusinessRequirements/image/Admin-UserAccount-ActivatedOneTimePasswort.png
  docu/Concepts/BusinessRequirements/image/Admin-UserAccount-Details.png
  docu/Concepts/BusinessRequirements/image/Admin-UserSearch.png
  docu/Concepts/BusinessRequirements/image/Admin-UserSearch_inaktivAccount.png
  docu/Concepts/BusinessRequirements/image/One-Time-Passwort-Login.png
Labels: docu

#2336 Refactor: GitHub test workflow - disable video recording and reduce wait time
  .github/workflows/test.yml
  docker-compose.test.yml
  e2e-tests/cypress/tests/cypress.config.ts
Labels: docker, refactor, devops, test

#2237 Feature: 🍰 add updated at to contributions
  backend/src/config/index.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  database/entity/0052-add_updated_at_to_contributions/Contribution.ts
  database/entity/Contribution.ts
  database/migrations/0052-add_updated_at_to_contributions.ts
Labels: service: backend, service: database

#1874 feat(backend): setup hyperswarm
  backend/.env.dist
  backend/.env.template
  backend/package.json
  backend/src/config/index.ts
  backend/src/federation/@types/@hyperswarm__dht/index.d.ts
  backend/src/federation/index.ts
  backend/src/index.ts
  backend/tsconfig.json
  backend/yarn.lock
  deployment/bare_metal/.env.dist
Labels: feature, service: backend

#2330 fix(admin): update contribution list after admin updates contribution
  admin/package.json
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/yarn.lock
Labels: bug, service: admin frontend

#2308 refactor(backend): fix logger mocks
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
Labels: bug, test

#2309 feat(admin): edit automatic contribution link
  admin/src/components/ContributionLink/ContributionLink.vue
  admin/src/components/ContributionLink/ContributionLinkForm.spec.js
  admin/src/components/ContributionLink/ContributionLinkForm.vue
  admin/src/graphql/updateContributionLink.js
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: feature, service: admin frontend

#2351 fix(frontend): amount negative when sending GDD
  frontend/src/components/GddSend/TransactionConfirmationSend.vue
Labels: bug, service: wallet frontend

#2340 feat(backend): 🍰 Send email for rejected contributions
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/mailer/sendContributionRejectedEmail.test.ts
  backend/src/mailer/sendContributionRejectedEmail.ts
  backend/src/mailer/text/contributionRejected.ts
Labels: feature, service: backend

#2346 fix(other): corrected dockerfile descriptions
  admin/Dockerfile
  database/Dockerfile
  frontend/Dockerfile
Labels: bug, docker

#2362 fix(admin): edit contribution link does not take old values
  admin/src/components/ContributionLink/ContributionLink.spec.js
  admin/src/components/ContributionLink/ContributionLink.vue
  admin/src/components/ContributionLink/ContributionLinkForm.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: bug, service: admin frontend

#2364 fix(admin): load error fixed for contribution link
  admin/src/components/ContributionLink/ContributionLink.vue
  admin/src/components/ContributionLink/ContributionLinkForm.vue
  admin/src/components/ContributionLink/ContributionLinkList.vue
Labels: bug, service: admin frontend

#2349 feat(frontend): move the information about gradido being free to the auth layout
  frontend/src/components/LinkInformations/RedeemLoggedOut.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/pages/Login.vue
  frontend/src/pages/Register.vue
Labels: service: wallet frontend

#2365 fix(admin): fix text in admin area to uppercase
  admin/src/locales/de.json
Labels: bug, service: admin frontend

#2383 fix(frontend): mailto link
  frontend/src/pages/InfoStatistic.vue
Labels: bug, service: wallet frontend

#2381 fix(frontend): better history messages
  admin/src/components/ContributionMessages/ParseMessage.vue
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.spec.js
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.vue
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.vue
  frontend/src/components/ContributionMessages/ParseMessage.vue
Labels: bug, service: wallet frontend, service: admin frontend

#2386 fix(backend): corrected E-Mail texts
  backend/src/mailer/sendAddedContributionMessageEmail.test.ts
  backend/src/mailer/sendContributionConfirmedEmail.test.ts
  backend/src/mailer/sendContributionRejectedEmail.test.ts
  backend/src/mailer/sendTransactionReceivedEmail.test.ts
  backend/src/mailer/text/contributionConfirmed.ts
  backend/src/mailer/text/contributionMessageReceived.ts
  backend/src/mailer/text/contributionRejected.ts
  backend/src/mailer/text/transactionLinkRedeemed.ts
  backend/src/mailer/text/transactionReceived.ts
Labels: refactor, service: backend

#2388 fix(frontend): close all open collapse by change tabs in community
  frontend/src/components/Contributions/ContributionList.vue
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/pages/Community.vue
Labels: bug, service: wallet frontend

#2389 chore(release): version 1.14.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2390 fix(frontend): load contributionMessages is fixed
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.vue
  frontend/src/components/ContributionMessages/ContributionMessagesList.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesList.vue
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
Labels: bug

#2393 fix(backend): timezone problems
  admin/src/plugins/apolloProvider.js
  admin/src/plugins/apolloProvider.test.js
  backend/src/graphql/resolver/AdminResolver.test.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/creations.test.ts
  backend/src/graphql/resolver/util/creations.ts
  backend/src/seeds/index.ts
  backend/src/server/context.ts
  backend/test/helpers.ts
  frontend/src/plugins/apolloProvider.js
  frontend/src/plugins/apolloProvider.test.js
Labels: bug, service: backend

#2163 feat(backend): 🍰 Email Templates
  backend/Dockerfile
  backend/package.json
  backend/src/emails/README.md
  backend/src/emails/accountMultiRegistration/html.pug
  backend/src/emails/accountMultiRegistration/subject.pug
  backend/src/emails/sendEmailTranslated.test.ts
  backend/src/emails/sendEmailTranslated.ts
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/emails/sendEmailVariants.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/locales/de.json
  backend/src/locales/en.json
  backend/src/mailer/sendAccountMultiRegistrationEmail.test.ts
  backend/src/mailer/sendAccountMultiRegistrationEmail.ts
  backend/src/mailer/sendEMail.test.ts
  backend/src/server/createServer.ts
  backend/src/server/localization.ts
  backend/test/helpers.ts
  backend/test/testSetup.ts
  backend/yarn.lock
Labels: feature, refactor, devops, service: backend, test

#2399 refactor(admin): statistics in a table and on separate page in admin area
  admin/src/components/CommunityStatistic.spec.js
  admin/src/components/CommunityStatistic.vue
  admin/src/components/NavBar.spec.js
  admin/src/components/NavBar.vue
  admin/src/components/Tables/StatisticTable.spec.js
  admin/src/components/Tables/StatisticTable.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CommunityStatistic.spec.js
  admin/src/pages/CommunityStatistic.vue
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  admin/src/router/router.test.js
  admin/src/router/routes.js
Labels: refactor, service: admin frontend

#2353 refactor(backend): new password encryption implementation
  backend/src/config/index.ts
  backend/src/graphql/enum/PasswordEncryptionType.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/password/EncryptorUtils.ts
  backend/src/password/PasswordEncryptor.ts
  backend/src/util/communityUser.ts
  database/entity/0053-change_password_encryption/User.ts
  database/entity/0053-change_password_encryption/UserContact.ts
  database/entity/User.ts
  database/entity/UserContact.ts
  database/migrations/0053-change_password_encryption.ts
Labels: refactor, service: backend, service: database

#2301 feat(other): feature gradido roadmap
  docu/RoadMap_2022-2023.md
  docu/graphics/RoadMap2022-2023.drawio
  docu/graphics/RoadMap2022-2023.png
Labels: docu

#2422 fix(backend): wrong balance after transaction receive
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/util/utilities.ts
  backend/src/util/validate.ts
Labels: bug, service: backend, service: database

#2423 fix(database): wrong balance and decay values
  backend/src/config/index.ts
  database/Dockerfile
  database/log/.gitignore
  database/migrations/0054-recalculate_balance_and_decay.ts
Labels: bug, service: database

#2425 chore(release): v1.15.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2385 fix(backend): moved all jest & type-definition related packages into the `devDependencies` section
  backend/package.json
Labels: bug, service: backend

#2374 feat(backend): add federation config properties
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/federation/index.ts
  backend/src/index.ts
  deployment/bare_metal/.env.dist
Labels: feature, service: backend

#2201 fix(backend): wrong month for contribution near turn of month
  docu/Concepts/BusinessRequirements/Zeitzonen_Behandlung.md
  docu/Concepts/BusinessRequirements/graphics/ZeitzonenKonstellationen.drawio
  docu/Concepts/BusinessRequirements/image/ZeitzonenKonstellationen.png
Labels: bug, docu

#2424 fix(frontend): in contribution messages formular a message can be send twice, when clicking the submit button fast
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.vue
Labels: bug, service: wallet frontend, service: admin frontend

#2442 fix(other): missing files for docker production build
  backend/Dockerfile
Labels: bug, service: docker

#2443 fix(backend): critical bug
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug, service: backend
