Repository gradido/gradido, pull requests merged in 2022-01, with the labels that each got.

#1203 Admin create multiple pending creations
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/graphql/createPendingCreations.js
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/arg/CreatePendingCreationArgs.ts
  backend/src/graphql/arg/UpdatePendingCreationArgs.ts
  backend/src/graphql/model/CreatePendingCreations.ts
  backend/src/graphql/resolver/AdminResolver.ts
Labels: service: backend, service: admin

#1194 Documentation Template-Overview-2021 PDF
  docu/Templates/Templat-Overview-16-12-2021/Template-Overview-2021.pdf
Labels: docu, service: frontend, service: admin

#1222 1221 month names of the open creation in multiple creation
  admin/src/components/UserTable.spec.js
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/UserSearch.vue
Labels: service: frontend, refactor, service: admin

#1255 1230 details für wiederholte email bestaetigen versenden
  admin/src/components/ConfirmRegisterMailFormular.spec.js
  admin/src/components/ConfirmRegisterMailFormular.vue
  admin/src/components/UserTable.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: bug, service: admin

#1244 change creationdatas if change pending creation
  admin/src/components/UserTable.vue
Labels: bug, service: admin

#1245 close row-details automatically when switching to multiple creation page
  admin/src/components/UserTable.vue
Labels: bug, service: admin

#1256 reverse filter for unregistered emails
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
Labels: bug, service: admin

#1261 1240 account not activated needs a button to login page
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
Labels: bug, service: frontend

#1269 Wallet shows the wrong gdt sum (gdtSum * 100)
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug, invalid, service: backend

#1266 fix: Change Password in User Profile
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: bug, service: backend

#1277 feat: Seed Garrick Ollivander
  database/src/factories/login-user.factory.ts
  database/src/index.ts
  database/src/interface/UserContext.ts
  database/src/interface/UserInterface.ts
  database/src/seeds/users/bibi-bloxberg.ts
  database/src/seeds/users/bob-baumeister.ts
  database/src/seeds/users/garrick-ollivander.seed.ts
  database/src/seeds/users/garrick-ollivander.ts
  database/src/seeds/users/peter-lustig.ts
  database/src/seeds/users/raeuber-hotzenplotz.ts
Labels: feature, service: database

#1280 fix: Pass Language to Admin Interface
  .github/workflows/test.yml
  admin/src/graphql/verifyLogin.js
  admin/src/main.js
  admin/src/router/guards.js
  admin/src/router/guards.test.js
  frontend/src/main.js
  frontend/src/routes/guards.js
  frontend/src/routes/guards.test.js
Labels: bug, service: frontend, service: admin

#1278 fix: Override Existing Token in Response Header
  backend/src/server/plugins.ts
Labels: bug, service: backend

#1276 fix: Admin Creation List
  admin/src/components/CreationTransactionListFormular.spec.js
  admin/src/components/CreationTransactionListFormular.vue
  backend/src/typeorm/repository/UserTransaction.ts
Labels: bug, service: backend, service: admin

#1271 Admin Logout redirectes to the wallet login page.
  admin/.env.dist
  admin/src/components/NavBar.spec.js
  admin/src/components/NavBar.vue
  admin/src/config/index.js
Labels: bug, refactor, service: admin

#1260 language_updates_bernd
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: frontend, refactor

#1282 Don't show the language-switch on the /register page.
  frontend/src/views/Layout/AuthLayout_gdd.spec.js
  frontend/src/views/Layout/AuthLayout_gdd.vue
Labels: service: frontend, refactor

#1148 onboarding process document
  docu/onboarding_process.md
Labels: docu, feature

#1284 Fix removing from masscreationlist now gives right item to the left l…
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
Labels: bug

#1220 new_deployment
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  admin/.env.dist
  admin/package.json
  admin/run/server.js
  admin/src/components/NavBar.spec.js
  admin/src/config/index.js
  backend/.env.dist
  backend/package.json
  backend/src/config/index.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  backend/src/index.ts
  backend/src/server/createServer.ts
  backend/src/webhook/elopage.ts
  backend/yarn.lock
  community_server/src/Template/Pages/js.ctp
  deployment/bare_metal/.env.dist
  deployment/bare_metal/build_and_start_login_server.sh
  deployment/bare_metal/install.sh
  deployment/bare_metal/maintenance.sh
  deployment/bare_metal/nginx/common/protect.conf
  deployment/bare_metal/nginx/common/protect_add_header.conf
  deployment/bare_metal/nginx/sites-available/gradido
  deployment/bare_metal/nginx/sites-available/gradido.conf.ssl.template
  deployment/bare_metal/nginx/sites-available/gradido.conf.template
  deployment/bare_metal/nginx/sites-available/gradido_updating
  deployment/bare_metal/nginx/sites-available/update-page.conf.ssl.template
  deployment/bare_metal/nginx/sites-available/update-page.conf.template
  deployment/bare_metal/nginx/update-page/updating.html.template
  deployment/bare_metal/nginx/updating_original.html
  deployment/bare_metal/old/build_frontend.sh
  deployment/bare_metal/old/setup_server_online_ubuntu18.sh
  deployment/bare_metal/setup.md
  deployment/bare_metal/start.sh
  deployment/bare_metal/update_all.sh
  docker-compose.override.yml
  docker-compose.yml
  docu/Concepts/Testfallkatalog/T02-Benutzerverwaltung/T02-C001-01-LoginMaske.md
  docu/Concepts/Testfallkatalog/T02-Benutzerverwaltung/T02-C001-02-LoginMaske.md
  docu/Concepts/Testfallkatalog/T02-Benutzerverwaltung/T02-C001-03-LoginMaske.md
  docu/create-coins-as-admin.md
  frontend/run/server.js
  frontend/src/routes/router.js
  frontend/src/routes/router.test.js
  frontend/src/store/store.test.js
  frontend/src/views/Pages/Login.spec.js
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/RegisterCommunity.spec.js
  frontend/src/views/Pages/RegisterSelectCommunity.spec.js
  frontend/vue.config.js
  login_server/README.md
  login_server/src/cpsp/Login.cpsp
  nginx/Dockerfile
  nginx/fastcgi.conf
  nginx/gradido.conf
  nginx/mime.types
  nginx/nginx.conf
Labels: docu, devops

#1224 feat: Test and Refactor Send Email
  .github/workflows/test.yml
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/mailer/sendAccountActivationEmail.test.ts
  backend/src/mailer/sendAccountActivationEmail.ts
  backend/src/mailer/sendEMail.test.ts
  backend/src/mailer/sendEMail.ts
  backend/src/mailer/sendResetPasswordEmail.test.ts
  backend/src/mailer/sendResetPasswordEmail.ts
  backend/src/mailer/sendTransactionReceivedEmail.test.ts
  backend/src/mailer/sendTransactionReceivedEmail.ts
  backend/src/mailer/text/accountActivation.ts
  backend/src/mailer/text/resetPassword.ts
  backend/src/mailer/text/transactionReceived.ts
Labels: feature, refactor, service: backend, test

#1285 Fix redirect to /logout, now redirects to the wallet login.
  admin/src/plugins/apolloProvider.js
  admin/src/plugins/apolloProvider.test.js
Labels: bug

#1270 1265 mouse hovering over pencil in settings
  frontend/src/views/Pages/UserProfile/UserCard_FormUserData.vue
  frontend/src/views/Pages/UserProfile/UserCard_FormUserPasswort.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
Labels: refactor

#1259 transactionCount false or transactionCount error text hide
  frontend/src/views/Layout/DashboardLayout_gdd.vue
  frontend/src/views/Pages/AccountOverview/GddTransactionList.spec.js
  frontend/src/views/Pages/AccountOverview/GddTransactionList.vue
Labels: bug, service: frontend

#1295 Withdrew horrizontal scrollbar
  frontend/src/views/Pages/AccountOverview.vue
Labels: service: frontend

#1297 Adding button, to link back to the login page from the error not activated page.
  frontend/src/views/Pages/thx.spec.js
  frontend/src/views/Pages/thx.vue
Labels: service: frontend

#1293 feat: Paginate User Table
  .github/workflows/test.yml
  admin/src/graphql/searchUsers.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  backend/jest.config.js
  backend/src/apis/KlicktippController.ts
  backend/src/graphql/arg/SearchUsersArgs.ts
  backend/src/graphql/model/UserAdmin.ts
  backend/src/graphql/resolver/AdminResolver.ts
  backend/src/graphql/resolver/KlicktippResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/middleware/klicktippMiddleware.ts
  database/src/index.ts
  database/src/seeds/create-user.seed.ts
  database/src/seeds/helpers/user-helpers.ts
Labels: feature, refactor, service: backend, service: admin

#1309 fix_docker_logging
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  deployment/bare_metal/.env.dist
  deployment/bare_metal/install.sh
Labels: bug, docker, service: backend

#1308 fix: Redirect after Email Confirmation
  frontend/src/routes/routes.js
  frontend/src/views/Pages/ForgotPassword.spec.js
  frontend/src/views/Pages/ForgotPassword.vue
Labels: bug, service: frontend

#1219 New roadmap
  docu/graphics/roadmap.drawio
  docu/graphics/roadmap_V2.drawio
  docu/graphics/roadmap_V2.png
  docu/graphics/roadmap_publicity.drawio
  docu/graphics/roadmap_publicity.png
Labels: docu, devops

#1136 1011 visualize and refine the register process
  docu/Concepts/BusinessRequirements/graphics/RegistrationProcess.drawio
  docu/Concepts/BusinessRequirements/image/RegistrationProcess.png
Labels: docu, devops

#1314 1307 admin rename wallet to my account
  admin/src/components/NavBar.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: bug, service: admin

#1317 1299 remove text from register publisher
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/Register.vue
Labels: bug, service: frontend

#1315 change Admin Gradido-Logo font color to white
  admin/src/components/NavBar.vue
Labels: bug, service: admin

#1316 1300 gray out register button further when disabled
  frontend/src/views/Pages/Register.spec.js
  frontend/src/views/Pages/Register.vue
Labels: service: frontend, refactor

#1312 1227 vergaenglichkeit besser darstellen
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/SendOverview/GddSend/TransactionConfirmation.vue
Labels: bug, service: frontend, refactor

#1321 fix: Render Localized Balance in NavBar
  frontend/src/components/Menu/Navbar.spec.js
  frontend/src/components/Menu/Navbar.vue
  frontend/src/views/Layout/DashboardLayout_gdd.vue
Labels: bug, service: frontend

#1322 defined fields for Transactionlist in UserSearch in Adminarea, add Lo…
  admin/src/components/CreationTransactionListFormular.spec.js
  admin/src/components/CreationTransactionListFormular.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: service: admin

#1329 fix_rejected_login
  backend/src/graphql/directive/isAuthorized.ts
Labels: bug, service: frontend, service: backend

#1333 Added a required to the password repeat field, errors are shown immed…
  frontend/src/components/Inputs/InputPasswordConfirmation.vue
Labels: bug

#1335 1303 thanks page after set password
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/Pages/ResetPassword.spec.js
  frontend/src/views/Pages/ResetPassword.vue
Labels: bug

#1337 bold text if acive page
  frontend/src/components/Menu/Sidebar.vue
Labels: service: frontend, refactor

#1331 deployment_community_parameters
  backend/.env.template
  deployment/bare_metal/.env.dist
Labels: bug, feature, service: backend

#1328 fix: Set Locale after Login
  frontend/src/components/LanguageSwitch.vue
  frontend/src/main.js
  frontend/src/routes/guards.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/views/Pages/Register.vue
  frontend/src/views/Pages/UserProfile/UserCard_Language.spec.js
  frontend/src/views/Pages/UserProfile/UserCard_Language.vue
Labels: bug, service: frontend

#1334 fix: Language Set Correctly after Page Reload in Admin Interface
  admin/src/main.js
  admin/src/main.test.js
Labels: bug, service: admin

#1339 remove division / 100 for GDT
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug

#1324 import_production_data
  .github/workflows/test.yml
  backend/.env.template
  backend/jest.config.js
  backend/package.json
  backend/src/config/mnemonic.uncompressed_buffer13116.txt
  backend/src/config/mnemonic.words_ulf.encoding.txt
  backend/src/config/mnemonic.words_ulf.txt
  backend/src/config/mnemonic.words_ulf_org.txt
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts.disabled
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/server/createServer.ts
  backend/src/webhook/elopage.ts
  database/Dockerfile
  database/entity/0003-login_server_tables/LoginUser.ts
  database/entity/0006-login_users_collation/LoginUser.ts
  database/integrity/0013-test.ts.keep
  database/integrity/README.md
  database/migrations/0007-login_pending_tasks_delete.ts
  database/migrations/0008-state_users_plug_holes.ts
  database/migrations/0009-login_users_plug_holes.ts
  database/migrations/0010-login_users_state_users_sync.ts
  database/migrations/0011-login_user_backups_plug_holes.ts
  database/migrations/0012-login_user_backups_unify_wordlist.ts
  database/src/config/mnemonic.uncompressed_buffer13116.txt
  database/src/config/mnemonic.uncompressed_buffer18112.txt
  database/src/config/mnemonic.uncompressed_buffer18113.txt
  deployment/bare_metal/.env.dist
  deployment/bare_metal/backup.sh
  deployment/bare_metal/import_old_production.sh
  deployment/bare_metal/restore.sh
  deployment/bare_metal/setup.md
  docker-compose.test.yml
  docker-compose.yml
Labels: refactor, service: database

#1341 production_deployment
  database/migrations/0006-login_users_collation.ts
  deployment/bare_metal/install.sh
  deployment/bare_metal/setup.md
Labels: devops

#1354 Rechtschreibfehler behoben, entgültig zu endgültig
  admin/src/locales/de.json
Labels: bug, service: admin

#1349 first draft of releaseplan
  docu/ReleasePlaning/2022-01-27_V-1.6.0_Releaseplan.md
Labels: release

#1352 1351 form to create incorrect due to change of bootstrap version
  admin/package.json
  admin/src/components/CreationFormular.vue
  admin/src/components/EditCreationFormular.vue
  admin/yarn.lock
Labels: service: frontend, refactor, service: admin

#1348 klicktipp_config
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  deployment/bare_metal/.env.dist
Labels: devops

#1346 fix updatePendingCreation method
  backend/src/graphql/resolver/AdminResolver.ts
Labels: bug, service: admin

#1345 fix: Creation Confirmation User Ids
  .github/workflows/test.yml
  admin/src/components/UserTable.vue
  admin/src/pages/Creation.vue
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
Labels: bug, service: admin

#1356 Check if user email is activated to make a creation.
  admin/src/components/CreationFormular.spec.js
  admin/src/components/UserTable.spec.js
  admin/src/components/UserTable.vue
  backend/src/graphql/resolver/AdminResolver.ts
Labels: bug, service: admin

#1343 change standard text für creation
  admin/src/locales/de.json
  admin/src/locales/en.json
Labels: feature, service: frontend, service: admin

#1358 Hotfix elopage
  CHANGELOG.md
  admin/package.json
  backend/package.json
  backend/src/server/createServer.ts
  backend/src/webhook/elopage.ts
  database/package.json
  frontend/package.json
  package.json
Labels: bug, service: backend

#1360 remove unused package from frontend
  frontend/package.json
  frontend/yarn.lock
Labels: service: frontend, refactor

#1382 upgrade vue version from ^2.6.11 to 2.6.12
  frontend/package.json
  frontend/src/main.js
  frontend/yarn.lock
Labels: refactor
