Repository gradido/gradido, pull requests merged in 2023-03, with the labels that each got.

#2761 fix(backend): possible flaky test
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/util/findContributions.ts
Labels: bug, service: backend, test

#2737 refactor(frontend): style sidebar, add icons
  frontend/public/img/svg/community.svg
  frontend/public/img/svg/home.svg
  frontend/public/img/svg/info.svg
  frontend/public/img/svg/lines.png
  frontend/public/img/svg/logout.svg
  frontend/public/img/svg/send.svg
  frontend/public/img/svg/settings.svg
  frontend/public/img/svg/transaction.svg
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/components/MobileSidebar/MobileSidebar.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor, style

#2750 refactor(frontend): add visible event an answer question
  frontend/src/assets/scss/gradido-template.scss
  frontend/src/components/Contributions/ContributionListItem.vue
Labels: service: wallet frontend, refactor

#2763 fix(backend): set email tls true in test
  backend/src/emails/sendEmailTranslated.test.ts
Labels: service: backend, test

#2740 test(backend): add tests that ``sendContributionDeleted`` and ``sendContributionDenied`` are called
  backend/src/graphql/resolver/ContributionResolver.test.ts
Labels: feature, service: backend, test

#2648 refactor(frontend): style and design changes to a contribution
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor, style

#2759 feat(admin): deleted contributions visible
  admin/src/graphql/adminListAllContributions.js
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  backend/src/graphql/model/Contribution.ts
Labels: feature, service: admin frontend

#2767 fix(database): change downwards migration to delete entries with last_announced_at IS NULL
  database/migrations/0060-update_communities_table.ts
Labels: bug, service: database

#2732 refactor(frontend): commnity navbar- & unauthenticated b-gradido styles
  frontend/public/img/svg/my_profil.svg
  frontend/public/img/svg/write.svg
  frontend/src/assets/scss/custom/gradido-custom/_color.scss
  frontend/src/assets/scss/gradido-template.scss
  frontend/src/components/Template/ContentHeader/NavCommunity.vue
  frontend/src/pages/ForgotPassword.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Register.vue
  frontend/src/pages/ResetPassword.vue
Labels: service: wallet frontend, refactor, style

#2731 fix(frontend): change contribution design
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/layouts/templates/CommunityTemplate.spec.js
  frontend/src/layouts/templates/CommunityTemplate.vue
Labels: bug, service: wallet frontend, style

#2762 refactor(backend): use find contributions helper for list contributions
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/findContributions.ts
  backend/src/seeds/graphql/queries.ts
  frontend/src/graphql/queries.js
Labels: refactor, service: backend

#2774 fix(frontend): send gdd - change first submit button text to 'Check Now'
  frontend/src/components/GddSend/TransactionForm.vue
Labels: bug, service: wallet frontend

#2795 fix(backend): add relation messages to database query
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
Labels: bug, service: backend, service: admin frontend

#2798 fix(frontend): info.svg
  frontend/public/img/svg/info.svg
Labels: bug, service: wallet frontend

#2794 fix(admin): contribution page
  admin/src/components/ContributionMessages/ContributionMessagesList.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.vue
Labels: service: admin frontend, style

#2760 refactor(admin): event buttons for myself turned off in open contributions
  admin/src/components/Tables/OpenCreationsTable.vue
Labels: refactor, service: admin frontend

#2804 fix(admin): english language for contributions in admin
  admin/src/locales/en.json
Labels: service: admin frontend

#2806 fix(admin): update openCreation in case of tab open.
  admin/src/pages/CreationConfirm.vue
Labels: bug, service: admin frontend

#2809 refactor(frontend): change b-img to b-icon send
  frontend/src/components/Menu/Sidebar.vue
Labels: service: wallet frontend

#2810 fix(frontend): admin question clickable
  frontend/src/components/Contributions/ContributionListItem.vue
Labels: refactor

#2812 chore(other): upgrade version to 1.19.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2813 feat(backend): admin open creations query
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/creations.ts
Labels: feature, service: backend

#2788 feat(backend): test double redeem transaction links
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/semaphore.test.ts
  backend/src/seeds/graphql/mutations.ts
Labels: feature, service: backend, test

#2782 fix(other): repair UserProfile.ChangePassword.feature scenario
  .github/workflows/test.yml
  backend/.env.test_e2e
  e2e-tests/cypress.config.ts
  e2e-tests/cypress/e2e/User.Authentication.ResetPassword.feature
  e2e-tests/cypress/e2e/UserProfile.ChangePassword.feature
  e2e-tests/cypress/e2e/models/SideNavMenu.ts
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
Labels: bug, test, service: e2e

#2805 fix(database): removed commands from package.json not working
  database/package.json
Labels: bug, service: database

#2790 refactor(workflow): configure jest to directly check coverage to schlanken the test workflows
  .github/workflows/test.yml
  .github/workflows/test_dht-node.yml
  .github/workflows/test_federation.yml
  admin/jest.config.js
  admin/package.json
  backend/jest.config.js
  backend/package.json
  dht-node/jest.config.js
  dht-node/package.json
  federation/jest.config.js
  federation/package.json
  frontend/jest.config.js
  frontend/package.json
Labels: refactor, devops, test

#2814 fix(admin): fix translation in menu (english)
  admin/src/locales/en.json
Labels: bug, service: admin frontend

#2734 refactor(workflow): separate test workflow with file change filters for admin interface
  .github/file-filters.yml
  .github/workflows/test-admin-interface.yml
  .github/workflows/test.yml
Labels: refactor, devops, test

#2720 refactor(database): event table
  backend/src/config/index.ts
  backend/src/event/Event.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  database/entity/0061-event_refactoring/Event.ts
  database/entity/Event.ts
  database/entity/EventProtocol.ts
  database/entity/index.ts
  database/migrations/0061-event_refactoring.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: refactor, service: backend, service: database

#2733 feat(federation): add federation modul to deployment scripts
  backend/src/federation/client/1_0/FederationClient.ts
  backend/src/federation/client/1_1/FederationClient.ts
  backend/src/federation/client/GraphQLGetClient.ts
  backend/src/federation/validateCommunities.ts
  deployment/bare_metal/.env.dist
  deployment/bare_metal/nginx/sites-available/gradido-federation.conf.template
  deployment/bare_metal/nginx/sites-available/gradido.conf.ssl.template
  deployment/bare_metal/nginx/sites-available/gradido.conf.template
  deployment/bare_metal/start.sh
  dht-node/src/dht_node/index.test.ts
  dht-node/src/dht_node/index.ts
  federation/.env.dist
  federation/.env.template
  federation/src/config/index.ts
  federation/src/graphql/api/1_0/model/GetPublicKeyResult.ts
  federation/src/graphql/api/1_0/resolver/PublicKeyResolver.ts
  federation/src/index.ts
  scripts/release.sh
Labels: devops, service: federation

#2835 refactor(workflow): separate test workflow for frontend
  .github/file-filters.yml
  .github/workflows/test.yml
  .github/workflows/test_frontend.yml
Labels: refactor, devops, test

#2836 refactor(workflow): separate test workflow for end-to-end tests
  .github/workflows/e2e-test.yml
  .github/workflows/test.yml
Labels: refactor, devops, test

#2651 feat(federation): implement a graphql endpoint to answer getpublickey-request
  federation/src/graphql/api/1_0/resolver/PublicKeyResolver.test.ts
  federation/src/graphql/api/1_0/resolver/PublicKeyResolver.ts
Labels: feature, service: federation

#2807 feat(backend): read communities data from database
  backend/src/auth/INALIENABLE_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/model/Community.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  backend/src/seeds/graphql/queries.ts
  database/entity/0060-update_communities_table/Community.ts
Labels: feature, service: backend

#2871 refactor(workflow): separate workflow with file filter for nginx testing
  .github/file-filters.yml
  .github/workflows/test-nginx.yml
  .github/workflows/test.yml
Labels: refactor, devops, test

#2791 refactor(admin): admin list contributions for creation transaction list query
  admin/src/components/CreationTransactionList.spec.js
  admin/src/components/CreationTransactionList.vue
  admin/src/graphql/adminListContributions.js
  admin/src/graphql/creationTransactionList.js
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  backend/jest.config.js
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/findContributions.ts
  backend/src/seeds/graphql/queries.ts
Labels: refactor, service: backend, service: admin frontend

#2716 docs(federation): describe the technical federation architecture
  docu/Concepts/TechnicalRequirements/Federation.md
  docu/Concepts/TechnicalRequirements/graphics/TechnicalOverview_V1-19.drawio
  docu/Concepts/TechnicalRequirements/image/TechnicalOverview_V1-19.svg
Labels: docu

#2777 refactor(backend): separate events in own files
  backend/src/config/index.ts
  backend/src/event/EVENT_ACTIVATE_ACCOUNT.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_CONFIRM.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_CREATE.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_DELETE.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_DENY.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_UPDATE.ts
  backend/src/event/EVENT_ADMIN_SEND_CONFIRMATION_EMAIL.ts
  backend/src/event/EVENT_CONTRIBUTION_CREATE.ts
  backend/src/event/EVENT_CONTRIBUTION_DELETE.ts
  backend/src/event/EVENT_CONTRIBUTION_UPDATE.ts
  backend/src/event/EVENT_LOGIN.ts
  backend/src/event/EVENT_REGISTER.ts
  backend/src/event/EVENT_SEND_ACCOUNT_MULTIREGISTRATION_EMAIL.ts
  backend/src/event/EVENT_SEND_CONFIRMATION_EMAIL.ts
  backend/src/event/EVENT_TRANSACTION_RECEIVE.ts
  backend/src/event/EVENT_TRANSACTION_SEND.ts
  backend/src/event/Event.ts
  backend/src/event/EventType.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  database/migrations/0062-event_contribution_confirm.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: refactor

#2883 refactor(backend): add klicktipp-api library
  backend/@types/klicktipp-api/index.d.ts
  backend/package.json
  backend/src/apis/KlicktippController.ts
  backend/src/apis/klicktippConnector.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: refactor, service: backend

#2884 refactor(backend): upgrade coverage to 85%
  backend/jest.config.js
Labels: refactor, service: backend

#2783 feat(backend): events for contribution messages
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_MESSAGE_CREATE.ts
  backend/src/event/EVENT_CONTRIBUTION_MESSAGE_CREATE.ts
  backend/src/event/Event.ts
  backend/src/event/EventType.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
Labels: feature, refactor, service: backend

#2784 feat(backend): events for contributions
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
Labels: feature, refactor, service: backend

#2792 feat(backend): events for transaction links
  backend/src/event/EVENT_CONTRIBUTION_LINK_REDEEM.ts
  backend/src/event/EVENT_TRANSACTION_LINK_CREATE.ts
  backend/src/event/EVENT_TRANSACTION_LINK_DELETE.ts
  backend/src/event/EVENT_TRANSACTION_LINK_REDEEM.ts
  backend/src/event/Event.ts
  backend/src/event/EventType.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
Labels: feature, refactor, service: backend

#2888 fix(frontend): fr change ` and ´ to '
  frontend/src/locales/fr.json
Labels: service: wallet frontend, refactor

#2816 refactor(backend): eslint-plugin-jest + fixes
  backend/.eslintrc.js
  backend/package.json
  backend/src/emails/sendEmailTranslated.test.ts
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/semaphore.test.ts
  backend/src/util/decay.test.ts
  backend/yarn.lock
Labels: refactor

#2885 fix(backend): subscription get's email and languages from user
  backend/src/graphql/arg/SubscribeNewsletterArgs.ts
  backend/src/graphql/resolver/KlicktippResolver.ts
  frontend/src/components/UserSettings/UserNewsletter.spec.js
  frontend/src/components/UserSettings/UserNewsletter.vue
  frontend/src/graphql/mutations.js
Labels: bug, refactor, service: backend

#2797 feat(backend): events for users
  backend/src/event/EVENT_ADMIN_USER_DELETE.ts
  backend/src/event/EVENT_ADMIN_USER_ROLE_SET.ts
  backend/src/event/EVENT_ADMIN_USER_UNDELETE.ts
  backend/src/event/EVENT_EMAIL_FORGOT_PASSWORD.ts
  backend/src/event/EVENT_LOGOUT.ts
  backend/src/event/EVENT_USER_INFO_UPDATE.ts
  backend/src/event/Event.ts
  backend/src/event/EventType.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: feature, service: backend

#2799 refactor(backend): unify event names
  backend/src/config/index.ts
  backend/src/event/EVENT_EMAIL_ACCOUNT_MULTIREGISTRATION.ts
  backend/src/event/EVENT_EMAIL_ADMIN_CONFIRMATION.ts
  backend/src/event/EVENT_EMAIL_CONFIRMATION.ts
  backend/src/event/EVENT_SEND_ACCOUNT_MULTIREGISTRATION_EMAIL.ts
  backend/src/event/EVENT_SEND_CONFIRMATION_EMAIL.ts
  backend/src/event/EVENT_USER_ACTIVATE_ACCOUNT.ts
  backend/src/event/EVENT_USER_LOGIN.ts
  backend/src/event/EVENT_USER_LOGOUT.ts
  backend/src/event/EVENT_USER_REGISTER.ts
  backend/src/event/Event.ts
  backend/src/event/EventType.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  database/migrations/0064-event_rename.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: refactor, service: backend, service: database

#2900 refactor(backend): missing event tests
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
Labels: feature, service: backend, test

#2910 fix(other): use default values for undefined .env database values
  federation/.env.template
Labels: bug, devops, service: federation

#2811 fix(admin): admin open contribution edit button
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/EditCreationFormular.spec.js
  admin/src/components/EditCreationFormular.vue
  admin/src/components/Tables/OpenCreationsTable.spec.js
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/graphql/adminListContributions.js
  admin/src/graphql/adminOpenCreations.js
  admin/src/graphql/adminUpdateContribution.js
  admin/src/mixins/creationMonths.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  backend/src/graphql/arg/AdminUpdateContributionArgs.ts
  backend/src/graphql/model/Contribution.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/seeds/graphql/mutations.ts
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/graphql/queries.js
Labels: bug, epic, service: backend, service: admin frontend

#2880 fix(admin): add confirmation modal for user role change and user (un)deletion
  admin/src/components/ChangeUserRoleFormular.spec.js
  admin/src/components/ChangeUserRoleFormular.vue
  admin/src/components/DeletedUserFormular.spec.js
  admin/src/components/DeletedUserFormular.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/UserSearch.spec.js
Labels: bug, service: admin frontend

#2904 fix(other): delete node_modules and /tmp/yarn--* on start.sh
  deployment/bare_metal/start.sh
Labels: bug
