Repository gradido/gradido, pull requests merged in 2023-07, with the labels that each got.

#3106 fix(backend): moderator message don't send email to user
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
Labels: bug, service: backend

#3107 fix(frontend): add alias to the verifyLogin GraphQL answer.
  frontend/src/graphql/queries.js
Labels: bug, service: wallet frontend

#3108 refactor(frontend): date from deploy changed to infotext
  frontend/src/assets/News/news.json
Labels: service: wallet frontend, refactor

#3113 refactor(frontend): refactor changes incorporated
  frontend/src/components/Inputs/InputUsername.vue
  frontend/src/components/UserSettings/UserName.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Settings.vue
Labels: service: wallet frontend, refactor, style

#3116 refactor(frontend): text juni to juli
  frontend/src/assets/News/news.json
Labels: service: wallet frontend, refactor

#3052 feat(frontend): test right side layout template
  frontend/src/layouts/templates/RightSide.spec.js
Labels: service: wallet frontend, test

#3114 fix(backend): use base url from config in email templates
  backend/src/emails/__snapshots__/sendEmailVariants.test.ts.snap
  backend/src/emails/templates/addedContributionMessage/html.pug
  backend/src/emails/templates/includes/contributionDetailsCTA.pug
  backend/src/emails/templates/transactionLinkRedeemed/html.pug
  backend/src/emails/templates/transactionReceived/html.pug
Labels: bug, service: backend, email

#3117 chore(release): v1.22.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  dht-node/package.json
  federation/package.json
  frontend/package.json
  package.json
Labels: release

#3129 fix(backend): corrected email-link
  backend/src/emails/__snapshots__/sendEmailVariants.test.ts.snap
  backend/src/emails/templates/addedContributionMessage/html.pug
  backend/src/emails/templates/includes/contributionDetailsCTA.pug
Labels: bug

#3044 refactor(dht): eslint dht import
  .github/workflows/test_dht_node.yml
  dht-node/.eslintrc.js
  dht-node/jest.config.js
  dht-node/package.json
  dht-node/src/config/index.ts
  dht-node/src/dht_node/index.test.ts
  dht-node/src/dht_node/index.ts
  dht-node/src/index.ts
  dht-node/src/server/logger.ts
  dht-node/src/typeorm/DBVersion.ts
  dht-node/src/typeorm/connection.ts
  dht-node/test/helpers.ts
  dht-node/yarn.lock
Labels: refactor, service: dht-node

#3026 refactor(database): fix database public key lengths
  backend/src/config/index.ts
  backend/src/federation/validateCommunities.test.ts
  database/entity/0068-community_tables_public_key_length/Community.ts
  database/entity/0068-community_tables_public_key_length/FederatedCommunity.ts
  database/entity/Community.ts
  database/entity/FederatedCommunity.ts
  database/migrations/0068-community_tables_public_key_length.ts
  dht-node/src/config/index.ts
  dht-node/src/dht_node/index.ts
  federation/src/config/index.ts
Labels: refactor, service: database

#3118 feat(other): iota-tangle-connector mit Hello World Message als separates Modul
  .github/file-filters.yml
  .github/workflows/lint_pr.yml
  .github/workflows/test_dlt_connector.yml
  dlt-connector/.env.dist
  dlt-connector/.env.template
  dlt-connector/.eslintignore
  dlt-connector/.eslintrc.js
  dlt-connector/.gitignore
  dlt-connector/.prettierrc.js
  dlt-connector/Dockerfile
  dlt-connector/jest.config.js
  dlt-connector/log4js-config.json
  dlt-connector/package.json
  dlt-connector/src/client/IotaClient.test.ts
  dlt-connector/src/client/IotaClient.ts
  dlt-connector/src/config/index.ts
  dlt-connector/src/index.ts
  dlt-connector/src/server/logger.ts
  dlt-connector/test/testSetup.ts
  dlt-connector/tsconfig.json
  dlt-connector/yarn.lock
  docker-compose.override.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: feature, service: iota

#3133 fix(backend): semaphore parallel redeemTransactionLink test
  backend/src/graphql/resolver/semaphore.test.ts
Labels: bug, service: backend

#3096 feat(other): proper reporting for failing end-to-end tests
  .github/workflows/test_e2e.yml
  e2e-tests/create-cucumber-html-report.js
  e2e-tests/cypress.config.ts
  e2e-tests/package.json
  e2e-tests/yarn.lock
Labels: feature, devops, test, end-to-end

#3132 feat(other): iota-tangle-connector sending transaction
  dlt-connector/.env.dist
  dlt-connector/.env.template
  dlt-connector/Dockerfile
  dlt-connector/jest.config.js
  dlt-connector/package.json
  dlt-connector/src/client/IotaClient.ts
  dlt-connector/src/config/index.ts
  dlt-connector/src/graphql/enum/TransactionType.ts
  dlt-connector/src/graphql/input/TransactionInput.ts
  dlt-connector/src/graphql/resolver/TransactionsResolver.test.ts
  dlt-connector/src/graphql/resolver/TransactionsResolver.ts
  dlt-connector/src/graphql/scalar/Decimal.ts
  dlt-connector/src/graphql/schema.ts
  dlt-connector/src/index.ts
  dlt-connector/src/proto/TransactionBody.test.ts
  dlt-connector/src/proto/TransactionBody.ts
  dlt-connector/src/server/LogError.test.ts
  dlt-connector/src/server/LogError.ts
  dlt-connector/src/server/cors.ts
  dlt-connector/src/server/createServer.ts
  dlt-connector/test/ApolloServerMock.ts
  dlt-connector/tsconfig.json
  dlt-connector/yarn.lock
Labels: feature, service: iota

#3144 refactor(frontend): add contribution by link information to locales
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
Labels: service: wallet frontend, refactor

#3157 chore(release): v1.23.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  dht-node/package.json
  federation/package.json
  frontend/package.json
  package.json
Labels: release

#3156 feat(other): setup dependabot for backend package updates
  .github/dependabot_backend.yml
Labels: feature, service: docker, devops, service: backend
