Repository gradido/gradido, pull requests merged in 2023-08, with the labels that each got.

#3158 perf(backend): enable logfile compression
  backend/log4js-config.json
  dht-node/log4js-config.json
  dlt-connector/log4js-config.json
  federation/log4js-config.json
Labels: devops

#3160 fix(backend): too much logoutput on production
  backend/log4js-config.json
  backend/src/federation/client/1_0/FederationClient.ts
  backend/src/federation/validateCommunities.test.ts
  backend/src/federation/validateCommunities.ts
  backend/src/index.ts
  deployment/bare_metal/removeLogFiles.sh
  deployment/bare_metal/setup.md
Labels: bug, service: backend

#3168 fix(backend): update logfiles clearance-script
  deployment/bare_metal/removeLogFiles.sh
Labels: bug, devops

#3170 feat(dlt): add dlt-connector to release-script
  scripts/release.sh
Labels: devops

#3173 chore(release): v1.23.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  dht-node/package.json
  dlt-connector/package.json
  federation/package.json
  frontend/package.json
  package.json
Labels: release

#3152 feat(backend): after transaction creations trigger to send them to dlt-connector
  backend/.env.dist
  backend/.env.template
  backend/src/apis/DltConnectorClient.test.ts
  backend/src/apis/DltConnectorClient.ts
  backend/src/config/index.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/util/sendTransactionsToDltConnector.test.ts
  backend/src/graphql/resolver/util/sendTransactionsToDltConnector.ts
  backend/src/util/Monitor.ts
  database/entity/0070-add_dlt_transactions_table/DltTransaction.ts
  database/entity/0070-add_dlt_transactions_table/Transaction.ts
  database/entity/DltTransaction.ts
  database/entity/Transaction.ts
  database/entity/index.ts
  database/migrations/0070-add_dlt_transactions_table.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: service: backend, service: database

#3174 feat(admin): contribution filtering by memo
  admin/src/components/UserQuery.vue
  admin/src/graphql/adminListContributions.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  backend/src/graphql/arg/Paginated.ts
  backend/src/graphql/arg/SearchContributionsFilterArgs.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/findContributions.ts
Labels: service: backend, service: admin frontend

#3180 chore(release): v1.23.2
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  dht-node/package.json
  dlt-connector/package.json
  federation/package.json
  frontend/package.json
  package.json
Labels: service: backend, service: admin frontend

#2957 feat(federation): x com 4 introduce public community info handshake
  backend/src/federation/client/1_0/FederationClient.ts
  backend/src/federation/client/1_0/model/PublicCommunityInfo.ts
  backend/src/federation/client/1_0/query/getPublicCommunityInfo.ts
  backend/src/federation/validateCommunities.test.ts
  backend/src/federation/validateCommunities.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/seeds/graphql/queries.ts
  database/migrations/0068-community_tables_public_key_length.ts
  federation/jest.config.js
  federation/src/graphql/api/1_0/model/GetPublicCommunityInfoResult.ts
  federation/src/graphql/api/1_0/resolver/PublicCommunityInfoResolver.test.ts
  federation/src/graphql/api/1_0/resolver/PublicCommunityInfoResolver.ts
  federation/tsconfig.json
Labels: feature, service: backend, service: federation

#3181 fix(backend): contribution filtering by memo
  backend/jest.config.js
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/util/findContributions.ts
  backend/src/seeds/creation/index.ts
  backend/src/seeds/graphql/queries.ts
  backend/tsconfig.json
Labels: bug, service: backend

#3182 feat(admin): update hashtag ui
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.vue
Labels: feature, service: admin frontend

#3190 feat(database): x-sendcoins-2: add pending transactions table for x-community-tx
  backend/jest.config.js
  backend/src/config/index.ts
  backend/src/graphql/enum/PendingTransactionState.ts
  database/entity/0071-add-pending_transactions-table/PendingTransaction.ts
  database/entity/PendingTransaction.ts
  database/entity/index.ts
  database/migrations/0071-add-pending_transactions-table.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: feature, service: database

#3171 refactor(backend): validation with class-validator
  backend/src/graphql/arg/AdminCreateContributionArgs.ts
  backend/src/graphql/arg/AdminUpdateContributionArgs.ts
  backend/src/graphql/arg/ContributionArgs.ts
  backend/src/graphql/arg/ContributionLinkArgs.ts
  backend/src/graphql/arg/ContributionMessageArgs.ts
  backend/src/graphql/arg/CreateUserArgs.ts
  backend/src/graphql/arg/Paginated.ts
  backend/src/graphql/arg/SearchContributionsFilterArgs.ts
  backend/src/graphql/arg/SearchUsersFilters.ts
  backend/src/graphql/arg/SetUserRoleArgs.ts
  backend/src/graphql/arg/TransactionLinkArgs.ts
  backend/src/graphql/arg/TransactionLinkFilters.ts
  backend/src/graphql/arg/TransactionSendArgs.ts
  backend/src/graphql/arg/UnsecureLoginArgs.ts
  backend/src/graphql/arg/UpdateUserInfosArgs.ts
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionLinkResolver.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/schema.ts
  backend/src/graphql/validator/ContributionStatusArray.ts
  backend/src/graphql/validator/DateString.ts
  backend/src/graphql/validator/Decimal.ts
Labels: refactor, service: backend

#3195 feat(frontend): add community switch to send coins
  backend/src/graphql/arg/TransactionSendArgs.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/semaphore.test.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  e2e-tests/cypress/support/step_definitions/send_coin_steps.ts
  frontend/src/components/CommunitySwitch.vue
  frontend/src/components/GddSend/TransactionConfirmationSend.vue
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/pages/Send.spec.js
  frontend/src/pages/Send.vue
Labels: feature, service: wallet frontend, service: backend
