Repository gradido/gradido, pull requests merged in 2023-09, with the labels that each got.

#3202 feat(frontend): make community switch looking similar to other inputs
  frontend/src/components/CommunitySwitch.vue
Labels: feature, service: wallet frontend, style

#3203 feat(backend): x-sendcoins: filter on authenticated communities for selection
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/CommunityResolver.ts
Labels: feature, service: backend

#3189 feat(database): dlt database
  .github/workflows/lint_pr.yml
  dlt-database/.env.dist
  dlt-database/.env.template
  dlt-database/.eslintignore
  dlt-database/.eslintrc.js
  dlt-database/.gitignore
  dlt-database/.prettierrc.js
  dlt-database/Dockerfile
  dlt-database/README.md
  dlt-database/entity/0001-init_db/Account.ts
  dlt-database/entity/0001-init_db/AccountCommunity.ts
  dlt-database/entity/0001-init_db/Community.ts
  dlt-database/entity/0001-init_db/ConfirmedTransaction.ts
  dlt-database/entity/0001-init_db/InvalidTransaction.ts
  dlt-database/entity/0001-init_db/TransactionRecipe.ts
  dlt-database/entity/0001-init_db/User.ts
  dlt-database/entity/Account.ts
  dlt-database/entity/AccountCommunity.ts
  dlt-database/entity/Community.ts
  dlt-database/entity/ConfirmedTransaction.ts
  dlt-database/entity/InvalidTransaction.ts
  dlt-database/entity/TransactionRecipe.ts
  dlt-database/entity/User.ts
  dlt-database/log/.gitignore
  dlt-database/migrations/0001-init_db.ts
  dlt-database/package.json
  dlt-database/src/config/index.ts
  dlt-database/src/index.ts
  dlt-database/src/prepare.ts
  dlt-database/src/typeorm.ts
  dlt-database/src/typeorm/DecimalTransformer.ts
  dlt-database/tsconfig.json
  dlt-database/yarn.lock
  docker-compose.apple-m1.override.yml
  docker-compose.override.yml
  docker-compose.test.yml
  docker-compose.yml
  docu/Concepts/DLT/database.md
  docu/Concepts/DLT/derived_keys.md
  docu/Concepts/DLT/img/dlt-diagramm.pdf
  docu/Concepts/DLT/img/dlt-diagramm.png
  docu/Concepts/DLT/overview.md
Labels: service: dlt-database

#3192 feat(federation): x-com sendcoins 21: add graphql endpoints for starting tx 2-phase-commit handshake
  backend/jest.config.js
  backend/src/config/index.ts
  backend/src/federation/client/1_0/SendCoinsClient.ts
  backend/src/federation/client/1_0/model/SendCoinsArgs.ts
  backend/src/federation/client/1_0/model/SendCoinsResult.ts
  backend/src/federation/client/1_0/query/voteForSendCoins.ts
  backend/src/federation/client/1_1/SendCoinsClient.ts
  backend/src/federation/client/SendCoinsClientFactory.ts
  backend/src/graphql/resolver/util/processXComSendCoins.ts
  backend/src/util/calculateSenderBalance.ts
  federation/src/config/index.ts
  federation/src/graphql/api/1_0/enum/PendingTransactionState.ts
  federation/src/graphql/api/1_0/enum/TransactionTypeId.ts
  federation/src/graphql/api/1_0/model/Decay.ts
  federation/src/graphql/api/1_0/model/SendCoinsArgs.ts
  federation/src/graphql/api/1_0/resolver/SendCoinsResolver.test.ts
  federation/src/graphql/api/1_0/resolver/SendCoinsResolver.ts
  federation/src/graphql/scalar/Decimal.ts
  federation/src/graphql/schema.ts
  federation/src/graphql/util/calculateRecipientBalance.ts
  federation/src/graphql/util/decay.test.ts
  federation/src/graphql/util/decay.ts
  federation/src/graphql/util/fullName.ts
  federation/src/graphql/util/getLastTransaction.ts
  federation/src/server/LogError.ts
  federation/test/helpers.test.ts
  federation/test/helpers.ts
Labels: service: backend, service: federation

#3193 feat(federation): x-com sendcoins 22: add graphql endpoints for revert pending tx
  backend/src/config/index.ts
  backend/src/federation/client/1_0/SendCoinsClient.ts
  backend/src/federation/client/1_0/query/revertSendCoins.ts
  backend/src/graphql/resolver/util/processXComSendCoins.ts
  federation/src/graphql/api/1_0/resolver/SendCoinsResolver.test.ts
  federation/src/graphql/api/1_0/resolver/SendCoinsResolver.ts
Labels: service: backend, service: federation

#3210 fix(frontend): make invisible community visible
  frontend/src/components/CommunitySwitch.vue
Labels: bug

#3199 feat(dlt): protobuf entities for blockchain protocol
  backend/src/apis/DltConnectorClient.ts
  backend/src/graphql/resolver/util/sendTransactionsToDltConnector.test.ts
  backend/src/graphql/resolver/util/sendTransactionsToDltConnector.ts
  dlt-connector/.env.dist
  dlt-connector/Dockerfile
  dlt-connector/jest.config.js
  dlt-connector/src/config/index.ts
  dlt-connector/src/controller/GradidoTransaction.ts
  dlt-connector/src/controller/TransactionBase.ts
  dlt-connector/src/controller/TransactionBody.test.ts
  dlt-connector/src/controller/TransactionBody.ts
  dlt-connector/src/graphql/enum/AddressType.ts
  dlt-connector/src/graphql/enum/CrossGroupType.ts
  dlt-connector/src/graphql/enum/TransactionErrorType.ts
  dlt-connector/src/graphql/enum/TransactionValidationLevel.ts
  dlt-connector/src/graphql/input/TransactionDraft.ts
  dlt-connector/src/graphql/input/TransactionInput.ts
  dlt-connector/src/graphql/input/UserIdentifier.ts
  dlt-connector/src/graphql/model/TransactionError.ts
  dlt-connector/src/graphql/model/TransactionResult.ts
  dlt-connector/src/graphql/resolver/TransactionsResolver.test.ts
  dlt-connector/src/graphql/resolver/TransactionsResolver.ts
  dlt-connector/src/graphql/scalar/Decimal.ts
  dlt-connector/src/graphql/schema.ts
  dlt-connector/src/graphql/validator/DateString.ts
  dlt-connector/src/graphql/validator/Decimal.ts
  dlt-connector/src/proto/3_3/GradidoConfirmedTransaction.ts
  dlt-connector/src/proto/3_3/GradidoCreation.test.ts
  dlt-connector/src/proto/3_3/GradidoCreation.ts
  dlt-connector/src/proto/3_3/GradidoDeferredTransfer.ts
  dlt-connector/src/proto/3_3/GradidoTransaction.ts
  dlt-connector/src/proto/3_3/GradidoTransfer.ts
  dlt-connector/src/proto/3_3/GroupFriendsUpdate.ts
  dlt-connector/src/proto/3_3/RegisterAddress.ts
  dlt-connector/src/proto/3_3/SignatureMap.ts
  dlt-connector/src/proto/3_3/SignaturePair.ts
  dlt-connector/src/proto/3_3/Timestamp.test.ts
  dlt-connector/src/proto/3_3/Timestamp.ts
  dlt-connector/src/proto/3_3/TimestampSeconds.test.ts
  dlt-connector/src/proto/3_3/TimestampSeconds.ts
  dlt-connector/src/proto/3_3/TransactionBody.ts
  dlt-connector/src/proto/3_3/TransferAmount.ts
  dlt-connector/src/proto/TransactionBody.test.ts
  dlt-connector/src/proto/TransactionBody.ts
  dlt-connector/tsconfig.json
  dlt-connector/yarn.lock
  docker-compose.yml
Labels: feature, service: iota
