Repository gradido/gradido, pull requests merged in 2023-06, with the labels that each got.

#3033 refactor(backend): random-bigint types
  backend/.eslintrc.js
  backend/@types/random-bigint/index.d.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: refactor, service: backend

#3022 refactor(federation): remove function getSeed
  dht-node/src/dht_node/index.ts
Labels: refactor, service: dht-node

#3019 refactor(federation): removed (potential) duplicate db query
  dht-node/src/dht_node/index.ts
Labels: refactor, service: dht-node

#3043 feat(workflow): dht as package for lint pr workflow
  .github/workflows/lint_pr.yml
Labels: feature, devops, service: dht-node

#3036 refactor(database): eslint database base configuration
  database/.eslintrc.js
  database/Dockerfile
  database/entity/0036-unique_previous_in_transactions/Transaction.ts
  database/entity/0066-x-community-sendcoins-transactions_table/Transaction.ts
  database/migrations/0028-decimal_types.ts
  database/migrations/0054-recalculate_balance_and_decay.ts
  database/package.json
  database/yarn.lock
Labels: refactor, service: database

#3047 refactor(federation): eslint federation base configuration
  federation/.eslintrc.js
  federation/.prettierrc.js
  federation/jest.config.js
  federation/package.json
  federation/src/config/index.ts
  federation/src/graphql/api/schema.ts
  federation/src/index.ts
  federation/src/server/createServer.ts
  federation/src/server/logger.ts
  federation/src/server/plugins.ts
  federation/src/typeorm/DBVersion.ts
  federation/yarn.lock
Labels: refactor, service: federation

#3042 refactor(dht): eslint dht base configuration
  dht-node/.eslintrc.js
  dht-node/package.json
  dht-node/yarn.lock
Labels: service: dht-node

#3023 refactor(federation): expose private key to write home community
  dht-node/src/dht_node/index.ts
Labels: refactor, service: federation

#3032 refactor(backend): sodium native with types
  backend/.eslintrc.js
  backend/@types/sodium-native/index.d.ts
  backend/package.json
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/password/EncryptorUtils.ts
  backend/yarn.lock
Labels: refactor, service: backend

#3037 refactor(database): eslint database n
  database/.eslintrc.js
  database/package.json
  database/src/config/index.ts
Labels: refactor, service: database

#2938 feat(backend): apply design template to HTML e-mails
  backend/src/emails/__snapshots__/sendEmailVariants.test.ts.snap
  backend/src/emails/sendEmailTranslated.test.ts
  backend/src/emails/sendEmailTranslated.ts
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/emails/templates/accountActivation/html.pug
  backend/src/emails/templates/accountMultiRegistration/html.pug
  backend/src/emails/templates/addedContributionMessage/html.pug
  backend/src/emails/templates/contributionConfirmed/html.pug
  backend/src/emails/templates/contributionDeleted/html.pug
  backend/src/emails/templates/contributionDenied/html.pug
  backend/src/emails/templates/greatingFormularImprint.pug
  backend/src/emails/templates/includes/contributionDetailsCTA.pug
  backend/src/emails/templates/includes/doNotReply.pug
  backend/src/emails/templates/includes/email.css
  backend/src/emails/templates/includes/facebook-icon.png
  backend/src/emails/templates/includes/footer.pug
  backend/src/emails/templates/includes/gradido-header.jpeg
  backend/src/emails/templates/includes/greeting.pug
  backend/src/emails/templates/includes/header.pug
  backend/src/emails/templates/includes/requestNewLink.pug
  backend/src/emails/templates/includes/salutation.pug
  backend/src/emails/templates/includes/telegram-icon.png
  backend/src/emails/templates/includes/twitter-icon.png
  backend/src/emails/templates/includes/webflow.css
  backend/src/emails/templates/includes/youtube-icon.png
  backend/src/emails/templates/layout.pug
  backend/src/emails/templates/resetPassword/html.pug
  backend/src/emails/templates/transactionLinkRedeemed/html.pug
  backend/src/emails/templates/transactionReceived/html.pug
  backend/src/locales/de.json
  backend/src/locales/en.json
  frontend/public/img/brand/gradido-email-header.png
Labels: feature, email

#3039 refactor(database): eslint database eslint comments
  database/.eslintrc.js
  database/migrations/0028-decimal_types.ts
  database/migrations/0054-recalculate_balance_and_decay.ts
  database/migrations/0055-consistent_deleted_users.ts
  database/migrations/0056-consistent_transactions_table.ts
Labels: refactor, service: database

#3059 feat(admin): order user search desc, fix pagination
  admin/src/graphql/searchUsers.js
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  backend/src/graphql/arg/SearchUsersArgs.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/typeorm/repository/User.ts
Labels: bug, feature, service: admin frontend

#3035 refactor(backend): removed klicktipp middleware and replace it with a function
  backend/src/graphql/model/KlickTipp.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/getKlicktippState.ts
  backend/src/middleware/klicktippMiddleware.ts
Labels: refactor, service: backend

#3024 feat(federation): introduce private key in community table
  backend/src/config/index.ts
  database/entity/0067-private_key_in_community_table/Community.ts
  database/entity/Community.ts
  database/migrations/0067-private_key_in_community_table.ts
  dht-node/src/config/index.ts
  dht-node/src/dht_node/index.ts
  federation/src/config/index.ts
Labels: feature, service: dht-node

#2959 fix(frontend): auto logout messages autohide time 5000
  frontend/src/pages/Login.vue
Labels: bug, service: wallet frontend

#3046 refactor(dht): eslint dht comments
  dht-node/.eslintignore
  dht-node/.eslintrc.js
Labels: refactor, service: dht-node

#3045 refactor(dht): eslint dht n
  dht-node/.eslintrc.js
  dht-node/jest.config.js
  dht-node/package.json
  dht-node/src/config/index.ts
  dht-node/src/index.ts
Labels: refactor, service: dht-node

#3049 feat(frontend): change the info text on the start page
  frontend/src/assets/News/news.json
  frontend/src/components/Overview/CommunityNews.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/locales/tr.json
Labels: feature, service: wallet frontend

#3041 feat(backend): bootstrap and Hello World Test
  backend/.env.dist
  backend/.env.template
  backend/Dockerfile
  backend/package.json
  backend/src/apis/IotaConnector.test.ts
  backend/src/apis/IotaConnector.ts
  backend/src/apis/IotaConnector_disabled.test.ts
  backend/src/config/index.ts
  backend/yarn.lock
  deployment/bare_metal/.env.dist
Labels: service: backend, service: iota

#3080 feat(admin): change deny contribution btn-warning color and background-color to #e1a908
  admin/src/components/Tables/OpenCreationsTable.vue
Labels: good first issue, service: admin frontend

#3082 refactor(other): refactor state to status
  admin/src/components/ContributionMessages/ContributionMessagesFormular.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  admin/src/components/ContributionMessages/ContributionMessagesList.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.spec.js
  admin/src/components/CreationTransactionList.spec.js
  admin/src/components/CreationTransactionList.vue
  admin/src/components/Tables/OpenCreationsTable.spec.js
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/graphql/adminListContributions.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  backend/src/graphql/model/Contribution.ts
  backend/src/graphql/model/GdtEntryList.ts
  backend/src/graphql/model/UnconfirmedContribution.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/seeds/graphql/queries.ts
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesFormular.vue
  frontend/src/components/ContributionMessages/ContributionMessagesList.spec.js
  frontend/src/components/ContributionMessages/ContributionMessagesList.vue
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.spec.js
  frontend/src/components/Contributions/ContributionList.spec.js
  frontend/src/components/Contributions/ContributionList.vue
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/graphql/queries.js
  frontend/src/pages/Community.spec.js
  frontend/src/pages/Community.vue
Labels: service: wallet frontend, refactor, service: backend, service: admin frontend

#3081 feat(frontend): transaction list page change style for small device
  frontend/src/components/DecayInformations/DecayInformation-Long.vue
  frontend/src/components/TransactionRows/DurationRow.vue
Labels: feature, service: wallet frontend

#3070 feat(other): end-to-end test feature send coins
  e2e-tests/cypress/e2e/SendCoins.feature
  e2e-tests/cypress/e2e/models/OverviewPage.ts
  e2e-tests/cypress/e2e/models/SendPage.ts
  e2e-tests/cypress/support/step_definitions/email_steps.ts
  e2e-tests/cypress/support/step_definitions/send_coin_steps.ts
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.vue
Labels: feature, devops, test, service: e2e, end-to-end

#3089 fix(other): linting in e2e tests directory does not work
  e2e-tests/.eslintignore
  e2e-tests/.eslintrc.js
  e2e-tests/cypress.config.ts
  e2e-tests/cypress/e2e/models/OverviewPage.ts
  e2e-tests/cypress/e2e/models/ResetPasswordPage.ts
  e2e-tests/cypress/e2e/models/SendPage.ts
  e2e-tests/cypress/e2e/models/UserEMailSite.ts
  e2e-tests/cypress/support/index.ts
  e2e-tests/cypress/support/step_definitions/common_steps.ts
  e2e-tests/cypress/support/step_definitions/email_steps.ts
  e2e-tests/cypress/support/step_definitions/send_coin_steps.ts
  e2e-tests/cypress/support/step_definitions/user_authentication_steps.ts
  e2e-tests/cypress/support/step_definitions/user_profile_change_password_steps.ts
  e2e-tests/cypress/support/step_definitions/user_registration_steps.ts
Labels: bug, test

#3072 feat(backend): contribution message type moderator
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/arg/ContributionMessageArgs.ts
  backend/src/graphql/enum/ContributionMessageType.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/findContributionMessages.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
Labels: feature, service: backend

#3051 feat(other): add definition of cron-job for klicktipp export.
  deployment/bare_metal/setup.md
Labels: docu

#3056 test(other): update cypress
  e2e-tests/cypress.config.ts
  e2e-tests/cypress/support/step_definitions/send_coin_steps.ts
  e2e-tests/cypress/support/step_definitions/user_authentication_steps.ts
  e2e-tests/cypress/support/step_definitions/user_profile_change_password_steps.ts
  e2e-tests/cypress/support/step_definitions/user_registration_steps.ts
  e2e-tests/package.json
  e2e-tests/yarn.lock
Labels: devops, test, end-to-end

#3092 refactor(other): disable cypress test retries
  e2e-tests/cypress.config.ts
Labels: refactor, devops, test, end-to-end

#3078 feat(database): update typeorm
  backend/.eslintrc.js
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionLinkResolver.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/KlicktippResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/findUserByIdentifier.ts
  backend/src/graphql/resolver/util/findUsers.ts
  backend/src/graphql/resolver/util/getLastTransaction.ts
  backend/src/graphql/resolver/util/transactionLinkList.ts
  backend/src/graphql/resolver/util/transactionLinkSummary.ts
  backend/src/graphql/resolver/util/validateAlias.test.ts
  backend/src/seeds/factory/creation.ts
  backend/src/seeds/factory/transactionLink.ts
  backend/src/seeds/factory/user.ts
  backend/src/seeds/index.ts
  backend/src/server/context.ts
  backend/src/typeorm/DBVersion.ts
  backend/src/typeorm/repository/TransactionLink.ts
  backend/src/util/hasElopageBuys.ts
  backend/src/util/validate.ts
  backend/src/webhook/elopage.ts
  backend/test/helpers.ts
  database/entity/0057-clear_old_password_junk/UserContact.ts
  database/package.json
  database/yarn.lock
  dht-node/src/dht_node/index.test.ts
  dht-node/src/dht_node/index.ts
  dht-node/src/typeorm/DBVersion.ts
  federation/src/graphql/api/1_0/resolver/PublicKeyResolver.ts
  federation/src/typeorm/DBVersion.ts
Labels: devops, service: backend, service: database, service: federation, service: dht-node

#3077 feat(other): end-to-end test scenarios for deleted and not registered user
  e2e-tests/cypress/e2e/User.Authentication.ResetPassword.feature
  e2e-tests/cypress/support/step_definitions/email_steps.ts
Labels: feature, end-to-end

#3093 fix(backend): double redeem transaction link
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/semaphore.test.ts
  backend/src/util/TRANSACTION_LINK_LOCK.ts
Labels: bug, service: backend

#3091 feat(backend): user query on find contributions
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/findContributions.ts
  backend/src/seeds/graphql/queries.ts
Labels: feature, service: backend

#3094 feat(admin): query users on contributions
  admin/src/components/UserQuery.vue
  admin/src/graphql/adminListContributions.js
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
Labels: feature, service: admin frontend
