Repository gradido/gradido, pull requests merged in 2023-01, with the labels that each got.

#2505 test(other): fix tests breaking with the new year
  backend/src/graphql/resolver/util/creations.test.ts
  frontend/src/components/ContentFooter.spec.js
Labels: bug, service: wallet frontend, test

#2504 refactor(other): adjust some texts and translations
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/emails/templates/transactionLinkRedeemed/html.pug
  backend/src/emails/templates/transactionLinkRedeemed/subject.pug
  backend/src/locales/de.json
  backend/src/locales/en.json
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
Labels: refactor, service: backend

#2477 fix(backend): fix config - some typos
  backend/.env.dist
  backend/src/config/index.ts
  deployment/bare_metal/.env.dist
Labels: bug, service: backend

#2489 feat(other): new scopes for lint pr
  .github/workflows/lint_pr.yml
Labels: feature

#2523 fix(backend): fix email text
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/locales/en.json
Labels: bug, service: backend

#2503 fix(backend): fix logger middleware
  backend/src/server/plugins.ts
Labels: bug, service: backend

#2530 fix(frontend): avatar initials always has 2 letters
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Template/RightSide/LastTransactions.vue
Labels: bug, service: wallet frontend

#2506 feat(backend): add hideAmountGDD & hideAmountGDT to users table.
  backend/src/config/index.ts
  backend/src/graphql/arg/UpdateUserInfosArgs.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/util/communityUser.ts
  database/entity/0057-clear_old_password_junk/UserContact.ts
  database/entity/0059-add_hide_amount_to_users/User.ts
  database/entity/User.ts
  database/migrations/0059-add_hide_amount_to_users.ts
  frontend/src/components/Template/ContentHeader/GddAmount.spec.js
  frontend/src/components/Template/ContentHeader/GddAmount.vue
  frontend/src/components/Template/ContentHeader/GdtAmount.spec.js
  frontend/src/components/Template/ContentHeader/GdtAmount.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: wallet frontend, service: backend, service: database

#2528 fix(frontend): input-email label and placeholder are displayed correctly per language
  frontend/src/components/Inputs/InputEmail.vue
  frontend/src/pages/ForgotPassword.spec.js
  frontend/src/pages/ForgotPassword.vue
  frontend/src/pages/Login.spec.js
  frontend/src/pages/Login.vue
  frontend/src/pages/Register.spec.js
  frontend/src/pages/Register.vue
Labels: bug, service: wallet frontend

#2526 fix(frontend): leaves are over the user symbol
  frontend/src/components/Menu/Navbar.vue
Labels: bug, service: wallet frontend

#2525 fix(frontend): pagination gdt
  frontend/src/pages/Transactions.vue
Labels: bug, service: wallet frontend

#2441 feat(other): fake e-mail server for end-to-end testing
  backend/src/config/index.ts
  backend/src/emails/sendEmailTranslated.ts
  docker-compose.override.yml
  docker-compose.test.yml
Labels: feature, service: docker, devops, test

#2542 test(backend): increase backend coverage to 78%
  .github/workflows/test.yml
Labels: service: backend, test

#2540 fix(other): update browser list
  admin/yarn.lock
  backend/yarn.lock
  frontend/yarn.lock
Labels: service: wallet frontend, devops, service: backend, test, service: admin frontend

#2534 fix(frontend): send gdd and send link gdd is running
  frontend/src/components/GddSend/TransactionConfirmationLink.vue
  frontend/src/components/GddSend/TransactionConfirmationSend.vue
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/GddSend/TransactionResultLink.vue
  frontend/src/components/GddSend/TransactionResultSendSuccess.vue
  frontend/src/pages/Send.vue
Labels: bug, service: wallet frontend

#2539 fix(backend): fix backend not confirmable
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug, service: backend

#2546 fix(frontend): initials without space
  frontend/src/components/Template/RightSide/LastTransactions.vue
Labels: bug, service: wallet frontend

#2533 fix(backend): remove jest from dependecies
  backend/package.json
Labels: bug, refactor, service: backend

#2524 feat(other): vscode extensions
  .vscode/extensions.json
  .vscode/settings.json
Labels: feature, devops

#2541 refactor(frontend): remove open creations from store
  .github/workflows/test.yml
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/model/OpenCreation.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/creations.ts
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/pages/Community.spec.js
  frontend/src/pages/Community.vue
  frontend/src/pages/Send.spec.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: service: wallet frontend, refactor, service: backend

#2543 fix(frontend): editing transaction does not work
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/GddSend/TransactionResultSendError.vue
  frontend/src/components/Inputs/InputAmount.vue
  frontend/src/components/Inputs/InputEmail.vue
  frontend/src/components/Inputs/InputTextarea.spec.js
  frontend/src/components/Inputs/InputTextarea.vue
Labels: bug, service: wallet frontend

#2545 refactor(frontend): computed hours for open creations
  frontend/src/components/Contributions/OpenCreationsAmount.spec.js
  frontend/src/components/Contributions/OpenCreationsAmount.vue
Labels: service: wallet frontend, refactor

#2527 fix(frontend): creation menu highlighted on all submenus
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/components/Template/ContentHeader/NavCommunity.vue
  frontend/src/pages/Community.spec.js
  frontend/src/pages/Community.vue
Labels: bug, service: wallet frontend

#2548 refactor(frontend): slots for right sidebar and header
  frontend/src/layouts/DashboardLayout.spec.js
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/layouts/templates/ContentHeader.vue
  frontend/src/layouts/templates/RightSide.vue
Labels: service: wallet frontend, refactor

#2552 fix(frontend): mobile design
  frontend/src/assets/scss/gradido-template.scss
  frontend/src/components/Contributions/ContributionForm.spec.js
  frontend/src/components/Contributions/ContributionForm.vue
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/components/GddSend/TransactionConfirmationLink.vue
  frontend/src/components/GddSend/TransactionConfirmationSend.vue
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/Inputs/InputHour.spec.js
  frontend/src/components/Inputs/InputHour.vue
  frontend/src/components/Menu/Navbar.vue
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/components/MobileSidebar/MobileSidebar.vue
  frontend/src/components/Overview/CommunityNews.vue
  frontend/src/components/Template/RightSide/ContributionInfo.vue
  frontend/src/components/UserSettings/UserCard.vue
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Community.spec.js
  frontend/src/pages/Community.vue
  frontend/src/pages/Send.vue
  frontend/src/pages/Settings.vue
  frontend/src/validation-rules.js
Labels: bug, service: wallet frontend

#2551 fix(backend): semaphore deadlock
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: bug, service: backend

#2550 fix(frontend): normalized amount transaction if processed again
  frontend/src/components/Contributions/ContributionForm.spec.js
  frontend/src/components/Inputs/InputAmount.spec.js
  frontend/src/components/Inputs/InputAmount.vue
  frontend/src/graphql/queries.js
Labels: bug, service: wallet frontend

#2553 refactor(backend): statistics with field resolvers
  admin/src/graphql/communityStatistics.js
  admin/src/pages/CommunityStatistic.spec.js
  admin/src/pages/CommunityStatistic.vue
  backend/src/graphql/model/CommunityStatistics.ts
  backend/src/graphql/resolver/StatisticsResolver.ts
Labels: refactor, service: backend, service: admin frontend

#2561 fix(frontend): tunneled email on right side last transactions
  frontend/src/layouts/DashboardLayout.vue
Labels: bug, service: wallet frontend

#2568 fix(frontend): add a watch on gdt prop to assure propper loading when mounted
  frontend/src/pages/Transactions.vue
Labels: bug, service: wallet frontend

#2570 fix(frontend): mobil divices datepicker add props dropleft
  frontend/src/components/Contributions/ContributionForm.vue
Labels: bug, service: wallet frontend, style

#2572 fix(frontend): english locales - horas -> hours
  frontend/src/locales/en.json
Labels: bug, service: wallet frontend

#2571 fix(backend): admin cannot delete confirmed contribution
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
Labels: bug, service: backend

#2573 fix(frontend): submit contribution text
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend

#2575 chore(release): v1.17.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2576 refactor(frontend): tyle mobile device auth template
  frontend/src/components/Auth/AuthNavbar.vue
Labels: service: wallet frontend, refactor, style

#2577 refactor(frontend): link send result style
  .github/workflows/test.yml
  frontend/src/components/ClipboardCopy.vue
  frontend/src/components/DecayInformations/CollapseLinksList.spec.js
  frontend/src/components/GddSend/TransactionResultLink.vue
  frontend/src/components/Transactions/TransactionLinkSummary.spec.js
  frontend/src/mixins/copyLinks.js
  frontend/src/pages/Send.spec.js
Labels: service: wallet frontend, refactor, style

#2580 fix(frontend): change dropdown placement calender no-flip true
  frontend/src/components/Contributions/ContributionForm.vue
Labels: bug, service: wallet frontend, style

#2581 fix(frontend): fix min value for hours input
  frontend/src/components/Contributions/ContributionForm.vue
Labels: bug, service: wallet frontend

#2582 refactor(frontend): forgot password unit tests
  frontend/src/pages/ForgotPassword.spec.js
Labels: service: wallet frontend, refactor, test

#2585 refactor(frontend): equalize en with fr languages.
  frontend/src/assets/News/news.json
  frontend/src/locales/fr.json
Labels: service: wallet frontend

#2586 fix(frontend): throw proper frontend warning errors
  frontend/test/testSetup.js
Labels: bug, service: wallet frontend

#2584 refactor(admin): add text-break on all table memo fields
  admin/src/components/CreationTransactionList.vue
  admin/src/components/Tables/OpenCreationsTable.spec.js
  admin/src/components/TransactionLinkList.vue
  admin/src/pages/CreationConfirm.vue
Labels: service: wallet frontend, refactor, style

#2583 refactor(frontend): change contribution memo add word-break
  .github/workflows/test.yml
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/components/Inputs/InputTextarea.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Community.vue
Labels: bug, service: wallet frontend, style

#2588 chore(release): v1.17.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: devops

#2579 refactor(admin): update yarn.lock file of admin.
  admin/yarn.lock
Labels: refactor, service: admin frontend

#2587 feat(frontend): unit tests community page
  .github/workflows/test.yml
  frontend/package.json
  frontend/src/pages/Community.spec.js
  frontend/src/pages/Community.vue
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: feature, service: wallet frontend, test

#2549 feat(admin): reuse overlay on open contributions page for all 3 main admin actions confirm/delete/reject
  admin/.eslintrc.js
  admin/src/components/Overlay.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
Labels: feature, refactor, service: admin frontend

#2635 fix(workflow): properly lint pr - prevent requirement to restart linting
  .github/workflows/lint_pr.yml
Labels: bug, devops

#2641 fix(backend): unit tests creations for 31st day
  backend/src/graphql/resolver/util/creations.test.ts
Labels: bug, service: backend, test
