Repository gradido/gradido, pull requests merged in 2023-05, with the labels that each got.

#2915 fix(backend): log stack trace included
  backend/log4js-config.json
Labels: bug

#2830 refactor(backend): eslint plugin promise + fixes
  backend/.eslintrc.js
  backend/src/apis/HttpRequest.ts
Labels: refactor, service: backend, service: federation, service: dht-node

#2962 refactor(other): finalize workflow separation and resolve mariadb and database dependencies in workflow files
  .github/file-filters.yml
  .github/workflows/test.yml
  .github/workflows/test_backend.yml
  .github/workflows/test_database.yml
  .github/workflows/test_dht_node.yml
  .github/workflows/test_federation.yml
  .github/workflows/test_mariadb.yml
  mariadb/Dockerfile
Labels: devops, test

#2909 docs(other): removed obsolete yarn cron docu
  deployment/bare_metal/setup.md
Labels: docu

#2920 refactor(backend): eslint disable @typescript eslint/unbound method
  backend/.eslintrc.js
  backend/src/emails/sendEmailTranslated.test.ts
  backend/src/federation/validateCommunities.test.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/server/LogError.test.ts
Labels: service: wallet frontend, refactor, service: backend, service: admin frontend, service: federation, service: dht-node

#2921 refactor(backend): eslint disable tests typesafer
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/federation/validateCommunities.test.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/EmailOptinCodes.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/semaphore.test.ts
  backend/src/graphql/resolver/util/creations.test.ts
Labels: service: wallet frontend, refactor, service: backend, service: admin frontend, service: federation, service: dht-node

#2922 refactor(backend): eslint disable more typesafety
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/index.ts
  backend/src/seeds/factory/creation.ts
  backend/src/seeds/index.ts
  backend/src/server/context.ts
  backend/src/server/plugins.ts
  backend/test/helpers.ts
  backend/test/testSetup.ts
Labels: service: wallet frontend, refactor, service: backend, service: admin frontend, service: federation, service: dht-node

#2886 feat(backend): add event for subscribe and unsubscribe
  backend/src/apis/KlicktippController.ts
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/event/EVENT_NEWSLETTER_SUBSCRIBE.ts
  backend/src/event/EVENT_NEWSLETTER_UNSUBSCRIBE.ts
  backend/src/event/EventType.ts
  backend/src/event/Events.ts
  backend/src/graphql/resolver/KlicktippResolver.test.ts
  backend/src/graphql/resolver/KlicktippResolver.ts
  backend/src/middleware/klicktippMiddleware.ts
  backend/src/seeds/graphql/mutations.ts
Labels: feature, service: backend

#2887 feat(backend): add fields to subscriber
  backend/src/apis/KlicktippController.ts
Labels: feature, service: backend

#2969 feat(federation): federation autoreload on codechange
  federation/Dockerfile
Labels: devops, service: federation

#2974 fix(frontend): update jest-canvas-mock version to resolve window mock problem in tests
  frontend/package.json
  frontend/yarn.lock
Labels: service: wallet frontend, test

#2952 refactor(frontend): remove email in wallet
  frontend/src/components/LanguageSwitch.spec.js
  frontend/src/components/LanguageSwitch.vue
  frontend/src/components/LanguageSwitch2.spec.js
  frontend/src/components/LanguageSwitch2.vue
  frontend/src/components/Menu/Navbar.spec.js
  frontend/src/components/TransactionRows/AmountAndNameRow.spec.js
  frontend/src/components/TransactionRows/AmountAndNameRow.vue
  frontend/src/components/UserSettings/UserNewsletter.spec.js
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/layouts/DashboardLayout.spec.js
  frontend/src/pages/TransactionLink.spec.js
  frontend/src/pages/TransactionLink.vue
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: service: wallet frontend, refactor

#2953 refactor(backend): no email in user
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
  e2e-tests/cypress.config.ts
Labels: refactor, service: backend

#2977 refactor(other): delete build folders
  admin/.eslintignore
  admin/.gitignore
  admin/Dockerfile
  admin/package.json
  admin/run/server.js
  admin/vue.config.js
  deployment/bare_metal/nginx/sites-available/gradido.conf.ssl.template
  deployment/bare_metal/nginx/sites-available/gradido.conf.template
  deployment/bare_metal/old/build_frontend.sh
  deployment/bare_metal/start.sh
  frontend/.eslintignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/package.json
  frontend/run/server.js
  frontend/vue.config.js
  nginx/gradido.conf
Labels: refactor

#2972 fix(frontend): between store problems
  admin/src/store/store.js
  e2e-tests/cypress/support/e2e.ts
  frontend/src/store/store.js
Labels: bug, service: wallet frontend, service: admin frontend

#2979 refactor(backend): eslint typescript strict
  backend/.eslintrc.js
  backend/src/auth/JWT.ts
  backend/src/config/index.ts
  backend/src/federation/client/GraphQLGetClient.ts
  backend/src/federation/validateCommunities.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/model/Balance.ts
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/findContributions.ts
  backend/src/graphql/resolver/util/transactionLinkList.ts
  backend/src/index.ts
  backend/src/seeds/index.ts
  backend/src/server/createServer.ts
  backend/src/server/plugins.ts
  backend/src/typeorm/DBVersion.ts
  backend/src/util/klicktipp.ts
  backend/src/util/utilities.ts
  backend/src/webhook/elopage.ts
  backend/test/helpers.ts
Labels: refactor, service: backend

#2973 refactor(backend): rename klicktippSignIn to subscribe.
  backend/jest.config.js
  backend/src/apis/KlicktippController.ts
  backend/src/graphql/resolver/KlicktippResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/middleware/klicktippMiddleware.ts
Labels: refactor, service: backend

#2980 refactor(backend): eslint security
  backend/.eslintrc.js
  backend/package.json
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/util/creations.ts
  backend/src/seeds/index.ts
  backend/src/server/logger.ts
  backend/src/util/utilities.ts
  backend/src/webhook/elopage.ts
  backend/yarn.lock
Labels: refactor, service: backend

#2981 refactor(backend): eslint comments
  backend/.eslintignore
  backend/.eslintrc.js
  backend/package.json
  backend/src/apis/HttpRequest.ts
  backend/yarn.lock
Labels: refactor

#2727 feat(backend): alias in update user info
  backend/src/graphql/arg/UpdateUserInfosArgs.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/validateAlias.test.ts
  backend/src/graphql/resolver/util/validateAlias.ts
  backend/src/seeds/graphql/mutations.ts
Labels: feature, service: backend

#2965 refactor(federation): refactor federation clients
  backend/src/federation/client/1_0/FederationClient.ts
  backend/src/federation/client/1_1/FederationClient.ts
  backend/src/federation/client/Client.ts
  backend/src/federation/client/Client_1_0.ts
  backend/src/federation/client/Client_1_1.ts
  backend/src/federation/client/GraphQLGetClient.ts
  backend/src/federation/query/getPublicKey.ts
  backend/src/federation/validateCommunities.ts
  federation/src/server/plugins.ts
Labels: refactor, service: backend, service: federation

#2967 refactor(federation): federation reduce spam
  backend/src/federation/client/Client_1_0.ts
  backend/src/federation/validateCommunities.test.ts
  backend/src/federation/validateCommunities.ts
Labels: refactor, service: backend, service: federation

#2983 fix(frontend): date fns locales
  admin/src/components/Fedaration/FederationVisualizeItem.vue
  frontend/src/components/TransactionRows/DurationRow.vue
Labels: bug, service: wallet frontend, service: admin frontend

#2986 feat(frontend): add community to send form
  frontend/src/components/GddSend/TransactionConfirmationSend.vue
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: wallet frontend

#2984 feat(frontend): username in wallet
  backend/src/auth/INALIENABLE_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/graphql/queries.ts
  frontend/src/components/Inputs/InputPasswordConfirmation.vue
  frontend/src/components/Inputs/InputUsername.vue
  frontend/src/components/UserSettings/UserName.spec.js
  frontend/src/components/UserSettings/UserName.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/pages/Settings.vue
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/src/validation-rules.js
  frontend/test/testSetup.js
Labels: feature, service: wallet frontend

#2988 feat(backend): send coins via alias
  backend/jest.config.js
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/util/findUserByIdentifier.ts
  backend/src/graphql/resolver/util/validateAlias.ts
Labels: feature, service: backend

#2996 fix(backend): add extension pug json and css to nodemon.
  backend/package.json
Labels: refactor, service: backend

#2916 feat(backend): export user events to klicktipp
  backend/package.json
  backend/src/apis/KlicktippController.ts
  backend/src/graphql/resolver/util/eventList.ts
  backend/src/server/createServer.ts
  backend/src/typeorm/connection.ts
  backend/src/util/executeKlicktipp.ts
  backend/src/util/klicktipp.test.ts
  backend/src/util/klicktipp.ts
Labels: devops, service: backend

#2989 feat(frontend): send coins via identifier
  frontend/package.json
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/Inputs/InputIdentifier.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Send.spec.js
  frontend/src/validation-rules.js
  frontend/yarn.lock
Labels: feature, service: wallet frontend

#2994 feat(frontend): preserve email after login
  frontend/src/components/Menu/Navbar.vue
  frontend/src/pages/Login.spec.js
  frontend/src/pages/Login.vue
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: feature, service: wallet frontend

#2998 chore(release): v1.21.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  dht-node/package.json
  federation/package.json
  frontend/package.json
  package.json
Labels: release

#3000 refactor(backend): remove to do after creating issue
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: refactor, service: backend

#2955 feat(federation): x com 3 introduce business communities
  backend/src/federation/client/1_0/FederationClient.ts
  backend/src/federation/client/1_0/query/getPublicKey.ts
  backend/src/federation/client/1_1/FederationClient.ts
  backend/src/federation/client/FederationClientFactory.ts
  backend/src/federation/client/FederationClient_1_1.ts
  backend/src/federation/validateCommunities.test.ts
  backend/src/federation/validateCommunities.ts
  deployment/bare_metal/.env.dist
  dht-node/.env.template
  dht-node/jest.config.js
  dht-node/package.json
  dht-node/src/config/index.ts
  dht-node/src/dht_node/index.test.ts
  dht-node/src/dht_node/index.ts
  dht-node/src/index.ts
  dht-node/test/helpers.ts
  dht-node/yarn.lock
Labels: feature, service: backend, service: dht-node

#3025 refactor(database): remove duplicate comments
  database/migrations/0066-x-community-sendcoins-transactions_table.ts
Labels: refactor, service: database

#3020 refactor(federation): simplify newCommunityUuid
  dht-node/src/dht_node/index.ts
Labels: refactor, service: dht-node

#3021 refactor(federation): remove export from CommunityApi
  dht-node/src/dht_node/index.ts
Labels: refactor, service: dht-node

#2958 fix(frontend): incorrect errormessage for wrong contribution link
  frontend/src/components/LinkInformations/RedeemInformation.vue
  frontend/src/components/LinkInformations/RedeemValid.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/TransactionLink.spec.js
  frontend/src/pages/TransactionLink.vue
Labels: bug, service: wallet frontend, refactor
