Repository gradido/gradido, pull requests merged in 2023-12, with the labels that each got.

#3255 feat(admin): wiedervorlage v2
  admin/jest.config.js
  admin/src/components/ContributionMessages/ContributionMessagesFormular.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/graphql/adminListContributions.js
  admin/src/graphql/adminUpdateContribution.js
  admin/src/graphql/getContribution.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  backend/src/config/index.ts
  backend/src/data/ContributionMessage.builder.ts
  backend/src/graphql/arg/AdminUpdateContributionArgs.ts
  backend/src/graphql/model/Contribution.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/findContributions.ts
  backend/src/interactions/updateUnconfirmedContribution/AbstractUnconfirmedContribution.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UnconfirmedContributionAdmin.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UnconfirmedContributionAdminAddMessage.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UnconfirmedContributionUser.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UnconfirmedContributionUserAddMessage.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UpdateUnconfirmedContribution.context.ts
  backend/src/seeds/graphql/mutations.ts
  database/entity/0078-move_resubmission_date/Contribution.ts
  database/entity/0078-move_resubmission_date/ContributionMessage.ts
  database/entity/Contribution.ts
  database/entity/ContributionMessage.ts
  database/migrations/0078-move_resubmission_date.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: feature, service: backend, service: database, service: admin frontend

#3257 chore(release): v2.1.1
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  dht-node/package.json
  dlt-connector/package.json
  federation/package.json
  frontend/package.json
  package.json
Labels: release

#3245 chore(other): change filename date-pattern and stop all modules with db-write-access
  deployment/bare_metal/backup.sh
Labels: devops

#3259 fix(frontend): update moderatorChangedMemo
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/locales/tr.json
Labels: bug, service: admin frontend
