Repository gradido/gradido, pull requests merged in 2023-04, with the labels that each got.

#2889 feat(frontend): add link to download QR-Code
  frontend/src/components/QrCode/FigureQrCode.spec.js
  frontend/src/components/QrCode/FigureQrCode.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/fr.json
Labels: feature, service: wallet frontend

#2828 refactor(backend): eslint plugin n + fixes
  backend/.eslintrc.js
  backend/jest.config.js
  backend/package.json
  backend/src/config/index.ts
  backend/src/index.ts
  backend/src/middleware/klicktippMiddleware.ts
  backend/src/server/plugins.ts
  backend/yarn.lock
Labels: refactor, service: backend

#2808 refactor(database): cleanup database
  backend/test/helpers.ts
  database/.env.dist
  database/.env.template
  database/ormconfig.js
  database/src/helpers.ts
  database/src/index.ts
  database/src/interface/TransactionContext.ts
  database/src/interface/UserContext.ts
  database/src/interface/UserInterface.ts
  database/src/prepare.ts
  database/src/typeorm/connection.ts
  dht-node/test/helpers.ts
Labels: refactor, service: database

#2829 refactor(backend): eslint update packages
  backend/package.json
  backend/src/apis/HttpRequest.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/StatisticsResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/semaphore.test.ts
  backend/src/graphql/resolver/util/creations.test.ts
  backend/src/graphql/resolver/util/creations.ts
  backend/src/graphql/scalar/Decimal.ts
  backend/src/middleware/klicktippMiddleware.ts
  backend/src/password/EncryptorUtils.ts
  backend/src/server/LogError.ts
  backend/src/server/logger.ts
  backend/src/typeorm/repository/TransactionLink.ts
  backend/src/webhook/elopage.ts
  backend/test/extensions.ts
  backend/test/helpers.ts
  backend/yarn.lock
Labels: refactor, service: backend

#2914 feat(backend): previous balance in transaction
  backend/src/graphql/model/Transaction.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/typeorm/repository/Transaction.ts
  backend/src/util/virtualTransactions.ts
  database/entity/0036-unique_previous_in_transactions/Transaction.ts
  frontend/src/components/DecayInformations/DecayInformation-Decay.vue
  frontend/src/components/DecayInformations/DecayInformation-Long.vue
  frontend/src/components/DecayInformations/DecayInformation.vue
  frontend/src/components/GddTransactionList.spec.js
  frontend/src/components/GddTransactionList.vue
  frontend/src/components/TransactionRows/DurationRow.vue
  frontend/src/components/Transactions/TransactionCreation.spec.js
  frontend/src/components/Transactions/TransactionCreation.vue
  frontend/src/components/Transactions/TransactionDecay.vue
  frontend/src/components/Transactions/TransactionReceive.spec.js
  frontend/src/components/Transactions/TransactionReceive.vue
  frontend/src/components/Transactions/TransactionSend.spec.js
  frontend/src/components/Transactions/TransactionSend.vue
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: wallet frontend, service: backend

#2907 refactor(frontend): transaction info, right-justified, so that the commas
  frontend/src/components/DecayInformations/DecayInformation-Long.vue
  frontend/src/components/TransactionRows/DurationRow.vue
Labels: service: wallet frontend, refactor, style

#2905 refactor(backend): eslint import-no-cycle enabled
  backend/.eslintrc.js
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_CONFIRM.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_CREATE.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_DELETE.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_DENY.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_LINK_CREATE.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_LINK_DELETE.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_LINK_UPDATE.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_MESSAGE_CREATE.ts
  backend/src/event/EVENT_ADMIN_CONTRIBUTION_UPDATE.ts
  backend/src/event/EVENT_ADMIN_USER_DELETE.ts
  backend/src/event/EVENT_ADMIN_USER_ROLE_SET.ts
  backend/src/event/EVENT_ADMIN_USER_UNDELETE.ts
  backend/src/event/EVENT_CONTRIBUTION_CREATE.ts
  backend/src/event/EVENT_CONTRIBUTION_DELETE.ts
  backend/src/event/EVENT_CONTRIBUTION_LINK_REDEEM.ts
  backend/src/event/EVENT_CONTRIBUTION_MESSAGE_CREATE.ts
  backend/src/event/EVENT_CONTRIBUTION_UPDATE.ts
  backend/src/event/EVENT_EMAIL_ACCOUNT_MULTIREGISTRATION.ts
  backend/src/event/EVENT_EMAIL_ADMIN_CONFIRMATION.ts
  backend/src/event/EVENT_EMAIL_CONFIRMATION.ts
  backend/src/event/EVENT_EMAIL_FORGOT_PASSWORD.ts
  backend/src/event/EVENT_TRANSACTION_LINK_CREATE.ts
  backend/src/event/EVENT_TRANSACTION_LINK_DELETE.ts
  backend/src/event/EVENT_TRANSACTION_LINK_REDEEM.ts
  backend/src/event/EVENT_TRANSACTION_RECEIVE.ts
  backend/src/event/EVENT_TRANSACTION_SEND.ts
  backend/src/event/EVENT_USER_ACTIVATE_ACCOUNT.ts
  backend/src/event/EVENT_USER_INFO_UPDATE.ts
  backend/src/event/EVENT_USER_LOGIN.ts
  backend/src/event/EVENT_USER_LOGOUT.ts
  backend/src/event/EVENT_USER_REGISTER.ts
  backend/src/event/Event.ts
  backend/src/event/Events.ts
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionLinkResolver.ts
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: refactor, service: backend, test

#2919 fix(backend): vscode intellisense fixes
  backend/.eslintrc.js
  backend/package.json
  backend/yarn.lock
Labels: bug, feature, service: backend

#2924 fix(frontend): reset button send coins
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/TransactionRows/Name.spec.js
  frontend/src/components/TransactionRows/Name.vue
Labels: bug, service: wallet frontend

#2925 fix(frontend): moderator id missing
  frontend/src/pages/Community.spec.js
Labels: bug, service: wallet frontend, test

#2928 fix(frontend): community tab navigation
  frontend/src/pages/Community.vue
Labels: bug, service: wallet frontend

#2927 fix(frontend): displayed decay duration
  frontend/package.json
  frontend/src/components/TransactionRows/DurationRow.vue
  frontend/src/i18n.js
  frontend/src/plugins/dashboard-plugin.js
  frontend/test/testSetup.js
  frontend/yarn.lock
Labels: bug, service: wallet frontend

#2902 fix(admin): pagination set currentPage by switch tabs
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
Labels: bug, service: admin frontend

#2933 fix(frontend): no receiver on send by link
  frontend/src/components/GddSend/TransactionForm.vue
Labels: bug, service: wallet frontend

#2918 fix(backend): no await for emails
  backend/src/config/index.ts
  backend/src/emails/sendEmailTranslated.test.ts
  backend/src/emails/sendEmailTranslated.ts
  backend/src/emails/sendEmailVariants.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: bug, refactor, service: backend
