Repository gradido/gradido, pull requests merged in 2023-11, with the labels that each got.

#3230 fix(frontend): fix to less moderator/admins on information page
  backend/src/graphql/arg/Paginated.ts
  backend/src/graphql/resolver/util/findContributions.ts
Labels: bug, service: admin frontend

#3232 fix(backend): new local user without communitiyuuid
  backend/src/config/index.ts
  backend/src/graphql/resolver/EmailOptinCodes.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/community/index.ts
  backend/src/seeds/factory/user.ts
  database/migrations/0074-insert_communityuuid in_existing_users.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: bug, service: backend

#3224 feat(frontend): swap support urls with mailto: links
  backend/src/emails/__snapshots__/sendEmailVariants.test.ts.snap
  backend/src/emails/templates/includes/footer.pug
  frontend/src/components/ContentFooter.spec.js
  frontend/src/components/ContentFooter.vue
Labels: feature

#3242 feat(workflow): fix backend and database build error on windows
  backend/package.json
  backend/yarn.lock
  database/package.json
  database/yarn.lock
Labels: feature, service: backend, service: database

#3246 refactor(database): add index to contribution_message
  backend/src/config/index.ts
  database/entity/0075-contribution_message_add_index/ContributionMessage.ts
  database/entity/ContributionMessage.ts
  database/migrations/0075-contribution_message_add_index.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: refactor, service: database

#3233 feat(backend): grant moderator right to edit contribution memo
  admin/scripts/sort.sh
  admin/src/components/ContributionMessages/ContributionMessagesFormular.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  admin/src/components/ContributionMessages/ContributionMessagesList.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.vue
  admin/src/components/CreationTransactionList.spec.js
  admin/src/components/Tables/OpenCreationsTable.spec.js
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/graphql/adminListContributions.js
  admin/src/graphql/adminUpdateContribution.js
  admin/src/graphql/getContribution.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  backend/scripts/sort.sh
  backend/src/auth/MODERATOR_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/config/index.ts
  backend/src/data/Contribution.logic.ts
  backend/src/data/ContributionMessage.builder.ts
  backend/src/data/UserLogic.ts
  backend/src/emails/__snapshots__/sendEmailVariants.test.ts.snap
  backend/src/emails/sendEmailTranslated.test.ts
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/emails/sendEmailVariants.ts
  backend/src/emails/templates/contributionChangedByModerator/html.pug
  backend/src/emails/templates/contributionChangedByModerator/subject.pug
  backend/src/graphql/arg/AdminUpdateContributionArgs.ts
  backend/src/graphql/model/Contribution.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/util/contributions.ts
  backend/src/interactions/updateUnconfirmedContribution/AbstractUnconfirmedContribution.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UnconfirmedContributionAdmin.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UnconfirmedContributionUser.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UpdateUnconfirmedContribution.context.ts
  backend/src/locales/de.json
  backend/src/locales/en.json
  backend/src/util/time.ts
  backend/src/util/utilities.ts
  database/entity/0076-add_updated_by_contribution/Contribution.ts
  database/entity/Contribution.ts
  database/migrations/0076-add_updated_by_contribution.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
  frontend/scripts/sort.sh
  frontend/src/components/Contributions/ContributionForm.vue
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/locales/tr.json
  frontend/src/pages/Community.vue
Labels: feature, service: backend

#3252 feat(admin): resubmission
  admin/src/components/ContributionMessages/ContributionMessagesFormular.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  admin/src/components/ContributionMessages/ContributionMessagesList.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/components/Tables/OpenCreationsTable.spec.js
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/components/input/TimePicker.spec.js
  admin/src/components/input/TimePicker.vue
  admin/src/graphql/adminCreateContributionMessage.js
  admin/src/graphql/adminListContributions.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  backend/src/config/index.ts
  backend/src/data/ContributionMessage.builder.ts
  backend/src/graphql/arg/ContributionMessageArgs.ts
  backend/src/graphql/arg/SearchContributionsFilterArgs.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/util/findContributions.ts
  database/entity/0077-add_resubmission_date_contribution_message/ContributionMessage.ts
  database/entity/ContributionMessage.ts
  database/migrations/0077-add_resubmission_date_contribution_message.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
  frontend/src/components/ContributionMessages/ContributionMessagesListItem.vue
Labels: feature, service: backend, service: database, service: admin frontend
