Repository gradido/gradido, pull requests merged in 2023-02, with the labels that each got.

#2636 refactor(backend): refine assembly of error message in user resolver
  backend/src/graphql/resolver/EmailOptinCodes.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: refactor, service: backend

#2510 feat(backend): federation: separated dht-hub features in new dht-node modul
  .github/workflows/test_dht-node.yml
  dht-node/.env.dist
  dht-node/.env.template
  dht-node/.eslintignore
  dht-node/.eslintrc.js
  dht-node/.gitignore
  dht-node/.prettierrc.js
  dht-node/Dockerfile
  dht-node/jest.config.js
  dht-node/log4js-config.json
  dht-node/package.json
  dht-node/src/config/index.ts
  dht-node/src/dht_node/@types/@hyperswarm__dht/index.d.ts
  dht-node/src/dht_node/index.test.ts
  dht-node/src/dht_node/index.ts
  dht-node/src/index.ts
  dht-node/src/server/logger.ts
  dht-node/src/typeorm/DBVersion.ts
  dht-node/src/typeorm/connection.ts
  dht-node/test/helpers.test.ts
  dht-node/test/helpers.ts
  dht-node/test/testSetup.ts
  dht-node/tsconfig.json
  dht-node/yarn.lock
  docker-compose.override.yml
  docker-compose.yml
Labels: feature, service: backend

#2642 refactor(frontend): text changed as indicated in the issues
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: service: wallet frontend, refactor

#2637 refactor(frontend): better text alignment on send via link
  frontend/src/components/GddSend/TransactionForm.vue
Labels: service: wallet frontend, refactor

#2626 refactor(frontend): there is no message when a month is fully created
  frontend/src/components/Contributions/ContributionForm.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Community.vue
Labels: feature, service: wallet frontend

#2619 feat(backend): add filterState parameter to listAllContributions query
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/seeds/graphql/queries.ts
Labels: feature, service: backend

#2640 refactor(backend): log error class
  backend/src/graphql/resolver/EmailOptinCodes.test.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/server/LogError.test.ts
  backend/src/server/LogError.ts
Labels: refactor, service: backend

#2656 refactor(backend): use LogError on sendEMailTranslated
  backend/src/emails/sendEmailTranslated.ts
Labels: refactor, service: backend

#2649 refactor(frontend): sidebar becomes smaller when critical phase
  frontend/src/components/Menu/Sidebar.vue
Labels: service: wallet frontend, refactor, style

#2652 refactor(backend): event protocol
  backend/src/event/Event.ts
  backend/src/event/EventProtocolEmitter.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  database/entity/0050-add_messageId_to_event_protocol/EventProtocol.ts
Labels: refactor, service: backend

#2670 refactor(backend): remove event protocol config switch
  backend/.env.dist
  backend/.env.template
  backend/src/config/index.ts
  backend/src/event/EventProtocolEmitter.ts
  deployment/bare_metal/.env.dist
  dht-node/.env.dist
  dht-node/.env.template
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: refactor, service: backend, service: federation, service: dht-node

#2662 refactor(backend): use LogError on contributionLinkResolver
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionLinkResolver.ts
Labels: refactor, service: backend, test

#2667 refactor(other): don't rebuild modul if unit test file has been changed
  admin/package.json
  backend/package.json
  frontend/package.json
Labels: refactor

#2668 refactor(backend): get last transaction by only one function
  backend/src/graphql/resolver/BalanceResolver.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/util/getLastTransaction.ts
  backend/src/util/validate.ts
Labels: refactor, service: backend

#2663 refactor(backend): use LogError on contributionMessageResolver
  backend/src/graphql/resolver/ContributionMessageResolver.test.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
Labels: refactor, service: backend, test

#2686 refactor(other): remove config version from `.env.dist`
  admin/.env.dist
  backend/.env.dist
  database/.env.dist
  dht-node/.env.dist
  frontend/.env.dist
Labels: bug

#2688 fix(backend): emails for deny and delete contribution
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/emails/sendEmailVariants.ts
  backend/src/emails/templates/contributionDeleted/html.pug
  backend/src/emails/templates/contributionDeleted/subject.pug
  backend/src/event/Event.ts
  backend/src/event/EventProtocolType.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/locales/de.json
  backend/src/locales/en.json
Labels: bug, service: backend

#2681 refactor(frontend): toast by automatically logged out
  frontend/src/components/Contributions/ContributionList.spec.js
  frontend/src/components/SessionLogoutTimeout.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/mixins/toaster.js
  frontend/src/pages/Community.spec.js
Labels: service: wallet frontend, refactor

#2690 feat(release): version 1.18.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: release

#2699 fix(admin): deny contribution button to left
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
Labels: bug

#2700 chore(release): version 1.18.2
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  frontend/package.json
  package.json
Labels: devops

#2669 refactor(backend): use LogError on contributionResolver
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
Labels: refactor, service: backend, test

#2695 refactor(other): add linting rules like in backend modul
  .github/workflows/test.yml
  e2e-tests/.eslintignore
  e2e-tests/.eslintrc.js
  e2e-tests/.gitignore
  e2e-tests/.prettierrc.js
  e2e-tests/Dockerfile
  e2e-tests/README.md
  e2e-tests/cucumber-messages.ndjson
  e2e-tests/cypress.config.ts
  e2e-tests/cypress/.gitignore
  e2e-tests/cypress/README.md
  e2e-tests/cypress/e2e/User.Authentication.ResetPassword.feature
  e2e-tests/cypress/e2e/User.Authentication.feature
  e2e-tests/cypress/e2e/User.Registration.feature
  e2e-tests/cypress/e2e/UserProfile.ChangePassword.feature
  e2e-tests/cypress/e2e/models/ForgotPasswordPage.ts
  e2e-tests/cypress/e2e/models/LoginPage.ts
  e2e-tests/cypress/e2e/models/OverviewPage.ts
  e2e-tests/cypress/e2e/models/ProfilePage.ts
  e2e-tests/cypress/e2e/models/RegistrationPage.ts
  e2e-tests/cypress/e2e/models/ResetPasswordPage.ts
  e2e-tests/cypress/e2e/models/SideNavMenu.ts
  e2e-tests/cypress/e2e/models/Toasts.ts
  e2e-tests/cypress/e2e/models/UserEMailSite.ts
  e2e-tests/cypress/fixtures/users.json
  e2e-tests/cypress/support/e2e.ts
  e2e-tests/cypress/support/index.ts
  e2e-tests/cypress/support/step_definitions/common_steps.ts
  e2e-tests/cypress/support/step_definitions/email_steps.ts
  e2e-tests/cypress/support/step_definitions/user_authentication_steps.ts
  e2e-tests/cypress/support/step_definitions/user_profile_change_password_steps.ts
  e2e-tests/cypress/support/step_definitions/user_registration_steps.ts
  e2e-tests/cypress/tests/.eslintrc.js
  e2e-tests/cypress/tests/cypress.config.ts
  e2e-tests/cypress/tests/cypress/e2e/models/ForgotPasswordPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/LoginPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/OverviewPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/ProfilePage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/RegistrationPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/ResetPasswordPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/SideNavMenu.ts
  e2e-tests/cypress/tests/cypress/e2e/models/Toasts.ts
  e2e-tests/cypress/tests/cypress/e2e/models/UserEMailSite.ts
  e2e-tests/cypress/tests/cypress/support/e2e.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/common_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/email_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_authentication_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_profile_change_password_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_registration_steps.ts
  e2e-tests/cypress/tests/tsconfig.json
  e2e-tests/package.json
  e2e-tests/tsconfig.json
  e2e-tests/yarn.lock
Labels: refactor, service: e2e

#2693 feat(other): add locales check to backend and integrate it to test workflow
  .github/workflows/test.yml
  backend/package.json
  backend/scripts/sort.sh
  backend/scripts/sort_filter.jq
  backend/src/locales/de.json
  backend/src/locales/en.json
Labels: feature, good first issue, devops, test

#2661 refactor(admin): remove overview and multi creation menu entry
  admin/src/components/ContributionLink/ContributionLink.spec.js
  admin/src/components/CreationTransactionList.spec.js
  admin/src/components/NavBar.spec.js
  admin/src/components/NavBar.vue
  admin/src/components/Tables/SelectUsersTable.vue
  admin/src/components/Tables/SelectedUsersTable.vue
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/locales/index.test.js
  admin/src/pages/ContributionLinks.spec.js
  admin/src/pages/Creation.spec.js
  admin/src/pages/Creation.vue
  admin/src/router/router.test.js
  admin/src/router/routes.js
Labels: refactor, service: admin frontend

#2660 refactor(frontend): missing message on old transactions
  frontend/src/components/DecayInformations/DecayInformation-BeforeStartblock.vue
  frontend/src/components/DecayInformations/DecayInformation.vue
Labels: bug, service: wallet frontend, refactor

#2647 fix(frontend): simple disabled function on submit send
  frontend/src/components/GddSend/TransactionForm.vue
Labels: bug, service: wallet frontend

#2691 refactor(backend): event protocol rework
  .github/workflows/test.yml
  backend/src/event/Event.ts
  backend/src/event/EventProtocolEmitter.ts
  backend/src/event/EventProtocolType.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/seeds/graphql/mutations.ts
Labels: refactor, service: backend

#2676 refactor(backend): use LogError on TransactionResolver
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
Labels: refactor, service: backend, test

#2643 refactor(frontend): style refactor mobil auth area
  frontend/src/components/LinkInformations/RedeemLoggedOut.vue
  frontend/src/components/LinkInformations/RedeemValid.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Register.vue
  frontend/src/pages/TransactionLink.vue
Labels: service: wallet frontend, refactor, style

#2511 feat(federation): implement a graphql client to request getpublickey
  backend/.env.dist
  backend/.env.template
  backend/package.json
  backend/src/config/index.ts
  backend/src/federation/client/1_0/FederationClient.ts
  backend/src/federation/client/1_1/FederationClient.ts
  backend/src/federation/client/GraphQLGetClient.ts
  backend/src/federation/enum/apiVersionType.ts
  backend/src/federation/validateCommunities.test.ts
  backend/src/federation/validateCommunities.ts
  backend/src/index.ts
  backend/yarn.lock
  database/entity/0060-update_communities_table/Community.ts
  database/entity/Community.ts
  database/migrations/0060-update_communities_table.ts
  dht-node/.env.dist
  dht-node/.env.template
  dht-node/src/config/index.ts
  dht-node/src/dht_node/index.test.ts
  dht-node/src/dht_node/index.ts
  federation/src/config/index.ts
Labels: feature, service: backend

#2623 refactor(admin): add tabs for all statusus on contributions
  .github/workflows/test.yml
  admin/src/components/ContributionLink/ContributionLink.spec.js
  admin/src/components/ContributionLink/ContributionLink.vue
  admin/src/components/ContributionLink/ContributionLinkList.vue
  admin/src/components/NavBar.spec.js
  admin/src/components/NavBar.vue
  admin/src/components/Overlay.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/graphql/listAllContributions.js
  admin/src/graphql/listUnconfirmedContributions.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/ContributionLinks.spec.js
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  backend/src/graphql/resolver/ContributionResolver.ts
Labels: feature, service: admin frontend, style

#2644 feat(other): e2e test user authentication reset password
  .github/workflows/test.yml
  backend/.env.test_e2e
  e2e-tests/.eslintignore
  e2e-tests/.eslintrc.js
  e2e-tests/.gitignore
  e2e-tests/.prettierrc.js
  e2e-tests/Dockerfile
  e2e-tests/README.md
  e2e-tests/cypress.config.ts
  e2e-tests/cypress/.gitignore
  e2e-tests/cypress/README.md
  e2e-tests/cypress/e2e/User.Authentication.ResetPassword.feature
  e2e-tests/cypress/e2e/User.Authentication.feature
  e2e-tests/cypress/e2e/User.Registration.feature
  e2e-tests/cypress/e2e/UserProfile.ChangePassword.feature
  e2e-tests/cypress/e2e/models/ForgotPasswordPage.ts
  e2e-tests/cypress/e2e/models/LoginPage.ts
  e2e-tests/cypress/e2e/models/OverviewPage.ts
  e2e-tests/cypress/e2e/models/ProfilePage.ts
  e2e-tests/cypress/e2e/models/RegistrationPage.ts
  e2e-tests/cypress/e2e/models/ResetPasswordPage.ts
  e2e-tests/cypress/e2e/models/SideNavMenu.ts
  e2e-tests/cypress/e2e/models/Toasts.ts
  e2e-tests/cypress/e2e/models/UserEMailSite.ts
  e2e-tests/cypress/fixtures/users.json
  e2e-tests/cypress/support/e2e.ts
  e2e-tests/cypress/support/index.ts
  e2e-tests/cypress/support/step_definitions/common_steps.ts
  e2e-tests/cypress/support/step_definitions/email_steps.ts
  e2e-tests/cypress/support/step_definitions/user_authentication_steps.ts
  e2e-tests/cypress/support/step_definitions/user_profile_change_password_steps.ts
  e2e-tests/cypress/support/step_definitions/user_registration_steps.ts
  e2e-tests/cypress/tests/.eslintrc.js
  e2e-tests/cypress/tests/cypress.config.ts
  e2e-tests/cypress/tests/cypress/e2e/models/LoginPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/OverviewPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/ProfilePage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/RegistrationPage.ts
  e2e-tests/cypress/tests/cypress/e2e/models/SideNavMenu.ts
  e2e-tests/cypress/tests/cypress/e2e/models/Toasts.ts
  e2e-tests/cypress/tests/cypress/support/e2e.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/common_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_authentication_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_profile_change_password_steps.ts
  e2e-tests/cypress/tests/cypress/support/step_definitions/user_registration_steps.ts
  e2e-tests/cypress/tests/tsconfig.json
  e2e-tests/package.json
  e2e-tests/tsconfig.json
  e2e-tests/yarn.lock
  frontend/src/pages/ForgotPassword.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/ResetPassword.vue
Labels: test

#2680 feat(federation): add docker and github-workflow files
  .github/workflows/test_federation.yml
  docker-compose.override.yml
  docker-compose.test.yml
  docker-compose.yml
  federation/Dockerfile
  federation/jest.config.js
  federation/package.json
  federation/src/config/index.ts
  federation/src/graphql/api/1_0/resolver/Test2Resolver.ts
  federation/src/graphql/api/1_0/resolver/TestResolver.test.ts
  federation/src/graphql/api/1_0/resolver/TestResolver.ts
  federation/src/graphql/api/1_1/resolver/TestResolver.test.ts
  federation/src/graphql/api/1_1/resolver/TestResolver.ts
  federation/src/graphql/api/2_0/resolver/TestResolver.test.ts
  federation/src/graphql/api/2_0/resolver/TestResolver.ts
  federation/src/graphql/api/GetTestApiResult.ts
  federation/test/testSetup.ts
  federation/tsconfig.json
  federation/yarn.lock
Labels: service: docker, service: federation

#2665 feat(federation): harmonize and sync modules and data of federation
  dht-node/src/dht_node/index.ts
Labels: service: backend, service: federation, service: dht-node

#2646 refactor(frontend): logo inserted with better quality.
  frontend/public/img/brand/gradido-logo.png
  frontend/src/components/Auth/AuthNavbar.vue
  frontend/src/components/Menu/Navbar.vue
  frontend/src/pages/TransactionLink.vue
Labels: service: wallet frontend, refactor, style

#2639 refactor(backend): unit test for the method denyContribution
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/seeds/factory/creation.ts
  backend/src/seeds/graphql/mutations.ts
  backend/src/seeds/graphql/queries.ts
Labels: refactor

#2719 refactor(other): decrease docker build dependencies in test workflow
  .github/workflows/test.yml
Labels: feature, devops, test

#2677 refactor(backend): use LogError on creations
  backend/src/graphql/resolver/ContributionLinkResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/util/creations.ts
Labels: refactor, service: backend, test

#2678 refactor(backend): use LogError on encryptorUtils
  backend/src/password/EncryptorUtils.ts
Labels: refactor, service: backend, test

#2679 refactor(backend): use LogError on errors
  backend/src/auth/JWT.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/resolver/ContributionMessageResolver.ts
  backend/src/graphql/resolver/GdtResolver.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/util/creations.ts
  backend/src/server/context.ts
  backend/src/util/decay.ts
  backend/src/util/klicktipp.ts
Labels: refactor, service: backend, test

#2705 test(backend): authentication tests for TransactionLinkResolver
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
Labels: refactor, test

#2721 refactor(frontend): community routes
  frontend/src/components/Template/ContentHeader/NavCommunity.vue
  frontend/src/components/Template/RightSide/ContributionInfo.vue
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/layouts/templates/CommunityTemplate.spec.js
  frontend/src/layouts/templates/CommunityTemplate.vue
  frontend/src/layouts/templates/ContentHeader.vue
  frontend/src/layouts/templates/RightSide.vue
  frontend/src/pages/Community.spec.js
  frontend/src/pages/Community.vue
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
Labels: service: wallet frontend, refactor

#2718 fix(frontend): change fetchPolicy, add scripts.update
  frontend/src/pages/Community.vue
Labels: bug, service: wallet frontend

#2729 feat(federation): add dht-node to deployment scripts
  deployment/bare_metal/.env.dist
  deployment/bare_metal/install.sh
  deployment/bare_metal/start.sh
  dht-node/.env.dist
  dht-node/.env.template
  dht-node/log4js-config.json
  dht-node/src/dht_node/index.ts
Labels: devops, service: dht-node

#2724 refactor(backend): remove admin create contributions
  admin/src/components/CreationFormular.spec.js
  admin/src/components/CreationFormular.vue
  admin/src/components/NavBar.spec.js
  admin/src/components/Tables/SearchUserTable.vue
  admin/src/graphql/adminCreateContributions.js
  admin/src/pages/UserSearch.vue
  admin/src/store/store.js
  admin/src/store/store.test.js
  backend/src/auth/RIGHTS.ts
  backend/src/graphql/model/AdminCreateContributions.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/seeds/graphql/mutations.ts
  docu/Concepts/BusinessRequirements/Zeitzonen_Behandlung.md
Labels: refactor, service: backend, service: admin frontend

#2706 refactor(backend): combine logic for `listTransactionLinks` & `listTransactionLinksAdmin`
  admin/src/components/TransactionLinkList.spec.js
  admin/src/components/TransactionLinkList.vue
  admin/src/graphql/listTransactionLinksAdmin.js
  backend/src/graphql/model/TransactionLink.ts
  backend/src/graphql/resolver/TransactionLinkResolver.test.ts
  backend/src/graphql/resolver/TransactionLinkResolver.ts
  backend/src/graphql/resolver/util/transactionLinkList.ts
  backend/src/seeds/graphql/queries.ts
  frontend/src/components/Transactions/TransactionLinkSummary.spec.js
  frontend/src/components/Transactions/TransactionLinkSummary.vue
  frontend/src/graphql/queries.js
Labels: service: wallet frontend, refactor, service: backend

#2743 ci(other): rename dht node and federation workflow jobs for better branch protection maintenance
  .github/workflows/test_dht-node.yml
  .github/workflows/test_federation.yml
Labels: devops, test

#2756 fix(backend): emails – adjust namings of menus to new design
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/locales/de.json
  backend/src/locales/en.json
Labels: bug, service: backend, email
