Repository gradido/gradido, pull requests merged in 2024-03, with the labels that each got.

#3301 fix(other): add GMS_ACTIVE and GMS_URL to deploy .env.dist
  deployment/bare_metal/.env.dist
Labels: bug, service: admin frontend

#3300 fix(backend): prevent updating alias backend-side
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
Labels: bug, service: backend

#3303 docs(backend): 3302 docu usecase - user search
  docu/Concepts/TechnicalRequirements/UC_publish_user_to_GMS.md
  docu/Concepts/TechnicalRequirements/image/usecase-user_search.svg
Labels: docu, service: gms

#3291 feat(backend): 3287 feature gms user update after change user settings
  backend/src/apis/gms/GmsClient.ts
  backend/src/apis/gms/model/GmsUser.ts
  backend/src/config/index.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/compareGmsRelevantUserSettings.ts
  backend/src/graphql/resolver/util/sendUserToGms.ts
  backend/src/seeds/factory/user.ts
Labels: service: backend, service: gms
