Repository gradido/gradido, pull requests merged in 2024-04, with the labels that each got.

#3296 fix(other): v2.2.1 merge with master
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  deployment/hetzner_cloud/README.md
  deployment/hetzner_cloud/install.sh
  deployment/hetzner_cloud/migration/2_2_0-2_2_1/README.md
  deployment/hetzner_cloud/migration/2_2_0-2_2_1/fixInstall.sh
  dht-node/package.json
  dlt-connector/package.json
  federation/package.json
  frontend/package.json
  package.json
Labels: devops

#3306 feat(backend): gms user-search - backend authentication-handshake
  backend/jest.config.js
  backend/src/apis/gms/GmsClient.ts
  backend/src/auth/RIGHTS.ts
  backend/src/auth/USER_RIGHTS.ts
  backend/src/config/index.ts
  backend/src/graphql/model/GmsUserAuthenticationResult.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/authenticateGmsUserPlayground.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/server/createServer.ts
  backend/src/server/plugins.ts
  backend/src/webhook/gms.ts
Labels: feature, service: backend, service: gms

#3307 feat(frontend): gms - new menu item userplayground
  backend/.env.dist
  backend/.env.template
  backend/src/apis/gms/GmsClient.ts
  backend/src/config/index.ts
  backend/src/federation/authenticateCommunities.ts
  backend/src/federation/client/1_0/AuthenticationClient.ts
  backend/src/federation/client/1_0/FederationClient.ts
  backend/src/federation/client/1_0/SendCoinsClient.ts
  backend/src/federation/client/FederationClientFactory.ts
  backend/src/graphql/model/FederatedCommunity.ts
  backend/src/graphql/resolver/util/authenticateGmsUserPlayground.ts
  backend/src/util/utilities.ts
  deployment/bare_metal/.env.dist
  frontend/public/img/loupe.png
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/pages/UserSearch.spec.js
  frontend/src/pages/UserSearch.vue
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
Labels: feature, service: wallet frontend, service: gms

#3308 feat(backend): humhub export user function
  backend/.env.dist
  backend/.env.template
  backend/jest.config.js
  backend/package.json
  backend/src/apis/humhub/ExportUsers.ts
  backend/src/apis/humhub/HumHubClient.ts
  backend/src/apis/humhub/compareHumhubUserDbUser.test.ts
  backend/src/apis/humhub/compareHumhubUserDbUser.ts
  backend/src/apis/humhub/convertLanguage.test.ts
  backend/src/apis/humhub/convertLanguage.ts
  backend/src/apis/humhub/model/Account.ts
  backend/src/apis/humhub/model/GetUser.ts
  backend/src/apis/humhub/model/Password.ts
  backend/src/apis/humhub/model/PostUser.ts
  backend/src/apis/humhub/model/PostUserError.ts
  backend/src/apis/humhub/model/Profile.ts
  backend/src/apis/humhub/model/UsersResponse.ts
  backend/src/apis/humhub/syncUser.test.ts
  backend/src/apis/humhub/syncUser.ts
  backend/src/config/index.ts
  backend/src/data/PublishName.logic.ts
  backend/yarn.lock
  deployment/bare_metal/.env.dist
Labels: feature, service: backend

#3310 feat(backend): sync user change with humhub
  backend/src/apis/humhub/ExportUsers.ts
  backend/src/apis/humhub/__mocks__/HumHubClient.ts
  backend/src/apis/humhub/__mocks__/syncUser.ts
  backend/src/apis/humhub/syncUser.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/syncHumhub.test.ts
  backend/src/graphql/resolver/util/syncHumhub.ts
Labels: service: backend
