Repository gradido/gradido, pull requests merged in 2024-02, with the labels that each got.

#3277 feat(frontend): use params instead of query for send/identifier route
  backend/.env.dist
  backend/src/config/index.ts
  backend/src/graphql/arg/UserArgs.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/TransactionResolver.test.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/semaphore.test.ts
  backend/src/graphql/resolver/util/findUserByIdentifier.ts
  backend/src/graphql/resolver/util/findUserByIdentifiers.test.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/seeds/users/bibi-bloxberg.ts
  backend/src/util/communityUser.ts
  database/entity/0081-user_join_community/Community.ts
  database/entity/0081-user_join_community/User.ts
  database/entity/Community.ts
  database/entity/User.ts
  database/migrations/0081-user_join_community.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
  frontend/jest.config.js
  frontend/src/components/CommunitySwitch.vue
  frontend/src/components/GddSend/TransactionForm.spec.js
  frontend/src/components/GddSend/TransactionForm.vue
  frontend/src/components/TransactionRows/Name.spec.js
  frontend/src/components/TransactionRows/Name.vue
  frontend/src/graphql/queries.js
  frontend/src/pages/Login.spec.js
  frontend/src/pages/Login.vue
  frontend/src/pages/Send.spec.js
  frontend/src/pages/Send.vue
  frontend/src/routes/guards.js
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
  frontend/src/store/store.js
  frontend/src/store/store.test.js
Labels: feature, service: wallet frontend, service: backend, service: database

#3279 feat(frontend): update news text
  frontend/src/assets/News/news.json
  frontend/src/components/Overview/CommunityNews.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: wallet frontend

#3283 chore(release): v2.2.0
  CHANGELOG.md
  admin/package.json
  backend/package.json
  database/package.json
  dht-node/package.json
  dlt-connector/package.json
  federation/package.json
  frontend/package.json
  package.json
  scripts/release.sh
Labels: release

#3256 feat(backend): 3237 feature connect gms api with a new rest client
  backend/.env.dist
  backend/.env.template
  backend/package.json
  backend/src/apis/gms/GmsClient.ts
  backend/src/apis/gms/model/GmsCommunity.ts
  backend/src/apis/gms/model/GmsCommunityProfile.ts
  backend/src/apis/gms/model/GmsRoles.ts
  backend/src/apis/gms/model/GmsUser.ts
  backend/src/apis/gms/model/GmsUserAccount.ts
  backend/src/apis/gms/model/GmsUserProfile.ts
  backend/src/config/index.ts
  backend/src/graphql/enum/GmsPublishLocationType.ts
  backend/src/graphql/enum/GmsPublishNameType.ts
  backend/src/graphql/enum/GmsPublishPhoneType.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/sendUserToGms.ts
  backend/src/seeds/gmsUserList.ts
  backend/src/seeds/gmsUsers.ts
  backend/src/util/communityUser.ts
  database/entity/0082-introduce_gms_registration/Community.ts
  database/entity/0082-introduce_gms_registration/User.ts
  database/entity/0082-introduce_gms_registration/UserContact.ts
  database/entity/Community.ts
  database/entity/User.ts
  database/entity/UserContact.ts
  database/migrations/0082-introduce_gms_registration.ts
  deployment/bare_metal/.env.dist
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: feature, service: backend, service: gms

#3286 feat(workflow): add videos to deployment readme
  deployment/hetzner_cloud/README.md
Labels: devops

#3288 fix(backend): prevent running validate communities continuous
  backend/src/config/index.ts
  backend/src/federation/validateCommunities.ts
Labels: bug, service: backend, service: federation

#3290 fix(other): deployment bugfixes
  deployment/hetzner_cloud/install.sh
Labels: bug, devops

#3292 build(other): add config for nvm
  .gitignore
  admin/.nvmrc
  backend/.nvmrc
  database/.nvmrc
  dht-node/.nvmrc
  dlt-connector/.nvmrc
  dlt-database/.nvmrc
  federation/.nvmrc
  frontend/.nvmrc
Labels: devops

#3278 feat(frontend): serve frontend and admin static
  admin/package.json
  deployment/bare_metal/nginx/sites-available/gradido.conf.ssl.template
  deployment/bare_metal/nginx/sites-available/gradido.conf.template
  deployment/bare_metal/start.sh
  deployment/hetzner_cloud/install.sh
  frontend/package.json
Labels: service: wallet frontend, devops, service: admin frontend, service: nginx

#3289 refactor(backend): refactor community and add to dlt-connector
  backend/jest.config.js
  backend/src/auth/ADMIN_RIGHTS.ts
  backend/src/auth/DLT_CONNECTOR_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/graphql/arg/CommunityArgs.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/enum/RoleNames.ts
  backend/src/graphql/input/EditCommunityInput.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/util/communities.ts
  backend/src/graphql/resolver/util/findUserByIdentifier.ts
  backend/src/seeds/graphql/queries.ts
  backend/src/util/validate.ts
  backend/tsconfig.json
  dlt-connector/.env.dist
  dlt-connector/.env.template
  dlt-connector/jest.config.js
  dlt-connector/package.json
  dlt-connector/src/client/BackendClient.ts
  dlt-connector/src/config/index.ts
  dlt-connector/src/index.ts
  dlt-connector/src/interactions/backendToDb/community/HomeCommunity.role.ts
  dlt-connector/yarn.lock
Labels: feature, refactor, service: backend, service: iota

#3271 feat(admin): admin update community list
  admin/jest.config.js
  admin/package.json
  admin/src/components/Fedaration/FederationVisualizeItem.vue
  admin/src/components/Federation/CommunityVisualizeItem.spec.js
  admin/src/components/Federation/CommunityVisualizeItem.vue
  admin/src/components/Federation/FederationVisualizeItem.vue
  admin/src/components/input/EditableLabel.spec.js
  admin/src/components/input/EditableLabel.vue
  admin/src/graphql/allCommunities.js
  admin/src/graphql/getCommunities.js
  admin/src/graphql/updateHomeCommunity.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/FederationVisualize.spec.js
  admin/src/pages/FederationVisualize.vue
  backend/src/config/index.ts
  backend/src/graphql/model/AdminCommunityView.ts
  backend/src/graphql/model/FederatedCommunity.ts
  backend/src/graphql/resolver/CommunityResolver.test.ts
  backend/src/graphql/resolver/CommunityResolver.ts
  backend/src/graphql/resolver/util/communities.ts
  backend/src/seeds/graphql/queries.ts
  database/entity/0083-join_community_federated_communities/Community.ts
  database/entity/0083-join_community_federated_communities/FederatedCommunity.ts
  database/entity/Community.ts
  database/entity/FederatedCommunity.ts
  database/migrations/0083-join_community_federated_communities.ts
  dht-node/src/config/index.ts
  federation/src/config/index.ts
Labels: feature, service: backend, service: database, service: admin frontend
