Repository gradido/gradido, pull requests merged in 2025-02, with the labels that each got.

#3438 refactor(backend): test refactor better bun compatibility
  .github/workflows/test_backend.yml
  backend/src/emails/sendEmailTranslated.test.ts
  backend/src/emails/sendEmailVariants.test.ts
  backend/src/seeds/factory/user.ts
Labels: refactor, service: backend, test

#3362 fix(other): clear also ~/.cache/yarn
  deployment/bare_metal/start.sh
Labels: bug

#3441 feat(backend): darker email font for content
  backend/src/emails/__snapshots__/sendEmailVariants.test.ts.snap
  backend/src/emails/templates/includes/webflow.css
Labels: feature, service: backend, email

#3445 feat(backend): switch marker colors of community location and user location
  frontend/src/components/UserSettings/UserLocationMap.vue
Labels: service: wallet frontend

#3442 refactor(frontend): contribution form refactor
  frontend/src/components/Contributions/ContributionForm.spec.js
  frontend/src/components/Contributions/ContributionForm.vue
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/components/Contributions/OpenCreationsAmount.vue
  frontend/src/components/Inputs/InputHour.spec.js
  frontend/src/components/Inputs/InputHour.vue
  frontend/src/components/Inputs/InputTextarea.spec.js
  frontend/src/components/Inputs/InputTextarea.vue
  frontend/src/components/Inputs/LabeledInput.vue
  frontend/src/components/Inputs/ValidatedInput.vue
  frontend/src/constants.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Community.vue
  frontend/src/validationSchemas.js
  frontend/yarn.lock
Labels: bug, service: wallet frontend, refactor
