Repository gradido/gradido, pull requests merged in 2025-03, with the labels that each got.

#3452 feat(admin): optimize contribution list for ai usage
  admin/.env.dist
  admin/.env.template
  admin/src/components/CollapseIcon.vue
  admin/src/components/ContributionMessages/ContributionMessagesFormular.vue
  admin/src/components/ContributionMessages/ContributionMessagesList.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/components/NavBar.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/config/index.js
  admin/src/config/schema.js
  admin/src/graphql/adminListContributions.js
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/UserSearch.spec.js
  admin/src/pages/UserSearch.vue
  admin/vite.config.js
  backend/src/config/schema.ts
  backend/src/graphql/model/Contribution.ts
  config/src/commonSchema.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service: wallet frontend, service: backend, service: admin frontend

#3453 fix(frontend): auth style on mobile menu like in desktop
  frontend/package.json
  frontend/src/assets/scss/auth-navbar.scss
  frontend/src/assets/scss/custom/gradido-custom/_color.scss
  frontend/src/assets/scss/custom/gradido-custom/_links.scss
  frontend/src/assets/scss/gradido-template.scss
  frontend/src/assets/scss/gradido.scss
  frontend/src/components/Auth/AuthNavbar.vue
  frontend/src/components/Auth/AuthNavbarSmall.vue
  frontend/src/components/Menu/NavItem.vue
  frontend/src/components/Menu/Navbar.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Register.vue
  frontend/yarn.lock
Labels: feature, service: wallet frontend, refactor

#3454 feat(frontend): use gear instead fingerprint icon, replace svg icon
  frontend/package.json
  frontend/public/img/loupe.png
  frontend/public/img/svg/circles.svg
  frontend/public/img/svg/community.svg
  frontend/public/img/svg/home.svg
  frontend/public/img/svg/info.svg
  frontend/public/img/svg/logout.svg
  frontend/public/img/svg/my_profil.svg
  frontend/public/img/svg/qr-code.svg
  frontend/public/img/svg/send.svg
  frontend/public/img/svg/settings.svg
  frontend/public/img/svg/transaction.svg
  frontend/src/assets/scss/custom/gradido-custom/_color.scss
  frontend/src/assets/scss/gradido.scss
  frontend/src/assets/scss/navbar.scss
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/components/Template/ContentHeader/NavCommunity.vue
  frontend/src/components/TransactionLinks/TransactionLink.vue
  frontend/yarn.lock
Labels: feature, service: wallet frontend

#3457 build(other): increase nodejs version in deployment
  .github/workflows/test_dht_node.yml
  backend/.env.dist
  backend/.env.org
  backend/.env.template
  backend/.nvmrc
  backend/Dockerfile
  config/.nvmrc
  database/.env.dist
  database/.env.template
  database/.nvmrc
  database/Dockerfile
  deployment/bare_metal/start.sh
  deployment/hetzner_cloud/install.sh
  deployment/hetzner_cloud/migration/2_5_1-2_5_2/README.md
  deployment/hetzner_cloud/migration/2_5_1-2_5_2/upgradeNodeJs.sh
  dht-node/.env.dist
  dht-node/.env.template
  dht-node/.nvmrc
  dht-node/Dockerfile
  docker-compose.yml
  federation/.env.dist
  federation/.env.template
  federation/.nvmrc
  federation/Dockerfile
Labels: devops

#3458 feat(backend): upgrade typescript
  backend/jest.config.js
  backend/package.json
  backend/src/apis/gms/model/GmsUser.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/TransactionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/compareGmsRelevantUserSettings.ts
  backend/src/interactions/updateUnconfirmedContribution/AbstractUnconfirmedContribution.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UnconfirmedContributionUser.role.ts
  backend/src/interactions/updateUnconfirmedContribution/UnconfirmedContributionUserAddMessage.role.ts
  backend/src/seeds/factory/user.ts
  backend/yarn.lock
  config/package.json
  config/yarn.lock
  database/migrations/0086-add_community_location.ts
  database/package.json
  database/yarn.lock
  dht-node/package.json
  dht-node/yarn.lock
  federation/package.json
  federation/yarn.lock
Labels: feature, service: backend

#3456 feat(admin): add ai chat
  admin/.env.dist
  admin/.env.template
  admin/public/img/Crea.png
  admin/public/img/Crea.webp
  admin/src/components/AiChat.vue
  admin/src/components/ChangeUserRoleFormular.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/config/index.js
  admin/src/config/schema.js
  admin/src/graphql/aiChat.graphql
  admin/src/graphql/fragments.graphql
  admin/src/locales/de.json
  admin/src/locales/en.json
  admin/src/pages/CreationConfirm.vue
  admin/vite.config.js
  backend/.env.dist
  backend/.env.template
  backend/.env.test_e2e
  backend/.eslintrc.js
  backend/Dockerfile
  backend/jest.config.js
  backend/package.json
  backend/src/apis/openai/OpenaiClient.ts
  backend/src/apis/openai/model/Message.ts
  backend/src/auth/MODERATOR_AI_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/auth/ROLES.ts
  backend/src/config/index.ts
  backend/src/config/schema.ts
  backend/src/graphql/directive/isAuthorized.ts
  backend/src/graphql/enum/RoleNames.ts
  backend/src/graphql/input/OpenaiMessage.ts
  backend/src/graphql/model/ChatGptMessage.ts
  backend/src/graphql/resolver/AiChatResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/test/testSetup.ts
  backend/yarn.lock
  config/src/commonSchema.ts
  database/entity/0089-add_openai_threads/OpenaiThreads.ts
  database/entity/OpenaiThreads.ts
  database/entity/index.ts
  database/migrations/0089-add_openai_threads.ts
  deployment/bare_metal/.env.dist
Labels: feature, epic, devops, service: backend, service: database, service: admin frontend

#3451 feat(backend): 3347 modify overview page with humhub- and usersearch-card
  backend/.env.test_e2e
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.test.ts
  backend/src/seeds/graphql/mutations.ts
  e2e-tests/playwright/tests/global-setup.ts
  frontend/public/img/svg/usersearchmap.png
  frontend/public/img/svg/usersearchmap2.png
  frontend/public/img/svg/usersearchmap3.png
  frontend/public/img/svg/usersearchmap4.jpg
  frontend/public/img/svg/usersearchmap5.jpg
  frontend/public/img/svg/usersearchmap6.jpg
  frontend/src/components/Menu/Sidebar.spec.js
  frontend/src/components/Menu/Sidebar.vue
  frontend/src/components/Overview/CardCircles.vue
  frontend/src/components/Overview/CardUserSearch.vue
  frontend/src/components/UserSettings/UserGMSLocationFormat.spec.js
  frontend/src/components/UserSettings/UserGMSLocationFormat.vue
  frontend/src/config/index.js
  frontend/src/graphql/mutations.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/nl.json
  frontend/src/pages/Login.vue
  frontend/src/pages/Overview.spec.js
  frontend/src/pages/Overview.vue
  frontend/src/pages/Settings.vue
  frontend/src/store/store.js
  frontend/src/store/store.test.js
  frontend/vite.config.js
Labels: feature, service: wallet frontend, service: backend

#3461 fix(admin): date formatting, hashtag copy filter, no-select
  admin/src/components/ContributionMessages/slots/ContributionMessagesListItem.vue
  admin/src/components/Tables/OpenCreationsTable.vue
  admin/src/components/Tables/SearchUserTable.vue
  admin/src/pages/CreationConfirm.vue
Labels: bug, service: wallet frontend, service: admin frontend

#3460 refactor(admin): admin contribution list
  admin/src/components/ContributionMessages/ContributionMessagesList.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/components/CreationTransactionList.spec.js
  admin/src/components/CreationTransactionList.vue
  admin/src/graphql/adminListContributions.graphql
  admin/src/graphql/adminListContributions.js
  admin/src/graphql/fragments.graphql
  admin/src/pages/CreationConfirm.spec.js
  admin/src/pages/CreationConfirm.vue
  admin/src/pages/Overview.spec.js
  admin/src/pages/Overview.vue
  backend/package.json
  backend/src/auth/MODERATOR_RIGHTS.ts
  backend/src/auth/RIGHTS.ts
  backend/src/auth/USER_RIGHTS.ts
  backend/src/graphql/arg/Paginated.ts
  backend/src/graphql/arg/SearchContributionsFilterArgs.ts
  backend/src/graphql/model/Contribution.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/model/UserContact.ts
  backend/src/graphql/resolver/ContributionResolver.test.ts
  backend/src/graphql/resolver/ContributionResolver.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/extractGraphQLFields.ts
  backend/src/graphql/resolver/util/findContributions.ts
  backend/src/seeds/graphql/queries.ts
  backend/yarn.lock
Labels: refactor, service: backend, service: admin frontend

#3462 fix(admin): update field key according to changed graphlq request
  admin/src/pages/CreationConfirm.vue
Labels: bug, service: admin frontend
