Repository gradido/gradido, pull requests merged in 2025-04, with the labels that each got.

#3464 feat(other): x-com tx per link concept
  docu/Concepts/BusinessRequirements/UC_Send_Users_Gradido.md
  docu/Concepts/TechnicalRequirements/UC_X-Com-Tx_per_Link.md
  docu/Concepts/TechnicalRequirements/image/UC_Send_Users_Gradido_StartValutierung.png
  docu/Concepts/TechnicalRequirements/image/US-Send_Users_Gradido_Valutierungsprozess.png
  docu/Concepts/TechnicalRequirements/image/redeemlink-page_with-community-selection.png
  docu/Concepts/TechnicalRequirements/image/redeemlink-page_without-community-selection.png
Labels: docu

#3468 feat(frontend): gms improvements
  admin/src/components/ContributionMessages/ContributionMessagesList.spec.js
  admin/src/components/ContributionMessages/ContributionMessagesList.vue
  admin/src/graphql/adminListContributions.graphql
  admin/src/pages/CreationConfirm.vue
  admin/vite.config.js
  backend/jest.config.js
  backend/package.json
  backend/src/apis/gms/ExportUsers.ts
  backend/src/apis/gms/model/GmsUser.ts
  backend/src/apis/humhub/model/AbstractUser.ts
  backend/src/apis/humhub/model/Account.ts
  backend/src/config/index.ts
  backend/src/config/schema.ts
  backend/src/data/PublishName.logic.test.ts
  backend/src/data/PublishName.logic.ts
  backend/src/graphql/model/User.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/authenticateGmsUserPlayground.ts
  backend/src/graphql/resolver/util/compareGmsRelevantUserSettings.ts
  backend/src/graphql/resolver/util/sendUserToGms.ts
  backend/src/seeds/gmsUserList.ts
  database/logging/UserLogging.view.ts
  frontend/package.json
  frontend/src/components/Overview/CardUserSearch.vue
  frontend/src/components/UserSettings/UserGmsLocationCapturing.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/vite.config.js
Labels: feature, service: wallet frontend

#3469 feat(frontend): humhub project auto register for legacy user
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/syncHumhub.ts
  frontend/src/components/Overview/CardCircles.vue
  frontend/src/graphql/mutations.js
  frontend/src/graphql/queries.js
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/Circles.spec.js
  frontend/src/pages/Circles.vue
  frontend/src/pages/Login.vue
  frontend/src/routes/router.test.js
  frontend/src/routes/routes.js
Labels: feature, service: wallet frontend, refactor, service: backend, humhub

#3473 refactor(database): faster db version check
  .github/workflows/test_backend.yml
  .github/workflows/test_database.yml
  .github/workflows/test_dht_node.yml
  .github/workflows/test_e2e.yml
  .github/workflows/test_federation.yml
  backend/package.json
  backend/yarn.lock
  database/migrations/0044-insert_missing_contributions.ts
  database/package.json
  database/src/clear.ts
  database/src/config/index.ts
  database/src/index.ts
  database/src/prepare.ts
  database/yarn.lock
  dht-node/package.json
  federation/package.json
Labels: devops, service: database

#3476 fix(frontend): community messsages reload
  frontend/src/components/Contributions/ContributionList.vue
  frontend/src/components/Contributions/ContributionListItem.spec.js
  frontend/src/components/Contributions/ContributionListItem.vue
  frontend/src/pages/Community.vue
Labels: bug, service: wallet frontend

#3471 fix(backend): humhub sync on edge cases
  backend/src/apis/humhub/ExportUsers.ts
  backend/src/apis/humhub/__mocks__/syncUser.ts
  backend/src/apis/humhub/compareHumhubUserDbUser.test.ts
  backend/src/apis/humhub/syncUser.test.ts
  backend/src/apis/humhub/syncUser.ts
  backend/src/data/PublishName.logic.ts
  backend/src/graphql/resolver/UserResolver.ts
  backend/src/graphql/resolver/util/syncHumhub.test.ts
  backend/src/graphql/resolver/util/syncHumhub.ts
  backend/test/testSetup.ts
Labels: bug, service: backend, humhub

#3474 fix(frontend): set explicit page size for admin and moderator user on information page
  frontend/src/graphql/queries.js
  frontend/src/pages/InfoStatistic.vue
Labels: bug, service: wallet frontend
